.search-wrapper {
	padding: 16px 32px;
	background: rgba(255,255,255,0.8);
	margin-top: 30px;
	
	@include bp(s) {
		padding: 32px;
		display: flex;
		margin-top: 45px; 
	}

	input {
		
	    margin-bottom: 20px;

	    @include bp(s) {
	    	margin-bottom: 0;
	    	margin-right: 20px;
	    }
	}
}

.calendar-items-wrap{

	.event-item {
		padding: 7px ;			
		img {
			margin-bottom: 24px;
		}

		a {
			font-size: 19px !important;
			font-weight: bold;
			text-decoration: underline ;

		}
		.card-content {
			padding: 20px 15px;
			h2, h3, p { 
				color: $primary !important;
			}

		}
	}
}

.results-wrapper {
	padding: 20px 15px;
	font-weight: 700;
	font-size: 19px !important;
	border-left: 5px solid transparent;

	&.search-error {
		padding-left: 15px;
		border-left: 5px solid #b10e1e;   
	}
}

.calendar {
	padding-top: 30px;

	@include bp(m) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	}

	> table:first-child {
		display: none;
	}
}

.calendar-filters {
	padding-bottom: 30px;

	@include bp(m) {
		padding-bottom: 0;
		width: 30%;
		flex-basis: 30%;
		padding-right: 30px;

		label:not(:first-of-type) {
			border-top: 1px solid $mid-grey;
			margin-top: 12px;
			padding-top: 12px;
		}
	}

	label, 
	select {
		display: block;
		width: 100%;
	}

	input:not([type="radio"]):not(.button):not([type="button"]):not([type="checkbox"]):not([type="file"]), 
	textarea {
	   // @include reset-input;

	}

	select {
		padding: 10px;
		background: linear-gradient(45deg, transparent 50%, #000000 50%), linear-gradient(135deg, #000000 50%, transparent 50%), linear-gradient(to right, #ffffff, #ffffff);
		background-position: calc(100% - 23px) calc(1em + 0px), calc(100% - 13px) calc(1em + 0px);
		background-size: 10px 10px;
		background-repeat: no-repeat;
		border-radius: 0;
		margin: 0;
		box-sizing: border-box;
		appearance: none;
		border: 2px solid $black;

		&:focus {
		}	
	}

	select::-ms-expand {
	    display: none;
	}

	h3 {
		margin-top: 0;
	}

	.reset {
		margin-top: 10px;

		@include bp(s) {
			margin-top: 25px;
		}
	}

	span.filter-split {
		padding: 20px 0 10px 0;
		display: block;
	}

}


