/* $CORE
============= */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}


body {
    font-family: $font-primary;
    font-size: 16px;

    td, div, font, p, a, li, input, label, h1, h2, h3, h4, h5, h6 {
        font-family: $font-primary !important;
        color: $text !important;
    }

    td, div, font, p, a, li, input, label {
        font-size: 16px;
    }
}


::selection {
    background: $primary;
    color: #ffffff;
    text-shadow: none;
}

%hero-after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; 
}


/* $TYPOGRAPHY */
%h1 {
    color: $white; 
    font-size: 32px !important;
    font-family: $font-headings !important;

    @include bp(s) {
        font-size: 44px !important;
    }
}

body,
main,
#ipBlock-mainContent,
#inner_content,
.ipWidget {

    h1 {
        @extend %h1;
    }

    h1, h2, h3 {
        font-family:$font-headings !important;
    }

    h1, h2, h3 {
        margin: 24px 0 14px;

        @include bp(m) {
            margin: 32px 0 20px;
        }
    }

    h2 {
        font-size: 28px !important;
        
        &:not(:only-child) {
            margin-bottom: 10px;
        }

        @include bp(m) {
            font-size: 38px !important;
        }
    }

    h3 {
        font-size: 22px !important;

        @include bp(m) {
            font-size: 27px !important;
        }
    }

    h4 {
        font-size: 18px !important;

        @include bp(m) {
            font-size: 20px !important;
        }
    }

    p { 
        font-family: $font-primary;
        font-size: 16px;
        line-height: 24px;
    }

    .lead {
        font-size: 18px; 
        margin-top: 20px;

        @include bp(m) {
            font-size: 22px;
        }
    }

    q {
        font-style: italic;
        font-size: 18px;

        @include bp(m) {
            font-size: 22px;
        }
    }

}

b, 
strong {
    font-family: $font-bold !important;
}

/* $LINKS
============= */
.ipWidget,
#inner_content {
    a,
    a:link,
    a:visited {
        color: $links !important;
        transition: all .2s ease-out;

        &:focus,
        &:hover{
            text-decoration: underline;
            color: $primary !important;
        }
    }
}


/* $BUTTONS */
%btn {
    font-family: $font-primary !important;
    color: $secondary !important;
    background: $primary !important;
    transition: all .2s ease-out;
        border-radius: 5px !important;
    padding: 12px 15px !important;
    min-width: 180px;
    font-size: 16px !important;
    line-height: 16px;
    font-weight: normal;
    display: inline-block;
    text-align: center;
        text-decoration: none !important;

        border: 0 !important;

    &:hover,
    &:active,
    &:focus {
        color: $white !important;
        background: $secondary !important;
        text-decoration: none !important;
    }
}

%btn-primary {
    z-index: 2;

    &:hover {
        color: $white !important;
    }
}

%btn-secondary{
    
    color: $white !important;
    background: $secondary !important;
    border: 1px solid $secondary !important;

    &:hover,
    &:active,
    &:focus {
        color: $secondary !important;
        background: $white !important;
        border-color: $secondary !important;
    }
}


.ipWidget .btn, 
.btn,
.button,
.r-reg-buttons a,
.cc-btn, 
#inner_content input.button.r-button,
#inner_content a.btn,
body.ve #outer_table .btn-system-test {

    @extend %btn;

    &.btn-primary {
        @extend %btn-primary;
    }
    &.btn-secondary {
        @extend %btn-secondary;
    }
}

/* $LAYOUT
============= */

// Remove padding from nested rows
.row .row > div[class^="col-"] {
    padding: 0;
}

/* $COMMON
============= */ 

.no-pad {
    padding: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

.no-pad-bottom {
    padding-bottom: 0 !important;
}

.center {
    * {
        text-align: center;
    }
}

/* $GENERAL
============= */

/* $HEADER */

.logo-header,
.navigation {
    @include bp(lt-m) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 20;
    }
}

/* $FOOTER
============= */

footer {
    

    * {
        color: $white;
    }

    .row {
        @include verticallyCenter;

        @include bp(lt-s) {
            flex-direction: column;
        } 
    }

    .logo {
        @include bp(m) {
            width: 152px;
        }

        @include bp(lt-s) {
            text-align: center;
        }
    }

    img {
        width: auto !important; 
    } 

    a {
        color: $white !important;

    }


}


/* $HELPERS
============= */

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 

    iframe, 
    object, 
    embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
} 

