@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
// fonts
$font-stack: sans-serif, Helvetica, Arial;
$font-primary: 'EuclidCircularA-Bold', $font-stack;
$font-bold: 'EuclidCircularA-Bold';
$font-headings: $font-bold;
$font-cursive: 'Caveat', sans-serif, Helvetica, Arial;
$font-menu: $font-primary;
$icon-font: "Font Awesome 5 Free";


@font-face {
	font-family: 'EuclidCircularA-Bold';
	src: url('https://au-admin.eventscloud.com/docs/100007765/EuclidCircularA-Bold.woff') format(woff);
}

