// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$primary: #003087; 
$secondary: #DCB751;
$gold:#DCB751;
$black: #000;
$white: #FFFFFF;
$grey: #636468;
$mid-grey: #ccc;
$light-grey: #f2f2f4;
$links: #003781;
$nav-hover: $links;
$red: #a8000b;
$green: #008580;

$text:#3c3c3c;
$success: $green;
$error: $red;
$form-border: rgba($black,0.5);

// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';

$header-height: 80px;
$header-height-mobile: 60px; 