@font-face {
  font-family: 'OpenSans-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body.website {
  background-color: #FFF;
}

/* $CORE
============= */
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* $TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  line-height: 1;
  margin-top: 0;
}

h1 {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

h4 {
  font-size: 20px;
  font-weight: normal;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

h6 {
  font-size: 14px;
  font-weight: normal;
}

.website .ipWidget {
  font-size: 16px;
}

.website .ipWidget p {
  line-height: 1.4;
}

.website .ipWidget ul {
  list-style-type: disc;
}

.lead-section p {
  font-size: 20px;
}

/* $LINKS
============= */
a,
a:link,
a:visited {
  color: #ED0037;
}

a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover {
  text-decoration: underline;
}

/* $BUTTONS */
.btn {
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .btn {
    width: 100%;
  }
}

/* $LAYOUT
============= */
.row .row > div[class^="col-"] {
  padding: 0;
}

/* $COMMON
============= */
.no-pad {
  padding: 0 !important;
}

.no-pad-top {
  padding-top: 0 !important;
}

.no-pad-bottom {
  padding-bottom: 0 !important;
}

.center * {
  text-align: center;
}

/* $GENERAL
============= */
/* $HEADER */
header,
.branding-hdr {
  z-index: 10;
  box-sizing: border-box;
}

header .ipWidget-EImage,
header .logo-img-container,
.branding-hdr .ipWidget-EImage,
.branding-hdr .logo-img-container ,
.logo-img-container{
  text-align: center;
}

header .ipWidget-EImage a,
header .logo-img-container a,
.branding-hdr .ipWidget-EImage a,
.branding-hdr .logo-img-container a {
  display: flex;
  align-items: center;
  height: 50px;
}

header img,
.branding-hdr img {
  width: 100%x;
  max-width: 100%;
  height: auto !important;
  max-width: 100% !important;
}



@media only screen and (min-width: 992px) {
  header img,
  .branding-hdr img {
    float: none !important;
  }
}

.language-selector-container {
  display: block;
  position: absolute;
  z-index: 9;
  right: 15px;
  top: 50px;
  width: auto !important;
}

@media only screen and (min-width: 992px) {
  .language-selector-container {
    top: 100px;
  }
}

.language-selector-container select {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #FFF !important;
  background-color: #181818;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-border-radius: 0px !important;
  border: 0 !important;
  padding: 10px 30px 10px 20px !important;
  margin: 0 !important;
  font-size: 12px !important;
  font-weight: bold;
  width: auto !important;
  background: linear-gradient(45deg, #181818 50%, #FFF 50%), linear-gradient(135deg, #FFF 50%, #181818 50%);
  background-position: calc(100% - 17px) calc(1em + 4px), calc(100% - 12px) calc(1em + 4px), 100% 0;
  background-size: 5px 5px,
 5px 5px,
 2.5em 2.5em;
  background-repeat: no-repeat;
  background-color: #181818;
  min-width: 110px;
}

.language-selector-container select::-ms-expand {
  display: none;
}

/* $FOOTER
============= */
#ipBlock-footer {
  background: #293138;
}

#ipBlock-footer .footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  #ipBlock-footer .footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#ipBlock-footer .footer *:not(.fab) {
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  #ipBlock-footer .footer .row {
    display: flex;
    align-items: center;
  }
}

/* $HELPERS
============= */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* $CUSTOM COOKIE
============= */
a.cc-btn.cc-dismiss {
  border: 1px solid white;
}

/* $LAYOUT
============= */
body {
  margin: 0 auto;
  box-shadow: 0px 0px 52px 3px #c9c9c9;
}

body.survey_builder {
  max-width: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

td, div, font, p, label, .red {
  font-size: 16px;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
}

td {
  vertical-align: middle;
}

header {
  position: fixed;
  height: auto;
  background: #ffffff;
  width: 100%;
}

body.survey_builder header {
  display: none;
}

img[alt="Event registration banner"] {
  display: none;
}

.event-logo {
  width: 100% !important;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.event-logo img {
  max-width: 160px;
  height: auto;
  width: 160px;
  padding: 15px;
}

.event-logo p.baseline {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 17px !important;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .event-logo p.baseline {
    display: none;
  }
}

.container, #outer_table {
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 750px;
  width: 100%;
  margin: auto !important;
}

@media only screen and (min-width: 768px) {
  .container, #outer_table {
    max-width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container, #outer_table {
    max-width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container, #outer_table {
    max-width: 1170px;
  }
}

#outer_table {
  width: 100%;
  background: #FFF;
  margin: 0 auto;
  min-height: 100vh;
}

.logo-img-container {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  margin: auto;
}

.logo-img-container img {
      width: auto !important;
    margin-top: 38px;
    max-width: 100%;
    max-height: 250px;

}

@media only screen and (max-width: 991px) {
  .logo-img-container img{
      margin-top: 30px;
      max-width: 100%;
  }
}

.logo-img-container * {
  position: relative;
  z-index: 2;
}

#inner_content {
  display: block;
  background-color: #FFF;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 40px !important;
  padding-bottom: 60px !important;
}

@media only screen and (min-width: 992px) {
  #inner_content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

#inner_content img {
  max-width: 100%;
  height: auto;
}

div[id*="qt_"] {
  margin-bottom: 30px;
}

div[id*="qt_"] h3 {
  display: inline;
}

div[id*="qt_"] h3 em {
  font-size: 14px;
}

div[id*="qt_"] > table > tbody > tr:first-child td {
  font-size: 18px;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  color: #181818;
}

div[id*="qt_"] > table > tbody > tr:nth-child(2) {
  padding-top: 12px;
  display: block;
}

div[id*="qt_"] > table > tbody > tr:nth-child(2) > td {
  display: block;
}

font.red {
  color: rgba(168, 0, 11, 0.75);
  padding: 2px 4px;
  background: #efefef;
  margin-left: 9px;
  line-height: 30px;
  font-size: 12px;
}

font.red:after {
  content: "Required";
  font-size: 12px;
  margin-left: 4px;
  letter-spacing: 0.05em;
}

td.red {
  color: #a8000b;
  margin-top: 15px !important;
  display: block;
}

@media only screen and (min-width: 992px) {
  .matrix .mobile {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .matrix > table > tbody > tr > td > table:first-child {
    display: none;
  }
}

/* $FORMS
============= */
input[type="text"],
textarea {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}

input[type="text"] {
  height: 40px;
}

select {
  height: 40px !important;
  border-radius: 0;
}

@media only screen and (max-width: 767px) {
  select {
    width: 100%;
  }
}

form tr {
  background: transparent !important;
}

.error {
  border: 1px solid red !important;
}

.redLabel {
  color: red !important;
}

p.header {
  display: none;
}

td[style="height:20px;"],
td[style="height: 20px;"] {
  display: none !important;
}

table#button_table input[type="submit"] {
  font-family: 'OpenSans-Regular', Arial, sans-serif !important;
  color: #FFF !important;
  background: #003595;
  -webkit-appearance: none;
  border: 1px solid #003595 !important;
  transition: all .2s ease-out;
  border-radius: 6px !important;
  padding: 13px 30px !important;
  min-width: 180px;
  font-size: 14px !important;
}

table#button_table input:hover[type="submit"], table#button_table input:focus[type="submit"] {
  color: #FFF !important;
  border: 1px solid #003595 !important;
  background: #003595 !important;
}

table#button_table {
  width: auto !important;
}

@media only screen and (min-width: 768px) {
  table#button_table {
    display: table !important;
    margin: 0 auto !important;
  }
}

table#button_table input[type="image"] {
  display: none;
}

table#button_table input[type="submit"] {
  display: block !important;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  table#button_table input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  table#button_table #next_butt,
  table#button_table #done_butt {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  table#button_table #next_butt,
  table#button_table #done_butt {
    float: right;
    margin-left: 10px;
  }
}

table#button_table #prev_butt {
  background: transparent;
  color: #F9F904 !important;
}

@media only screen and (min-width: 768px) {
  table#button_table #prev_butt {
    float: left;
  }
  table#button_table #prev_butt:focus, table#button_table #prev_butt:hover {
    color: white !important;
  }
}

/* ========== Responsive Style ============ */
@media only screen and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 0) {
  form select,
  form textarea,
  form input {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 991px) {
  /* CSS Responsive table */
  table:not(.picker__table):not(#button_table),
  table:not(#button_table) thead,
  table:not(#button_table) tbody,
  table:not(#button_table) th:not([class^=picker]),
  table:not(#button_table) td:not([class^=picker]):not(#inner_content),
  table:not(#button_table) tr {
    display: block;
    width: 100% !important;
    padding: 0;
    margin: 0px;
    border: none !important;  
  }
  table.picker__table tbody,
  table.picker__table thead {
    display: table-row-group;
  }
  table.picker__table tr {
    display: table-row;
  }
  table.picker__table td {
    display: table-cell;
  }
  table#q7092883 {
    padding-left: 3%;
  }
  table.r-table,
  table.r-table thead,
  table.r-table tbody,
  table.r-table th,
  table.r-table td,
  table.r-table tr {
    width: inherit !important;
    padding: inherit !important;
    margin: inherit !important;
    border: inherit !important;
  }
  table.r-table {
    width: 100% !important;
  }
  table.r-table th,
  table.r-table td {
    display: table-cell !important;
    padding: 5px !important;
    font-size: 13px !important;
  }
  table.r-table tr {
    display: table-row;
  }
  table.r-table td:first-child {
    width: 50% !important;
  }
  td {
    text-align: left;
  }
  td.questionLabel {
    text-align: left;
  }
  td input[type="checkbox"],
  td input[type="radio"] {
    float: right !important;
    width: 20px !important;
  }
  input[type="image"] {
    width: auto !important;
  }
  td img[alt="arrow"] {
    float: left;
  }
  td.header {
    padding: 5px !important;
  }
  input[type=checkbox],
  input[type=radio] {
    line-height: 1em;
    margin: 0 0.25em 0 0 !important;
    padding: 0 !important;
  }
}

label {
  font-weight: normal;
  display: block;
}

/* 2020 styling */
.custom-form {
  /* radio buttons */
  /* input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} */
  /* checkboxes */
}

.custom-form span.help-text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  display: block;
}

.custom-form input[type="text"], .custom-form textarea {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #DAE0E4;
}

.custom-form input[type="text"]:focus, .custom-form textarea:focus {
  border: 1px solid #ED0037;
  outline: 0px solid #ED0037;
}

.custom-form input[type="text"] {
  height: 50px;
}

@media only screen and (min-width: 992px) {
  .custom-form .label-row {
    display: flex;
  }
}

.custom-form .label-row[data-children="2"] td {
  width: auto;
  flex: 0 1 auto;
}

.custom-form .label-row .label-container {
  border: 0px solid red;
  display: block;
  flex: 1;
}

.custom-form input[type="radio"] + label {
  background-color: #eff0f1;
  border: 1px solid #eff0f1;
  color: #181818;
  padding: 18px;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .custom-form input[type="radio"] + label {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .custom-form input[type="radio"]:focus + label,
  .custom-form input[type="radio"] + label:hover {
    background: linear-gradient(0deg, rgba(237, 0, 55, 0.2), rgba(237, 0, 55, 0.2)), #fff;
  }
}

.custom-form input[type="radio"]:checked + label {
  background: linear-gradient(0deg, rgba(237, 0, 55, 0.2), rgba(237, 0, 55, 0.2)), #fff;
  background: #ED0037;
  border-color: #ED0037;
  color: white;
  text-shadow: 0px 0px 1px white;
}

.custom-form div[id*="qt_"] table:not(:empty) {
  width: 100%;
}

.custom-form input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-form input[type="checkbox"] + label {
  cursor: pointer;
  width: 100%;
  color: #333;
  display: block;
  height: 100%;
  font-weight: normal !important;
  position: relative;
  padding: 18px 18px 18px 45px;
  display: flex !important;
  flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .custom-form input[type="checkbox"] + label {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
  }
}

.custom-form input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 8px;
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #eff0f1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .custom-form input[type="checkbox"] + label:after {
    top: 8px;
    left: 8px;
  }
}

.custom-form input[type="checkbox"]:checked ~ label:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 6px;
  top: 13px;
  left: 13px;
  border: 3px solid #ED0037;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  z-index: 9;
}

@media only screen and (min-width: 992px) {
  .custom-form [data-label="Name"],
  .custom-form [data-label="Company"] {
    float: left;
    width: 50%;
  }
}

.custom-form .has-error {
  background: rgba(168, 0, 11, 0.1);
  padding: 15px 20px 0;
  border-left: 4px solid #a8000b;
}

.custom-form .has-error img {
  display: none;
}

input[type="text"], select {
  width: 100%;
  border: 1px solid #cccccc;
}

select:active, select:focus, textarea:active, textarea:focus, input:active, input:focus {
  color: #181818;
}

p.survey-question {
  display: inline-block;
}

@media only screen and (min-width: 992px) {
  .banner-text {
    position: absolute;
    top: 50%;
    max-width: 1170px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .banner-text h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .matrix > table > tbody > tr:last-child > td > div > table:not(:first-child) > tbody > tr {
    display: flex;
  }
  .matrix > table > tbody > tr:last-child > td > div > table:first-child > tbody > tr > td > table > tbody > tr {
    display: flex;
    width: 35% !important;
    float: right;
  }
  div[role=radiogroup] > table:not(:first-child) > tbody > tr {
    display: flex !important;
  }
  #qt_104116370 div[role=radiogroup] > table:first-child > tbody > tr > td > table > tbody > tr {
    display: flex;
    flex-flow: row;
    width: 41% !important;
    float: right;
  }
  .logo-img-container img {
    margin-top: 0px;
  }
  .banner-text {
    position: absolute;
    top: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    margin: auto;
    width: 65%;
  }
  .banner-text h1 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=master-survey.css.map */