/* $CORE
============= */
*,
*:before,
*:after {

}

html { 
    
}

body {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

/* $TYPOGRAPHY */

h1,h2,h3,h4,h5,h6 {
	// font-weight: 500; 
	color: $black;
	line-height: 1;
	margin-top: 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h1 {
    font-size: 38px;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: normal;
}

h5 {
    font-size: 16px;
    font-weight: normal;
}

h6 {
    font-size: 14px;
    font-weight: normal;
}

.website { 
	.ipWidget {
		font-size: 16px;

		p {
			line-height: 1.4;
		}

		ul {
			list-style-type: disc;
		}

	}

}

.lead-section p {
	font-size: 20px;
}

/* $LINKS
============= */

a,
a:link,
a:visited {
	color: $links;

	&:focus,
	&:hover{
		text-decoration: underline;
	}
}


/* $BUTTONS */
.btn {
	text-transform: uppercase;

	@include bp(lt-s) {
		width: 100%;
	}
}

// .btn-secondary:hover, 
// .btn-secondary:focus {
// 	background-color: $white;
// }


/* $LAYOUT
============= */

// Remove padding from nested rows
.row .row > div[class^="col-"] {
	padding: 0;
}


/* $COMMON
============= */ 

.no-pad {
	padding: 0 !important;
}

.no-pad-top {
	padding-top: 0 !important;
}

.no-pad-bottom {
	padding-bottom: 0 !important;
}

.center {
	* {
		text-align: center;
	}
}




/* $GENERAL
============= */

/* $HEADER */

header,
.branding-hdr {
	z-index: 10;
	box-sizing: border-box;



    .ipWidget-EImage,
    .logo-img-container {
    	text-align: center;

		a {
			@include verticallyCenter;
			height: $header-height-mobile;
		}



    }
    
	img {
        width: 100%x;
        max-width: 100%;
        height: auto !important;
        max-width: 100% !important;
        
        @include bp(m) {
        	float: none !important;
    	}

    }
}




.ipBlock-header {

}

.language-selector-container {
    display: block;
    position: absolute;
    z-index: 9;
    right: 15px;
    top: $header-height-mobile;
    width: auto !important;

    @include bp(m) {
    	top: $header-height;
    }

	select {   
	    box-sizing: border-box;
	    text-transform: uppercase;
	    color: $white !important;
	    background-color: $black;
	    border-radius: 0 !important;
	    -webkit-appearance: none !important;
	    -moz-appearance: none !important;	    
	    -webkit-border-radius: 0px !important;
	    border: 0 !important;
	    padding: 10px 30px 10px 20px !important;
	    margin: 0 !important;
	    font-size: 12px !important;
	    font-weight: bold;
	    width: auto !important;
	   
	    background:
	    	linear-gradient(45deg, $black 50%, $white 50%),
	    	linear-gradient(135deg, $white 50%, $black 50%);
	    background-position:
	    	calc(100% - 17px) calc(1em + 4px),
	    	calc(100% - 12px) calc(1em + 4px),
	    	100% 0;
	    background-size:
	    	5px 5px,
	    	5px 5px,
	    	2.5em 2.5em;
	    background-repeat: no-repeat;
	    background-color: $black;
	    min-width: 110px;
	}

	select::-ms-expand {
	    display: none;
	}
}

/* $FOOTER
============= */
#ipBlock-footer {
	background: #293138;

	.footer {
		padding-top: 80px;
		padding-bottom: 80px;

		@include bp(lt-s) {
			text-align: center;
			padding-top: 40px;
			padding-bottom: 40px; 
		}

		*:not(.fab) { 
			color: $white; 
		}

		.row {
			@include bp(s) {
				display: flex;
			    align-items: center;
			}
		}
	}
}

/* $HELPERS
============= */

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	iframe, 
	object, 
	embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
} 

.js-fadein {
	// opacity: 0;
}


/* $CUSTOM COOKIE
============= */
a.cc-btn.cc-dismiss {
    border: 1px solid white;
}

