// FONTS EU
@font-face {
    font-family: 'CBABeaconSans-Regular';
    src: url('https://cbaevents.cba.com.au/docs/100007705/CBABeaconSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'CBABeaconSans-Bold';
    src: url('https://cbaevents.cba.com.au/docs/100007705/CBABeaconSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'CBABeaconSans-ExtraBold';
    src: url('https://cbaevents.cba.com.au/docs/100007705/CBABeaconSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'aventriIcons';
    src: url('https://cbaevents.cba.com.au/docs/200007945/aventriIcons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  