// FONT SETTING for GOOGLE FONTS *************************************************
// Setting font font-family below using Google Fonts selected for this template.
// These can be overridden in the editor by selecting a different font.

// .ipWidget { //These settingd are REQUIRED to be inside the .ipWidget class to override properly 

//     p, div, body, html,
//     h4, h5, h6 {
//         font-family: 'Open Sans', sans-serif;
//         font-weight: 400;
//     }
    
//     h1, h2, h3, .btn {
//         font-family: 'Open Sans', Georgia, serif;
//     }
//     .btn {
//         text-transform: uppercase;
//     }
//     // Override for Font Weight in navigation
//     .navbar-default .navbar-nav > li > a {
//         font-weight: 500;
//     }
// }

// END FONT SETTING for GOOGLE FONTS *********************************************************
body.website {
	background-color: $white;
}