/* $LAYOUT
============= */
body {
    margin: 0 auto;
    box-shadow: 0px 0px 52px 3px #c9c9c9;

	&.survey_builder {
		max-width: none;
	}
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

td, div, font, p, label, .red {
	font-size: 16px;
	font-family: $font-primary;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-primary;
	font-family: $font-bold;
}

td {
	vertical-align: middle;
}

header {
	position: fixed;
    height: auto;
    background: #ffffff;
    width: 100%;

	@include bp(m) {

	}

	body.survey_builder & {
		display: none;
	}
}

img[alt="Event registration banner"] {
	display: none;
}

.event-logo {
	width: 100% !important;
	max-width: 1170px;
	margin: 0 auto;
	// border-bottom: 1px solid $grey !important;
	padding: 0px;
	display: flex;
    align-items: center;
    justify-content: flex-start;

	img {
		max-width: 190px;
		height: 48px;
		width: 190px;
	    // margin-right: 40px;
	}

    p.baseline {
    	font-family: $font-primary;
	    font-size: 17px !important;
	    margin: 0;

	    @include bp(lt-m) {
	    	display: none;
	    }
    }
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
	max-width: 750px;
	width: 100%;
	margin: 0 auto;

	@include bp(s) {
		max-width: 750px;
	}

	@include bp(m) {
		max-width: 970px;
	}

	@include bp(l) {
		max-width: 1170px;
	}
}



#outer_table {
	// box-shadow: 0px 0px 52px 3px #c9c9c9;
	width: 100%;
	background: $white;
	margin: 0 auto;
	min-height: 100vh;
	@extend .container;
}



.logo-img-container {
	width: 1170px !important;
    height: auto !important;
    max-width: 100%;
    margin: auto;
	img {
		width: 100% !important;
	}

	// h1 {
	// 	@extend .container;
	// 	@extend %h1;
	// }

	// &:after {
	// 	@extend %hero-after;
	// }

	* {
		position: relative;
		z-index: 2;
	}
}





#inner_content {
	display: block;
	// @extend .container;
	background-color: $white;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 40px !important;
	padding-bottom: 60px !important;

	@include bp(m) {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	img {
	    max-width: 100%;
	    height: auto;
	}
}

div[id*="qt_"] {
	margin-bottom: 30px;

	h3 {
		display: inline;

		em {
			font-size: 14px;
		}
	}

	> table > tbody > tr {
		&:first-child {
			td {
				font-size: 18px;
				font-family: $font-primary;
				color: $black;
			}
		}

		&:nth-child(2) {
			padding-top: 12px;
			display: block;

			> td {
				display: block;
			}
		}
	}
}

font.red {
	color: rgba($error,0.75);
	padding: 2px 4px;
  background: #efefef;
  margin-left: 9px;
  line-height: 30px;
  font-size: 12px;

	&:after {
		content: "Required";
		font-size: 12px;
		margin-left: 4px;
		letter-spacing: 0.05em;
	}
}


td.red {
	// margin-bottom: 20px !important
	color: $error;
	margin-top: 15px !important;
	display: block;
}

//Fix for radio button matrix questions

.matrix {

	.mobile {
		@include bp(m){
			display: none;
		}
	}

	@include bp(lt-m){
		> table > tbody > tr > td > table:first-child {
			display: none;
		}
	}

}



/* $FORMS
============= */

input[type="text"], 
textarea {
	padding: 10px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
}

input[type="text"] {
	height: 40px;
}

select {
	height: 40px !important;
	border-radius: 0;
	@include bp(lt-s) {
		width: 100%;
	}
}

form tr {
	background: transparent !important;
}

.error {
	border: 1px solid red !important; 
}

.redLabel {
	color: red !important;	
}

#inner_content > .red {
	// margin-bottom: 80px;
}

p.header {
	display: none;
}

td[style="height:20px;"],
td[style="height: 20px;"] {
	display: none !important;
}


%btn {
	font-family: $font-primary !important;
	color: $black !important;
	background: $primary;
	-webkit-appearance: none;
	border: 1px solid $primary !important;
	transition: all .2s ease-out;
	border-radius: 24px !important;
	padding: 13px 30px !important;
	min-width: 180px;
	font-size: 14px !important;

	&:hover,
	&:focus {
	    color: $black !important;
	    border: 1px solid $lighter-primary !important;
	    background: $lighter-primary !important;
	}
}

table#button_table {
    width: auto !important;

    @include bp(s){
    	display: table !important;
    	margin: 0 auto !important;
    }

    input[type="image"] {
    	display: none;
    }

    input[type="submit"] {
    	display: block !important;
    	cursor: pointer;
    	@extend %btn;

    	@include bp(lt-s){
    		margin-left: auto;
    		margin-right: auto;
    	}

    }

	#next_butt,
    #done_butt {
    	@include bp(lt-s){
    		margin-bottom: 10px;
    	}

    	@include bp(s){
    		float: right;
    		margin-left: 10px;
    	}
    }

    #prev_butt {
    	background: transparent;
    	color: $secondary !important;


    	@include bp(s){
    		float: left;

    		&:focus, 
    		&:hover {
    			color: white !important;
    		}
    	}
    }
    
  //   @include bp(lt-s){
  //   	#next_butt,
	 //    #done_butt {
		// 	margin-bottom: 10px;
		// }

		// input[type="submit"] {
		// 	margin-left: auto;
		// 	margin-right: auto;
		// }
  //   }




}



/* ========== Responsive Style ============ */

@include bp(lt-m) {	
	form {
		@media screen and (-webkit-min-device-pixel-ratio:0) { 
			select,
			textarea,
			input {
				font-size: 16px !important;
			}
		}
	}

	/* CSS Responsive table */
	table:not(.picker__table),
	table thead,
	table tbody,
	table th:not([class^=picker]),
	table td:not([class^=picker]):not(#inner_content),
	table tr {
		display: block;
		width: 100% !important;
		padding: 0;
		margin: 0px;
		border: none !important;
	}

	table.picker__table tbody,
	table.picker__table thead {
		display: table-row-group;
	}

	table.picker__table tr {
		display: table-row;
	}

	table.picker__table td {
		display: table-cell;
	}
	
	table#q7092883 {
		padding-left: 3%;
	}
	
	table.r-table,
	table.r-table thead,
	table.r-table tbody,
	table.r-table th,
	table.r-table td,
	table.r-table tr {
		width: inherit !important;
		padding: inherit !important;
		margin: inherit !important;
		border: inherit !important;
	}

	table.r-table {
		width: 100% !important;
	}

	table.r-table th,
	table.r-table td {
		display: table-cell !important;
		padding: 5px !important;
		font-size: 13px !important;
	}

	table.r-table tr {
		display: table-row;
	}

	table.r-table td:first-child {
		width: 50% !important
	}

	td {
		text-align: left;
	}

	td.questionLabel {
		text-align: left;
	}
	
	td input[type="checkbox"],
	td input[type="radio"] {
		float: right !important;
		width: 20px !important;
	}

	input[type="image"] {
		width: auto !important;
	}

	td img[alt="arrow"] {
		float: left;
	}



	td.header {
		padding: 5px !important;
	}

	input[type=checkbox],
	input[type=radio] {
		line-height: 1em;
		margin: 0 0.25em 0 0 !important;
		padding: 0 !important;
	}
}

label {
	font-weight: normal;
	cursor: pointer;
	display: block;
}

form {

	.error {
	}

	input[type="text"],textarea,select {
		&:focus,&:active {    
		}
	}

	input[type="text"]:not(.error), textarea:not(.error) { 
		&:focus,&:active {    
		}
	}

	select:not(.error) {

	}

	input:-webkit-autofill {
	}
}



/* 2020 styling */

.custom-form {

span.help-text {
	font-family: $font-primary;
	display: block;
}

input[type="text"], textarea {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #DAE0E4;
    box-shadow: 0 15px 30px rgba(135,145,158,0.22);

    &:focus {
	    border: 1px solid $primary ;
	    outline: 0px solid $primary;
    }
}

input[type="text"] {
	height: 50px;
}

/* radio buttons */

.label-row {
	@include bp(m) {
		display: flex;
	}

	&[data-children="2"] td {
	    width: auto;
	    flex: 0 1 auto;
	}

	.label-container {
		border: 0px solid red;
		display: block;
		flex: 1;
	}
}

input[type="radio"] {
    // display: none;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="radio"] + label {
    background-color: $grey-light;
    border: 1px solid $grey-light;
    color: $black;
    padding: 18px;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp(m) {
    	margin-bottom: 0;
    	// padding: 8px;
    }
}
input[type="radio"]:focus + label,
input[type="radio"] + label:hover {
    @include bp(m) {
	    background: linear-gradient(0deg,rgba($lighter-primary,.2),rgba($lighter-primary,.2)),#fff;
	}
}

input[type="radio"]:checked + label {
    background: linear-gradient(0deg,rgba($lighter-primary,.2),rgba($lighter-primary,.2)),#fff;
    background: $primary;
    border-color: $primary;
    color: white;
    // font-weight: bold;
    text-shadow: 0px 0px 1px white;
}

/* checkboxes */
div[id*="qt_"] table:not(:empty) {
    width: 100%;
}

input[type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input[type="checkbox"] + label {
	cursor: pointer;
    width: 100%;
    color: #333;
    display: block;
    height: 100%;
    font-weight: normal !important;
    position: relative;
    padding: 18px 18px 18px 45px;

    display: flex !important;
    flex-direction: column;

    @include bp(m) {
    	padding-top: 8px;
    	padding-bottom: 8px;
    	padding-right: 8px;
    }

    &:after {
	    content: '';
	    position: absolute;
	    top: 16px;
	    left: 8px;
	    opacity: 1;
	    width: 20px;
	    height: 20px;
	    border-radius: 3px;
	    background-color: $grey-light;
	    display: inline-block;
	    vertical-align: middle;
	    cursor: pointer;
	    transition: all 0.2s ease-in-out;

            @include bp(s){
		        top: 8px;
	            left: 8px;
            }
    }

}

input[type="checkbox"]:checked ~ label {
	// border-color: $success;
	// box-shadow: 0 0 0 1px $success;

	// &:after {
 //        border: 2px solid $white;
 //        background: $success;
 //        box-shadow: 0 0 0 1px $black;
 //    }

    &:before {
	    content: '';
	    position: absolute;
	    width: 12px;
	    height: 6px;
	    top: 13px;
	    left: 13px;
	    border: 3px solid $primary;
	    border-top: none;
	    border-right: none;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    z-index: 9;
	}
}

// show them in the back end

input[type="radio"],
input[type="checkbox"] {
	// border: 0;
	// clip: rect(0 0 0 0);
	// height: 1px;
	// margin: -1px;
	// overflow: hidden;
	// padding: 0;
	// position: absolute;
	// width: 1px;
}




//Custom float for first name and last name
@include bp(m) {
	[data-label="Name"],
	[data-label="Company"] {
		float: left;
		width: 50%;
	}
}

.has-error {
    background: rgba($error, 0.1);
    padding: 15px 20px 0;
    border-left: 4px solid rgba($error, 1);
}

.has-error img {
    display: none;
}

}

input[type="text"], select {
	width: 100%;
	border: 1px solid #cccccc;
}


select:active, select:focus, textarea:active, textarea:focus, input:active, input:focus {
	color: #181818;
}

p.survey-question {
    display: inline-block;
}



@media only screen and (max-width: 768px) {
	.matrix > table > tbody > tr:last-child > td > div > table:not(:first-child) > tbody > tr {
		display: flex;
	}

	.matrix > table > tbody > tr:last-child > td > div > table:first-child > tbody > tr > td > table > tbody > tr {
		display: flex;
		width: 35% !important;
		float: right;
	}
}