// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$red: rgb(168, 0, 11);
$amber: #e8a215;
$green: #008580;

$primary: #FFCD00; 
$lighter-primary: #fcd121;
$darker-primary: #e6b905;

$secondary: #F9F904;
$lighter-secondary: #fafa41;
$darker-secondary: #e3e302;

$black: #181818;
$white: #FFF;

$grey: #EEEEEE;
$grey-light: #eff0f1;
$grey-dark: #DADADA;
$grey-darker: #2F3D52;

$links: $primary;

$form-border: #DAE0E4;
$success: $green;
$error: $red;

// fonts
$font-stack: Arial, sans-serif;
$font-primary: "CBABeaconSans-Regular", $font-stack;
$font-bold: "CBABeaconSans-Bold", $font-stack;
$icon-font: fontAwesome;

$header-height: 100px;
$header-height-mobile: 50px;