@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
::selection {
  background: #2E4A77 !important;
  color: inherit;
  text-shadow: none;
}

.sponsor-widget {
  padding: 0;
}
@media only screen and (min-width: 480px) {
  .sponsor-widget .sponsor-item-container {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .sponsor-widget .sponsor-item-container {
    width: 25%;
  }
}
.sponsor-widget div.sponsor-item .sponsor-img-wrap div.sponsor-img-wrap-inner-div {
  border: 1px solid #f2f2f2;
  box-shadow: none;
}
.sponsor-widget div.sponsor-item .sponsor-img-wrap div.sponsor-img-wrap-inner-div img {
  max-width: 100%;
}
.sponsor-widget div.sponsor-item .item-content h3.sponsor-name {
  color: #2A2E38;
  font-family: "Open Sans", sans-serif, Helvetica, Arial;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
}
.sponsor-widget div.sponsor-item .item-content a.more-link {
  font-family: "Open Sans", sans-serif, Helvetica, Arial;
  color: #2A2E38;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 20px;
  display: inline-block;
  position: relative;
  padding-left: 25px;
}
.sponsor-widget div.sponsor-item .item-content a.more-link:before {
  font-family: FontAwesome;
  content: "";
  color: #5E4045;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=sponsors-reset.css.map */
