<!-- ==================== Speaker Widget Custom Code ==================== -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;600;700;900&family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://ps.eventscloud.com/_internal-projects/website-designs/dubai-design-v2/css/speakers-reset.css">

<!-- ==================== Agenda Widget Custom Code ==================== -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;600;700;900&family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://ps.eventscloud.com/_internal-projects/website-designs/dubai-design-v2/css/agenda-reset.css">

<!-- ==================== Sponsors Widget Custom Code ==================== -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;600;700;900&family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://ps.eventscloud.com/_internal-projects/website-designs/dubai-design-v2/css/sponsors-reset.css">
