@charset "UTF-8";
/* $CORE
============= */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Gotham Book", sans-serif, Helvetica, Arial;
  font-size: 16px; }
  body td, body div, body font, body p, body a, body li, body input, body label, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Gotham Book", sans-serif, Helvetica, Arial !important;
    color: #3c3c3c !important; }
  body td, body div, body font, body p, body a, body li, body input, body label {
    font-size: 16px; }

::-moz-selection {
  background: #5c068c;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #5c068c;
  color: #ffffff;
  text-shadow: none; }

html:before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }

/* $TYPOGRAPHY */
body h1,
main h1,
#ipBlock-mainContent h1,
#inner_content h1,
.ipWidget h1, #outer_table .reg-header-header {
  color: #ffffff;
  font-size: 32px !important;
  font-family: "Gotham Black", "Gotham Bold", sans-serif, Helvetica, Arial !important; }
  @media only screen and (min-width: 768px) {
    body h1,
    main h1,
    #ipBlock-mainContent h1,
    #inner_content h1,
    .ipWidget h1, #outer_table .reg-header-header {
      font-size: 44px !important; } }

body h1, body h2, body h3,
main h1,
main h2,
main h3,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#inner_content h1,
#inner_content h2,
#inner_content h3,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  font-family: "Gotham Black", "Gotham Bold", sans-serif, Helvetica, Arial !important; }

body h1, body h2, body h3,
main h1,
main h2,
main h3,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#inner_content h1,
#inner_content h2,
#inner_content h3,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  margin: 24px 0 14px; }
  @media only screen and (min-width: 992px) {
    body h1, body h2, body h3,
    main h1,
    main h2,
    main h3,
    #ipBlock-mainContent h1,
    #ipBlock-mainContent h2,
    #ipBlock-mainContent h3,
    #inner_content h1,
    #inner_content h2,
    #inner_content h3,
    .ipWidget h1,
    .ipWidget h2,
    .ipWidget h3 {
      margin: 32px 0 20px; } }

body h2,
main h2,
#ipBlock-mainContent h2,
#inner_content h2,
.ipWidget h2 {
  font-size: 28px !important; }
  body h2:not(:only-child),
  main h2:not(:only-child),
  #ipBlock-mainContent h2:not(:only-child),
  #inner_content h2:not(:only-child),
  .ipWidget h2:not(:only-child) {
    margin-bottom: 10px; }
  @media only screen and (min-width: 992px) {
    body h2,
    main h2,
    #ipBlock-mainContent h2,
    #inner_content h2,
    .ipWidget h2 {
      font-size: 38px !important; } }

body h3,
main h3,
#ipBlock-mainContent h3,
#inner_content h3,
.ipWidget h3 {
  font-size: 22px !important; }
  @media only screen and (min-width: 992px) {
    body h3,
    main h3,
    #ipBlock-mainContent h3,
    #inner_content h3,
    .ipWidget h3 {
      font-size: 27px !important; } }

body h4,
main h4,
#ipBlock-mainContent h4,
#inner_content h4,
.ipWidget h4 {
  font-size: 18px !important; }
  @media only screen and (min-width: 992px) {
    body h4,
    main h4,
    #ipBlock-mainContent h4,
    #inner_content h4,
    .ipWidget h4 {
      font-size: 20px !important; } }

body p,
main p,
#ipBlock-mainContent p,
#inner_content p,
.ipWidget p {
  font-family: "Gotham Book", sans-serif, Helvetica, Arial;
  font-size: 16px;
  line-height: 24px; }

body .lead,
main .lead,
#ipBlock-mainContent .lead,
#inner_content .lead,
.ipWidget .lead {
  font-size: 18px;
  margin-top: 20px; }
  @media only screen and (min-width: 992px) {
    body .lead,
    main .lead,
    #ipBlock-mainContent .lead,
    #inner_content .lead,
    .ipWidget .lead {
      font-size: 22px; } }

body q,
main q,
#ipBlock-mainContent q,
#inner_content q,
.ipWidget q {
  font-style: italic;
  font-size: 18px; }
  @media only screen and (min-width: 992px) {
    body q,
    main q,
    #ipBlock-mainContent q,
    #inner_content q,
    .ipWidget q {
      font-size: 22px; } }

b,
strong {
  font-family: "Gotham Bold", sans-serif, Helvetica, Arial !important; }

/* $LINKS
============= */
.ipWidget a,
.ipWidget a:link,
.ipWidget a:visited,
#inner_content a,
#inner_content a:link,
#inner_content a:visited {
  color: #5c068c !important;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  .ipWidget a:focus, .ipWidget a:hover,
  .ipWidget a:link:focus,
  .ipWidget a:link:hover,
  .ipWidget a:visited:focus,
  .ipWidget a:visited:hover,
  #inner_content a:focus,
  #inner_content a:hover,
  #inner_content a:link:focus,
  #inner_content a:link:hover,
  #inner_content a:visited:focus,
  #inner_content a:visited:hover {
    text-decoration: underline;
    color: #5c068c !important; }

/* $BUTTONS */
.ipWidget .btn,
.btn,
.button,
.r-reg-buttons a,
.cc-btn,
#inner_content input.button.r-button,
#inner_content a.btn,
body.ve #outer_table .btn-system-test, .ereg #inner_content input.button.r-button, body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary {
  font-family: "Gotham Book", sans-serif, Helvetica, Arial !important;
  color: #ffffff !important;
  background: #C89519 !important;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border-radius: 5px !important;
  padding: 12px 25px !important;
  min-width: 180px;
  font-size: 16px !important;
  line-height: 16px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  border: 0 !important; }
  
  .btn:hover,
  .button:hover,
  .r-reg-buttons a:hover,
  .cc-btn:hover,
  #inner_content input.button.r-button:hover,
  #inner_content a.btn:hover,
  body.ve #outer_table .btn-system-test:hover, body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary:hover,
  .btn:active,
  .button:active,
  .r-reg-buttons a:active,
  .cc-btn:active,
  #inner_content input.button.r-button:active,
  #inner_content a.btn:active,
  body.ve #outer_table .btn-system-test:active, body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary:active,
  .btn:focus,
  .button:focus,
  .r-reg-buttons a:focus,
  .cc-btn:focus,
  #inner_content input.button.r-button:focus,
  #inner_content a.btn:focus,
  body.ve #outer_table .btn-system-test:focus, body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary:focus {
    color: #ffffff !important;
    background: #702283 !important;
    text-decoration: none !important; }

.ipWidget .btn.btn-primary,
.btn.btn-primary,
.button.btn-primary,
.r-reg-buttons a.btn-primary,
.cc-btn.btn-primary,
#inner_content input.button.r-button.btn-primary,
#inner_content a.btn.btn-primary,
body.ve #outer_table .btn-system-test.btn-primary {
  z-index: 2; }
  
  .btn.btn-primary:hover,
  .button.btn-primary:hover,
  .r-reg-buttons a.btn-primary:hover,
  .cc-btn.btn-primary:hover,
  #inner_content input.button.r-button.btn-primary:hover,
  #inner_content a.btn.btn-primary:hover,
  body.ve #outer_table .btn-system-test.btn-primary:hover {
    color: #ffffff !important; }

/* $LAYOUT
============= */
.row .row > div[class^="col-"] {
  padding: 0; }

/* $COMMON
============= */
.no-pad {
  padding: 0 !important; }

.no-pad-top {
  padding-top: 0 !important; }

.no-pad-bottom {
  padding-bottom: 0 !important; }

.center * {
  text-align: center; }

/* $GENERAL
============= */
/* $HEADER */
@media only screen and (max-width: 991px) {
  .logo-header,
  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20; } }

/* $FOOTER
============= */
footer {
  background-color: #2A2E38;
  padding: 20px 0; }
  @media only screen and (min-width: 768px) {
    footer {
      padding: 40px 0; } }
  footer * {
    color: #ffffff; }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 767px) {
      footer .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media only screen and (min-width: 992px) {
    footer .logo {
      width: 152px; } }
  @media only screen and (max-width: 767px) {
    footer .logo {
      text-align: center; } }
  footer img {
    width: auto !important; }
  footer a {
    color: #ffffff !important; }

/* $HELPERS
============= */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* $EREG
============= */
/* $LAYOUT
============= */
html {
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-attachment: fixed !important; }
  @media only screen and (min-width: 768px) {
    html {
      background-size: cover !important; } }
  @media only screen and (min-width: 992px) {
    html {
      background-position: center !important; } }
  html body {
    padding-top: 0; }
    @media only screen and (min-width: 992px) {
      html body {
        padding-top: 0; } }
    html body:before {
      background: transparent !important; }
  html body:not(.ereg) {
    padding: 0 !important;
    margin: 0 !important; }
    html body:not(.ereg) > table {
      padding: 10px !important;
      position: fixed;
      overflow-y: auto; }

#outer_table {
  width: 100% !important; }
  #outer_table #inner_content {
    max-width: 940px;
    display: block;
    margin: 0px auto 0 !important;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    padding: 0; }
    @media only screen and (max-width: 991px) {
      #outer_table #inner_content {
        padding: 20px !important; } }
    @media only screen and (min-width: 768px) {
      #outer_table #inner_content {
        margin-top: 0px !important;
        margin-bottom: 80px !important; } }
    #outer_table #inner_content > table {
      max-width: 960px;
      margin: 0 auto;
      padding: 40px; }
      #outer_table #inner_content > table h1, #outer_table #inner_content > table h2, #outer_table #inner_content > table h3, #outer_table #inner_content > table h4, #outer_table #inner_content > table h5, #outer_table #inner_content > table h6 {
        color: #702283 !important; }
      #outer_table #inner_content > table .container-fluid.header-content-container > div > h3 {
        margin: 0;
        font-family: "Gotham Bold", sans-serif, Helvetica, Arial !important; }
        #outer_table #inner_content > table .container-fluid.header-content-container > div > h3 span {
          font-size: 0.6em !important;
          position: relative;
          top: -8px; }
      @media only screen and (max-width: 991px) {
        #outer_table #inner_content > table .container-fluid.header-content-container > div {
          padding: 0 !important; } }
      #outer_table #inner_content > table form .questionContainer {
        position: relative; }
        #outer_table #inner_content > table form .questionContainer.checkbox-wrap {
          position: relative;
          margin-left: 0 !important; }
          #outer_table #inner_content > table form .questionContainer.checkbox-wrap td.standard.questionInput {
            width: 30px !important; }
            @media only screen and (max-width: 991px) {
              #outer_table #inner_content > table form .questionContainer.checkbox-wrap td.standard.questionInput {
                width: 100% !important; } }
            @media only screen and (max-width: 991px) {
              #outer_table #inner_content > table form .questionContainer.checkbox-wrap td.standard.questionInput .checkbox-container {
                margin-top: 8px !important;
                float: left; } }
            @media only screen and (max-width: 991px) {
              #outer_table #inner_content > table form .questionContainer.checkbox-wrap td.standard.questionInput .checkbox-container input[type=checkbox] {
                float: left !important;
                width: 20px !important; } }
            #outer_table #inner_content > table form .questionContainer.checkbox-wrap td.standard.questionInput span.red {
              position: absolute;
              top: -10px;
              left: 10px;
              font-size: 14px !important; }
          #outer_table #inner_content > table form .questionContainer.checkbox-wrap td.questionLabel {
            width: calc(100% - 30px) !important; }
      #outer_table #inner_content > table form #buttontable {
        margin-top: 15px; }

@media (min-width: 801px) {
  html,
  #outer_table {
    min-width: auto !important; } }

body td.questionLabel,
body td.questionInput,
body label,
body .header,
body .headercell,
body .maincell,
body .maincellover,
body .off,
body .on,
body .red,
body .redLabel,
body .selectbox,
body .standard,
body a.footer:link,
body a.footer:visited,
body a.menu:link,
body a.menu:visited,
body a.menu_standard:link,
body a.menu_standard:visited,
body a.redLabel:link,
body a.redLabel:visited,
body div,
body font,
body input,
body p,
body select,
body td,
body textarea,
#inner_content td.questionLabel,
#inner_content td.questionInput,
#inner_content label,
#inner_content .header,
#inner_content .headercell,
#inner_content .maincell,
#inner_content .maincellover,
#inner_content .off,
#inner_content .on,
#inner_content .red,
#inner_content .redLabel,
#inner_content .selectbox,
#inner_content .standard,
#inner_content a.footer:link,
#inner_content a.footer:visited,
#inner_content a.menu:link,
#inner_content a.menu:visited,
#inner_content a.menu_standard:link,
#inner_content a.menu_standard:visited,
#inner_content a.redLabel:link,
#inner_content a.redLabel:visited,
#inner_content div,
#inner_content font,
#inner_content input,
#inner_content p,
#inner_content select,
#inner_content td,
#inner_content textarea {
  font-size: 16px !important;
  font-weight: normal;
  font-family: "Gotham Book", sans-serif, Helvetica, Arial !important;
  text-transform: none; }

body span.red[id*=errorDescription],
#inner_content span.red[id*=errorDescription] {
  font-size: 14px !important; }

/* $GENERAL
============= */
/* $HEADER */
#outer_table .branding-hdr {
  padding: 0px !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  @media only screen and (min-width: 992px) {
    #outer_table .branding-hdr {
      height: 80px; } }
  #outer_table .branding-hdr .logo-img-container {
    text-align: left !important;
    padding: 0 !important; }
  #outer_table .branding-hdr img {
    width: 100% !important;
    max-width: 280px;
    max-height: 100%;
    margin: auto;
    display: block;
    padding: 40px 0; }
    @media only screen and (min-width: 992px) {
      #outer_table .branding-hdr img {
        max-height: auto; } }
    @media only screen and (max-width: 991px) {
      #outer_table .branding-hdr img {
        max-width: 200px; } }
  #outer_table .branding-hdr h1 {
    max-width: 940px;
    width: 100%;
    margin: 0 auto !important;
    display: block;
    text-align: left !important;
    position: relative; }
  @media only screen and (max-width: 991px) {
    #outer_table .branding-hdr .baseline {
      display: none; } }
  #outer_table .branding-hdr .baseline p {
    font-family: "Gotham Black", "Gotham Bold", sans-serif, Helvetica, Arial !important;
    font-size: 17px !important; }

@media only screen and (max-width: 800px) {
  .logo-img-container {
    padding: 20px; } }

#outer_table tr.nav-related-vars-container {
  margin: auto;
  display: block;
  width: 940px;
  z-index: 1;
  background: #2A2E38; }
  @media only screen and (min-width: 992px) {
    #outer_table tr.nav-related-vars-container {
      top: 0; } }
  #outer_table tr.nav-related-vars-container .new-desktop-nav {
    padding: 0 !important;
    background: #5c068c;
    -webkit-box-shadow: 0 -3px 3px rgba(4, 4, 4, 0.1);
            box-shadow: 0 -3px 3px rgba(4, 4, 4, 0.1); }
    #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs {
      margin-left: auto;
      margin-right: auto;
      border: 0;
      max-width: 1170px;
      background: transparent; }
      #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li {
        padding-top: 0;
        border: 0;
        position: relative; }
        #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.on {
          background: transparent !important;
          -webkit-box-shadow: none;
                  box-shadow: none;
          color: #5c068c; }
          #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.on a {
            color: #ffffff !important; }
          @media only screen and (min-width: 992px) {
            #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.on:before {
              width: 100%; } }
        @media only screen and (min-width: 800px) {
          #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li:not(:first-of-type) a:before {
            margin-right: 20px;
            content: "";
            font-family: FontAwesome;
            font-weight: 900;
            color: #ffffff;
            display: inline-block; } }
        #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li a,
        #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.previous-step a {
          border: 0 !important;
          color: #ffffff !important;
          font-size: 16px !important;
          font-family: "Gotham Book", sans-serif, Helvetica, Arial !important;
          padding: 12px 10px;
          line-height: 24px; }
          #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li a:hover, #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li a:focus,
          #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.previous-step a:hover,
          #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.previous-step a:focus {
            text-decoration: none !important; }
      #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs span.r-count {
        z-index: 10; }

/* $LANGUAGE SELECTOR */
#outer_table td.reg-header-cont-cont,
#outer_table .reg-header-container {
  background-color: transparent !important; }

#outer_table .reg-header-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  display: block;
  padding: 0 20px; }

#outer_table .reg-header-header {
  padding: 0; }
  @media only screen and (max-width: 800px) {
    #outer_table .reg-header-header {
      padding: 0px !important; } }

#outer_table td.language-selector-container {
  display: block;
  background-color: #ffffff;
  height: 38px;
  top: -48px;
  right: 20px;
  width: 100%;
  display: block;
  z-index: 9;
  text-align: left;
  padding: 0 !important; }
  @media only screen and (min-width: 992px) {
    #outer_table td.language-selector-container {
      top: -60px; } }
  #outer_table td.language-selector-container .language-wrapper span:after {
    font-size: 18px;
    font-family: FontAwesome;
    color: #2A2E38 !important;
    content: "\f107";
    position: absolute !important;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    pointer-events: none;
    padding-top: 1px; }
  #outer_table td.language-selector-container select {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    padding: 6px 20px 6px 12px !important;
    height: 38px;
    margin: 0 !important;
    font-size: 16px !important;
    font-weight: normal;
    width: auto !important;
    background: #ffffff;
    border-width: 0 !important;
    border-radius: 0;
    border-color: #ccc;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 !important;
    color: #2A2E38 !important;
    min-width: 0;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) {
      #outer_table td.language-selector-container select {
        font-size: 12px !important; } }
    #outer_table td.language-selector-container select::-ms-expand {
      display: none; }
  #outer_table td.language-selector-container select::-ms-expand {
    display: none; }

/* $PAGE STYLES
============= */
body.index #inner_content ul,
body.index #inner_content ol {
  padding: 40px;
  margin-left: -20px;
  margin-right: -20px; }
  @media only screen and (min-width: 768px) {
    body.index #inner_content ul,
    body.index #inner_content ol {
      margin-left: 0;
      margin-right: 0; } }
  body.index #inner_content ul li,
  body.index #inner_content ol li {
    line-height: 23px; }
    body.index #inner_content ul li:not(:last-child),
    body.index #inner_content ol li:not(:last-child) {
      margin-bottom: 20px; }

@media only screen and (max-width: 767px) {
  body.index #inner_content ol {
    padding: 40px 20px; } }

body.index #inner_content ul {
  background: #f4f5f6;
  position: relative;
  z-index: 0;
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    body.index #inner_content ul {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 60px;
         -moz-column-gap: 60px;
              column-gap: 60px; } }

body.index #inner_content ol {
  background: #2A2E38; }
  @media only screen and (min-width: 768px) {
    body.index #inner_content ol {
      width: 65%; } }
  body.index #inner_content ol li {
    list-style: none;
    font-size: 20px;
    color: #ffffff !important; }
    body.index #inner_content ol li span {
      font-size: 38px;
      font-weight: bold; }

body.index #inner_content a {
  padding: 0px !important; }
  body.index #inner_content a input.button {
    display: inline !important; }

@media (min-width: 801px) {
  #outer_table ul.r-mobile.pagebreaks li {
    border: none; }
    #outer_table ul.r-mobile.pagebreaks li a {
      text-decoration: none;
      background-color: #f4f5f6 !important;
      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      border-radius: 0;
      border-right: 1px solid #ffffff; }
    #outer_table ul.r-mobile.pagebreaks li.selected a,
    #outer_table ul.r-mobile.pagebreaks li a:hover {
      background-color: #702283 !important;
      color: #2A2E38 !important; } }

/* New Page Style with side bar */
body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1),
body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) {
  width: 30%; }
  body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div,
  body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div {
    padding: 30px 20px 10px !important;
    background: rgba(110, 110, 110, 0.05);
    border-bottom: 4px solid #702283; }
    @media only screen and (max-width: 991px) {
      body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div,
      body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div {
        padding: 20px !important;
        width: 100%;
        margin-bottom: 30px !important; } }
    body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div h4, body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div h1,
    body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div h4,
    body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div h1 {
      margin: 0;
      color: #3c3c3c !important; }
    body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div p,
    body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div p {
      margin: 10px 0 25px; }
    body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div ul,
    body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div ul {
      padding-left: 20px; }
  @media only screen and (max-width: 767px) {
    body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(1),
    body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(1) {
      width: 100%; } }

body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(2),
body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(2) {
  padding-left: 20px; }
  @media only screen and (max-width: 767px) {
    body.newreg #outer_table #inner_content > table > tbody > tr > td:nth-child(2),
    body.record #outer_table #inner_content > table > tbody > tr > td:nth-child(2) {
      padding-left: 0px !important; } }

/* New Page Style with side bar */
body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) {
  width: 35%; }
  body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div {
    padding: 20px !important;
    background-color: #f2f2f2; }
    @media only screen and (max-width: 767px) {
      body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div {
        padding: 20px !important;
        width: 100%; } }
    body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div h4 {
      margin: 0; }
    body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div p {
      margin-top: 5px; }
    body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) > div ul {
      padding-left: 20px; }
  @media only screen and (max-width: 767px) {
    body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(1) {
      width: 100%; } }

body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(2) {
  padding-left: 40px; }
  @media only screen and (max-width: 767px) {
    body.welcome #outer_table #inner_content > table > tbody > tr > td:nth-child(2) {
      padding-left: 0px !important; } }

#inner_content .requiredlabel {
  font-size: 12px !important; }

/* $FORM SYTLES
============= */
.questionLabel {
  text-transform: inherit !important;
  padding: 0; }

@media only screen and (max-width: 991px) {
  #outer_table table.r-standard > tbody tr {
    padding: 0 !important; } }

@media only screen and (max-width: 991px) {
  #outer_table table.r-standard > tbody tr.category-selection-tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

form {
  margin: 20px auto !important; }
  form > table:not(.questionLabelAbove) > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px; }
    form > table:not(.questionLabelAbove) > tbody > tr > td.questionLabel {
      height: auto; }
  @media only screen and (max-width: 991px) {
    form {
      padding: 0 !important; } }

.requiredlabel {
  font-size: 12px !important; }

.ereg #inner_content select {
  padding-right: 25px !important;
  border-radius: 4px !important;
  border-width: 1px;
  min-height: 42px;
  width: 100% !important;
  max-width: 100% !important; }
  .ereg #inner_content select:focus {
    outline: none !important; }

.ereg #inner_content input:not([type="checkbox"]), .ereg #inner_content textarea {
  border-radius: 4px !important;
  border-width: 1px;
  width: 100% !important;
  max-width: 100% !important;
  min-height: 42px; }
  .ereg #inner_content input:not([type="checkbox"]):focus, .ereg #inner_content textarea:focus {
    outline: none !important; }

.ereg #inner_content input[type="text"] {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1 !important; }

@media (max-width: 800px) {
  .ereg #inner_content input[type="text"],
  .ereg #inner_content select:not([class^=picker]) {
    min-width: 100%; } }

.ereg #inner_content textarea {
  padding: 10px; }

.ereg #inner_content input[type="submit"],
.ereg #inner_content input[type="button"],
.ereg #inner_content input[type="radio"] {
  min-height: unset;
  width: auto !important; }

.ereg #inner_content input.button.r-button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 160px !important; }

a[href*="printrecord"] {
  text-decoration: none !important; }
  a[href*="printrecord"] input {
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

html td.questionInput select:not([class^=picker]),
html td.questionInput input,
html td.questionInput textarea {
  border-color: rgba(42, 46, 56, 0.5); }

.red,
.redLabel {
  color: #a8000b !important; }

table[data-questiontype="3"].questionLabelLeft {
  position: relative; }
  table[data-questiontype="3"].questionLabelLeft .questionLabel {
    width: 90% !important;
    text-align: left; }
    @media only screen and (min-width: 992px) {
      table[data-questiontype="3"].questionLabelLeft .questionLabel {
        width: 95% !important; } }
  @media only screen and (max-width: 991px) {
    table[data-questiontype="3"].questionLabelLeft .questionInput {
      position: absolute;
      right: 3px;
      top: 8px;
      width: 30px !important; }
      table[data-questiontype="3"].questionLabelLeft .questionInput .checkbox-container {
        margin: 0 !important; } }

.ereg .picker__box {
  padding: 1em; }

.travel-section-container td[width="175"] {
  display: none; }

.travel-section-container b {
  font-size: 22px;
  margin-bottom: 20px;
  display: block; }

/* $TABLE STYLES */
.needs-table-color,
tr.needs-table-color,
.needs-tablerowcolor1,
.needs-tablerowcolor2,
tr.needs-table-color .header {
  background: #ffffff !important; }

tr.needs-table-color .header {
  border-bottom: 4px solid #5c068c;
  padding: 15px !important;
  text-align: left; }
  tr.needs-table-color .header b {
    font-size: 22px; }

.r-table > tbody > tr.needs-table-color ~ tr > td,
.reg-record-display > tbody > tr.needs-table-color ~ tr > td,
.agenda-day-container > tbody > tr.needs-table-color ~ tr > td {
  border-bottom: 1px solid #f2f2f2;
  vertical-align: baseline; }

.r-table td.questionInput,
.r-table td.questionLabel,
.reg-record-display td.questionInput,
.reg-record-display td.questionLabel,
.agenda-day-container td.questionInput,
.agenda-day-container td.questionLabel {
  height: auto !important; }
  .r-table td.questionInput input[type="checkbox"],
  .r-table td.questionLabel input[type="checkbox"],
  .reg-record-display td.questionInput input[type="checkbox"],
  .reg-record-display td.questionLabel input[type="checkbox"],
  .agenda-day-container td.questionInput input[type="checkbox"],
  .agenda-day-container td.questionLabel input[type="checkbox"] {
    margin-top: 4px !important; }

.agenda-day-container + .agenda-day-container {
  margin-top: 24px; }

.agenda-day-container tbody tr[bgcolor="#eeeeee"] {
  background-color: #eeeeee !important;
  background: #eeeeee !important; }
  .agenda-day-container tbody tr[bgcolor="#eeeeee"] td table tbody tr td {
    background-color: transparent !important;
    background: transparent !important; }
    .agenda-day-container tbody tr[bgcolor="#eeeeee"] td table tbody tr td span table tr {
      background: transparent !important;
      background-color: transparent !important; }

.r-table,
.reg-record-display {
  border-bottom: 0 !important;
  margin-top: 24px; }
  @media (max-width: 800px) {
    .r-table td,
    .reg-record-display td {
      display: block !important;
      width: 100% !important; } }

/* $REGRECORD */
.record .r-table td {
  padding: 12px; }

.record tr.needs-table-color .header {
  text-align: center; }

.record .r-table,
.record .reg-record-display {
  border-bottom: 0 !important;
  margin-top: 24px; }
  @media (max-width: 800px) {
    .record .r-table tr,
    .record .r-table td,
    .record .reg-record-display tr,
    .record .reg-record-display td {
      display: block !important;
      width: 100% !important;
      font-size: 16px !important; }
    .record .r-table tr,
    .record .reg-record-display tr {
      border-bottom: 1px solid #dadada !important;
      padding: 12px 0 !important; } }

.record .btn-lobby {
  display: inline-block; }

/* $FOOTER
============= */
#inner_content .footer-content-container {
  padding: 0 !important; }

#inner_content footer {
  background-color: #2A2E38;
  padding: 40px 20px;
  margin: 60px -20px -20px;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    #inner_content footer {
      padding: 60px 40px; } }
  @media only screen and (min-width: 992px) {
    #inner_content footer {
      margin-left: -40px;
      margin-right: -40px; } }
  #inner_content footer * {
    color: #ffffff !important; }
  #inner_content footer p {
    color: white;
    font-weight: 400;
    font-size: 14px !important;
    margin: 0; }

#inner_content .customfooter {
  background: #5c068c;
  padding: 15px 40px;
  color: #fff !important;
  font-size: 12px !important; }
  #inner_content .customfooter .foot-img {
    margin: 0 0 15px; }
  #inner_content .customfooter a {
    font-size: inherit !important;
    text-decoration: underline; }
    #inner_content .customfooter a:hover {
      text-decoration: none; }
  @media only screen and (max-width: 991px) {
    #inner_content .customfooter {
      padding: 15px;
      margin-top: 40px;
      text-align: center; } }

#outer_table .linkSnippetVersion {
  background-color: #ffffff;
  padding: 13px 0 15px !important;
  border-top: 1px solid #f4f5f6 !important; }
  #outer_table .linkSnippetVersion > table {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px !important; }

.poweredBy {
  padding: 0 !important; }

.footer-box {
  padding: 40px 60px;
  background: #225392; }

.footer-box .container p {
  color: #ffffff !important; }

body.payment .invoice-section {
  display: none; }

.logo-img-container img {
  padding: 60px 0px; }

.logo-img-container a {
  text-align: center;
  width: 100%;
  display: block; }

td:empty {
  display: none; }

.newreg tr.category-selection-tr > td[width="175"] {
  width: 30px !important;
  text-align: left; }
  @media only screen and (max-width: 991px) {
    .newreg tr.category-selection-tr > td[width="175"] {
      width: 20px !important; } }

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

@media only screen and (max-width: 600px) {
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto; } }

select {
  font-family: "Gotham Book", sans-serif, Helvetica, Arial !important; }
  select option {
    font-family: "Gotham Book", sans-serif, Helvetica, Arial !important; }

/* $VIRTUAL EVENT
============= */
body.ve {
  /* $LOGIN PAGE */
  /* $LOBBY PAGE */ }
  body.ve form {
    max-width: 350px;
    padding: 20px !important;
    margin-top: 0 !important; }
    @media only screen and (max-width: 767px) {
      body.ve form {
        width: 100% !important; } }
    body.ve form .questionInput input {
      margin-bottom: 5px; }
    body.ve form td.questionInput input[type=text],
    body.ve form html td.questionInput input[type=password] {
      width: 100% !important; }
  body.ve #outer_table {
    /* $PROFILE */
    /* $LOBBY */
    /* $System Check Modal */ }
    body.ve #outer_table .branding-hdr h1 {
      padding: 0; }
    body.ve #outer_table #inner_content {
      padding: 0 !important; }
    body.ve #outer_table .ve-header {
      height: 100%; }
    body.ve #outer_table .mobile-user-profile {
      position: absolute;
      top: 0;
      right: 25px; }
    body.ve #outer_table .user-profile-trigger {
      background: transparent; }
      body.ve #outer_table .user-profile-trigger i {
        color: #5c068c;
        font-size: 30px !important; }
      body.ve #outer_table .user-profile-trigger .profile-edit-icon {
        background-color: #2A2E38; }
    body.ve #outer_table .container-fluid {
      max-width: 940px; }
    body.ve #outer_table .header-content-container {
      background: #ffffff;
      padding: 40px 20px 20px; }
      @media only screen and (min-width: 992px) {
        body.ve #outer_table .header-content-container {
          padding: 60px 40px 20px; } }
      body.ve #outer_table .header-content-container :first-child {
        margin-top: 0; }
      body.ve #outer_table .header-content-container .scroll {
        text-decoration: none;
        display: block;
        margin: 40px auto;
        text-align: center;
        line-height: normal;
        font-weight: bold;
        position: relative;
        padding-bottom: 20px; }
        @media only screen and (min-width: 992px) {
          body.ve #outer_table .header-content-container .scroll {
            margin-bottom: 40px; } }
        body.ve #outer_table .header-content-container .scroll:after {
          font-family: 'fontAwesome';
          content: '\f078';
          display: block;
          font-size: 20px;
          -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
          position: absolute;
          left: 0;
          right: 0; }
        body.ve #outer_table .header-content-container .scroll:hover:after {
          margin-top: 5px; }
    @media only screen and (min-width: 768px) {
      body.ve #outer_table .profile-container {
        max-width: 100%;
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%; } }
    body.ve #outer_table .profile-container .profile {
      padding: 20px;
      background: #2A2E38;
      position: relative; }
      body.ve #outer_table .profile-container .profile svg.profile-shape {
        display: none; }
        body.ve #outer_table .profile-container .profile svg.profile-shape path {
          fill: #5c068c;
          opacity: 1; }
    body.ve #outer_table .profile-container figure {
      position: absolute;
      left: 20px;
      top: 20px;
      margin: 0; }
    body.ve #outer_table .profile-container .profile-placeholder {
      background-color: #5c068c !important;
      font-weight: bold;
      font-size: 40px !important;
      color: #ffffff !important;
      width: 90px;
      height: 90px;
      line-height: 50px; }
    body.ve #outer_table .profile-container .profile-content {
      padding: 0 0 0 140px; }
      body.ve #outer_table .profile-container .profile-content * {
        color: #ffffff !important; }
      body.ve #outer_table .profile-container .profile-content :first-child {
        margin-top: 0 !important; }
      body.ve #outer_table .profile-container .profile-content p {
        margin-bottom: 0 !important; }
      body.ve #outer_table .profile-container .profile-content .logout {
        position: absolute;
        bottom: 10px;
        left: 28px; }
      body.ve #outer_table .profile-container .profile-content .profile-name {
        margin: 20px 0 10px 0; }
      body.ve #outer_table .profile-container .profile-content span {
        font-size: 14px !important;
        font-weight: bold;
        line-height: 20px; }
    body.ve #outer_table .lobby-container {
      padding-bottom: 60px;
      padding-top: 20px; }
      @media only screen and (min-width: 768px) {
        body.ve #outer_table .lobby-container {
          max-width: 100%;
          -webkit-box-flex: 100%;
              -ms-flex: 100%;
                  flex: 100%; } }
      body.ve #outer_table .lobby-container nav {
        padding: 0 20px; }
        @media only screen and (min-width: 992px) {
          body.ve #outer_table .lobby-container nav {
            padding: 0 40px; } }
      body.ve #outer_table .lobby-container .nav-tabs {
        border-color: #5c068c; }
        body.ve #outer_table .lobby-container .nav-tabs a.nav-item {
          text-decoration: none;
          background-color: #2A2E38;
          color: #ffffff !important;
          -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
          border-right: 2px solid #ffffff; }
          body.ve #outer_table .lobby-container .nav-tabs a.nav-item.active, body.ve #outer_table .lobby-container .nav-tabs a.nav-item:hover {
            background-color: #5c068c; }
            body.ve #outer_table .lobby-container .nav-tabs a.nav-item.active:after, body.ve #outer_table .lobby-container .nav-tabs a.nav-item:hover:after {
              display: none; }
        body.ve #outer_table .lobby-container .nav-tabs.speaker-tab-group {
          background-color: transparent;
          padding: 0 18px;
          margin: 40px 0; }
          @media only screen and (min-width: 992px) {
            body.ve #outer_table .lobby-container .nav-tabs.speaker-tab-group {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              padding: 0 38px; } }
          body.ve #outer_table .lobby-container .nav-tabs.speaker-tab-group a.nav-item {
            background-color: #2A2E38 !important;
            color: #ffffff !important;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            font-size: 16px;
            padding: 12px 32px;
            margin: 0 2px; }
            body.ve #outer_table .lobby-container .nav-tabs.speaker-tab-group a.nav-item.active, body.ve #outer_table .lobby-container .nav-tabs.speaker-tab-group a.nav-item:hover {
              background-color: #5c068c !important; }
            body.ve #outer_table .lobby-container .nav-tabs.speaker-tab-group a.nav-item.active:before {
              top: 100%;
              left: 50%;
              position: absolute;
              margin-left: -15px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 20px 15px 0 15px;
              border-color: #5c068c transparent transparent transparent;
              content: ''; }
      body.ve #outer_table .lobby-container .timezone-container {
        padding: 0 20px;
        margin: 20px 0 !important; }
        @media only screen and (min-width: 992px) {
          body.ve #outer_table .lobby-container .timezone-container {
            padding: 0 40px;
            margin: 40px 0 !important; } }
        body.ve #outer_table .lobby-container .timezone-container .timezone-toggle {
          padding: 0; }
          @media only screen and (min-width: 992px) {
            body.ve #outer_table .lobby-container .timezone-container .timezone-toggle {
              float: left; } }
          body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn {
            padding: 10px !important;
            color: #ffffff !important;
            font-weight: bold;
            border-radius: 0 !important;
            border: 0 !important;
            padding: 8px !important;
            background-color: #2A2E38 !important;
            border-right: 2px solid #ffffff !important; }
            @media only screen and (min-width: 992px) {
              body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn {
                padding: 13px !important; } }
            body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn i {
              font-weight: bold; }
            body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn i,
            body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn span {
              color: #ffffff !important; }
            body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn:not(:disabled):not(.disabled).active, body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn:not(:disabled):not(.disabled):active, body.ve #outer_table .lobby-container .timezone-container .timezone-toggle .btn:not(:disabled):not(.disabled):hover {
              background-color: #5c068c !important; }
        body.ve #outer_table .lobby-container .timezone-container .system-test {
          padding: 0;
          display: block !important; }
          @media only screen and (max-width: 991px) {
            body.ve #outer_table .lobby-container .timezone-container .system-test {
              margin-top: 20px; } }
          @media only screen and (min-width: 992px) {
            body.ve #outer_table .lobby-container .timezone-container .system-test {
              float: right; } }
          body.ve #outer_table .lobby-container .timezone-container .system-test .btn {
            width: auto !important; }
            body.ve #outer_table .lobby-container .timezone-container .system-test .btn:before {
              font-family: FontAwesome;
              content: "";
              margin-right: 5px;
              font-weight: 900; }
      body.ve #outer_table .lobby-container .agenda-container {
        padding: 0 20px; }
        @media only screen and (min-width: 992px) {
          body.ve #outer_table .lobby-container .agenda-container {
            padding: 0 40px; } }
      body.ve #outer_table .lobby-container .agenda-session {
        border-color: #f4f5f6; }
        @media only screen and (min-width: 992px) {
          body.ve #outer_table .lobby-container .agenda-session {
            padding-bottom: 0; } }
        body.ve #outer_table .lobby-container .agenda-session h4,
        body.ve #outer_table .lobby-container .agenda-session h4 * {
          font-size: 18px !important; }
          @media only screen and (max-width: 767px) {
            body.ve #outer_table .lobby-container .agenda-session h4,
            body.ve #outer_table .lobby-container .agenda-session h4 * {
              margin-top: 10px; } }
        @media only screen and (max-width: 991px) {
          body.ve #outer_table .lobby-container .agenda-session .session-time {
            padding: 0 !important; } }
        body.ve #outer_table .lobby-container .agenda-session .session-time span,
        body.ve #outer_table .lobby-container .agenda-session .local-time-group span {
          text-align: center;
          color: #2A2E38 !important;
          line-height: 21px; }
        body.ve #outer_table .lobby-container .agenda-session .local-time-group span {
          font-size: 11px;
          letter-spacing: -0.5px; }
        body.ve #outer_table .lobby-container .agenda-session .session-info {
          background: #f4f5f6;
          padding: 5px 10px;
          display: inline-block;
          margin-bottom: 10px; }
        body.ve #outer_table .lobby-container .agenda-session .session-description {
          word-break: normal;
          text-align: left !important; }
        body.ve #outer_table .lobby-container .agenda-session a[data-toggle="collapse"] {
          text-decoration: none !important;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          padding-left: 20px;
          color: #5c068c !important;
          font-weight: bold;
          font-size: 14px; }
          body.ve #outer_table .lobby-container .agenda-session a[data-toggle="collapse"]:before {
            font-family: FontAwesome;
            content: '\f055';
            margin-right: 4px;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            position: absolute;
            top: 0;
            left: 0; }
          body.ve #outer_table .lobby-container .agenda-session a[data-toggle="collapse"]:hover {
            text-decoration: underline !important; }
        body.ve #outer_table .lobby-container .agenda-session a[aria-expanded="true"]:before {
          content: '\f056';
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
        body.ve #outer_table .lobby-container .agenda-session .presenting-tab span {
          color: #5c068c;
          text-decoration: none; }
          body.ve #outer_table .lobby-container .agenda-session .presenting-tab span:hover {
            text-decoration: underline; }
        body.ve #outer_table .lobby-container .agenda-session .button-group {
          padding-left: 0;
          padding-right: 0; }
          body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary {
            color: #ffffff !important;
            line-height: normal;
            width: 100% !important;
            opacity: 1; }
            body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary:hover * {
              color: #ffffff !important; }
            @media only screen and (max-width: 767px) {
              body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary {
                margin-top: 0; } }
            @media only screen and (min-width: 768px) {
              body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary {
                width: 80% !important; } }
            body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary * {
              color: #ffffff !important; }
            body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary i {
              font-weight: bold; }
            body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary i.fal.fa-users-class:before {
              content: '\f63d'; }
    @media only screen and (max-width: 767px) {
      body.ve #outer_table .system-test-modal {
        max-width: 100%; } }
    body.ve #outer_table .system-test-modal .setWidth {
      width: 100%; }
    body.ve #outer_table .system-test-modal .compatibility-test h1,
    body.ve #outer_table .system-test-modal .bbb-test h1 {
      font-size: 20px !important; }
    @media only screen and (max-width: 767px) {
      body.ve #outer_table .system-test-modal .compatibility-test,
      body.ve #outer_table .system-test-modal .bbb-test {
        width: 100%;
        padding-left: 0; } }
    body.ve #outer_table .system-test-modal .close {
      font-size: 22px !important; }
    body.ve #outer_table .system-test-modal table.system-test-table {
      display: table; }
      body.ve #outer_table .system-test-modal table.system-test-table tbody {
        display: table-row-group; }
      body.ve #outer_table .system-test-modal table.system-test-table tr {
        display: table-row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important; }
      body.ve #outer_table .system-test-modal table.system-test-table td {
        display: table-cell;
        padding: 5px 0 !important;
        width: auto !important; }
  body.ve #inner_content footer {
    margin: 0; }

body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary[title="This meeting is not started"] {
  opacity: 0.5; }
/*# sourceMappingURL=master-reg.css.map */