// FONTS EU
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



@font-face {
    font-family: 'MyriadPro-Light';
    src: url('https://au-admin.eventscloud.com/docs/100007765/MyriadPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'MyriadPro-SemiBold';
    src: url('https://au-admin.eventscloud.com/docs/100007765/MyriadPro-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}