/* $EREG
============= */
body {
    background-color: transparent !important;
    position: relative;

    *{
    box-sizing:border-box;
    }

}

/* $LAYOUT
============= */

#outer_table {
    width: 100% !important;

    &:after {
        @extend %radial-gradient;
        position: fixed !important;
        z-index: -10;
    }

    .new-desktop-nav {
        background: $grey !important;


        #r-breadcrumbs {
             background: $grey !important;
            .crumbs {
                li {
                    &.off {
                        a {
                            color: $white !important;
                        }
                    }

                    &.on {
                        a {
                            color: $white !important;
                        }
                    }

                    &.previous-step {
                        a {
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }

    input.button.r-button {
        @extend %btn;
        min-width: unset !important;
        padding: 10px 30px !important;

        @extend %btn-primary;

    }


    #inner_content {
        display: block;
        margin: 0 auto;
        max-width: 940px;
        margin-bottom: 80px;
        box-shadow: 0 5px 8px rgba(0, 0, 0,0.2);

        @include bp(lt-m) {
            padding: 20px !important;
        }

        >table {
            max-width: 960px;
            margin: 0 auto;

            > tbody {    

            > tr{    
                &:nth-child(1) {
                        > td
                            {    
                            &:nth-child(1){
                                width: 35%;  

                                > div{
                                    padding: 20px !important;
                                    background: rgba(34, 34, 34, 0.07);

                                    h3 {
                                        @include bp(lt-m) {
                                            margin: 0;
                                        }
                                    }
                                }
                            }    
                            &:nth-child(2) {
                                padding-left: 40px;

                                form{
                                    td:empty {
                                        display: none;
                                    }
                                }
                            } 
                        }
                        
                }
                
            }        
            }      
        }
        div[aria-labelledby="showcategoryquestions"] {
            table {
                td[width="175"] {
                    width: 15px !important;
                }
            }
        }
        table.questionContainer {
            margin-bottom: 25px;
            td.standard.questionLabel {
                em {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }

    }
}

// FIX - Wierd system min width
@media (min-width: 801px) {

    html,
    #outer_table {
        min-width: auto !important;
    }
}

//TYPOGRAPY RESET
body,
#inner_content {

    td.questionLabel,
    td.questionInput,
    label,
    .header,
    .headercell,
    .maincell,
    .maincellover,
    .off,
    .on,
    .red,
    .redLabel,
    .selectbox,
    .standard,
    a,
    a.footer:link,
    a.footer:visited,
    a.menu:link,
    a.menu:visited,
    a.menu_standard:link,
    a.menu_standard:visited,
    a.redLabel:link,
    a.redLabel:visited,
    div,
    font,
    input,
    select,
    td,
    textarea {
        font-weight: 400;
        font-family: $font-primary !important;
        text-transform: none;
        font-size: 16px !important;
        em {
            font-size: 12px !important;
        }
    }
    .requiredlabel {
        font-size: 10px !important;
    }
    td.questionLabel,
    td.questionInput {
        padding: 0;
    }
}
body.modifyreg {
    #outer_table {
        #inner_content {
            form {
                table {
                    tr {
                        td {
                            display: block;
                            width: 100%;
                            text-align: left;
                            input[type="text"] {
                                margin-bottom: 25px;    
                            }
                        }
                    }
                }
            }
        }
    }
}
body.timeout {
    #outer_table {
        #inner_content {
            .r-timeoutcontent {
                p {
                    display: none;
                    &.red {
                        display: block;
                        text-align: center;
                    }
                }

                
            }
        }
    }

}

/* $GENERAL
============= */

/* $HEADER */

#outer_table td.branding-hdr {
    padding: 0;
    @include verticallyCenter;
    position: relative;
    padding: 0 20px;
    margin-top: 80px;

    h1 {
        max-width: 940px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
    padding: 30px 0;

        div.logo-img-container {
            text-align: center;
            max-width: 400px;
            margin: auto;

            @include bp( lt-xs ) {
                max-width: 250px;
            } 
    
        }

        img {
            padding: 0;
            width: auto !important;
        }
    }
}

/* $NAVIGATION */
#outer_table tr.nav-related-vars-container {
    width: 100%;
    left: 0;
    z-index: 1;
    background: $white;
    max-width: 940px;
    margin: 0 auto;
    display: block;

    .new-desktop-nav {
        padding: 0 !important;
        background: $secondary;
        border-bottom: 1px solid $light-grey !important;
        max-width: 860px;
        margin: auto;

        #r-breadcrumbs {
            margin-left: auto;
            margin-right: auto;
            border: 0;
            max-width: 940px;
            background: $secondary;

            ul.crumbs li {
                padding-top: 0;
                border: 0;
                position: relative;

                &.on {
                    background: transparent !important;
                    box-shadow: none;
                    color: $white;

                    a {
                        color: $white !important;
                    }

                    &:before {
                        @include bp(m) {
                            width: 100%;
                        }
                    }
                }

                &:not(:first-of-type) a:before {
                    @include bp(800px) {
                        margin-right: 6px;
                        content: $arrow-right;
                        font-family: $icon-font;
                        font-weight: 900;
                        color: $white;
                        display: inline-block;
                    }

                    @include bp(l) {
                        margin-right: 15px;
                    }
                }

                a,
                &.previous-step a {
                    border: 0 !important;
                    color: $white !important;
                    font-size: 16px !important;
                    font-family: $font-primary !important;
                    padding: 12px 10px;
                    line-height: 24px;

                    &:hover,
                    &:focus {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }

    span.r-count .r-crumb-trigger.fa-bars {
        color: $white !important;
    }
}

.reg-header-container {
    max-width: 940px;
    margin: 0 auto;
    display: block;
}

/* $FORM SYTLES
============= */

.questionLabel {
    text-transform: inherit !important;
    height: auto !important;
}

#outer_table table.r-standard>tbody tr {
    @include bp(lt-m) {
        padding: 0 !important;
    }
}

form {
    //margin: 60px auto !important;

    @include bp(lt-m) {
        padding: 0 !important;
    }
}

#outer_table {

    select {
        padding-right: 25px !important;
        border-radius: 0 !important;
    }

    input,
    textarea {
        border-radius: 0 !important;
    }

    input[type="text"] {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        line-height: 1 !important;
    }

    input[type="text"],
    select:not([class^=picker]) {
        width: 100%;
        max-width: 350px !important;
        vertical-align: bottom;

        &:focus{
            outline: none !important;
            border-color: $secondary !important;    
        }

        @media (max-width: 800px) {
            min-width: 100%;
        }
    }

    textarea {
        padding: 10px;
    }

    input.button.r-button {
        transition: all 0.5s;
        @extend %btn;
    }

    .questionInput .r-mobile {
        position: relative;
    }

    .mobile-picker-button {
        position: absolute;
        top: 11px;
        right: 11px;
        border: none;
        background-color: transparent;

        @include bp(m) {
            top: 12px;
            right: 12px;
        }
    }

    .checkbox-wrap {
        //max-width: 350px;
        position: relative;
        @include bp( lt-m ) {
            max-width: 100%;

            tr{

                @include bp( lt-m ) {
                    display: table-row;
                }    
                td {
                    @include bp( lt-m ) {
                    display: table-cell;
                }
                }
            }
        }

        .standard.questionInput {
            width: auto !important;
            padding: 7px 0;
            text-align: left;

            .red {
                position: absolute;
                bottom: -15px;
            }

            .checkbox-container {
                @include bp( lt-m ) {
                    margin: 7px 0 0 0 !important;
                    float: none;
                    height: 16px !important;
                }

                input[type="checkbox"]{
                    @include bp( lt-m ) {
                    float: none !important;
                    }    
                 
                }    
            }
        }
        .redLabel.questionLabel{
            width: auto !important;
        }
    }
    
}

a[href*="printrecord"] {
    text-decoration: none !important;

    input {
        transition: all 0.5s;
    }
}

html td.questionInput {

    select:not([class^=picker]),
    input,
    textarea {
        border-color: $form-border;
    }
}

.red,
.redLabel,
.red.r-message b {
    color: $error !important;
}

tr.category-selection-tr input[type="radio"] {
    float: none !important;
}

.ereg .picker__box {
    padding: 1em;
}

.travel-section-container {
    td[width="175"] {
        display: none;
    }

    b {
        font-size: 20px;
        margin-bottom: 20px;
        display: block;
        color: $black;
    }
}

/* $TABLE STYLES */
.needs-table-color,
tr.needs-table-color,
.needs-tablerowcolor1,
.needs-tablerowcolor2,
tr.needs-table-color .header {
    background: $white !important;
}

tr.needs-table-color .header {
    border-bottom: 4px solid $grey !important;
    padding: 15px !important;

    @include bp(lt-m) {
        padding-left: 0 !important;
    }

    body.agenda & {
        text-align: left;
    }

    b {
        font-size: 20px !important;
        color: $black;
    }
}

.r-table,
.reg-record-display,
.agenda-day-container {
    >tbody>tr.needs-table-color~tr>td {
        border-bottom: 1px solid $grey !important;
        vertical-align: baseline;
    }

    td.questionInput {
        height: auto !important;
    }

    table.questionContainer td.questionLabel {
        @include bp(lt-m) {
            padding-left: 0 !important;
        }
    }

    a.more-info-btn {
        @include bp(lt-m) {
            margin-bottom: 5px;
        }
    }
}

.agenda-day-container+.agenda-day-container {
    margin-top: 24px;
}

.r-table,
.reg-record-display {
    border-bottom: 0 !important;
    margin-top: 24px;

    @media (max-width: 800px) {
        td {
            display: block !important;
            width: 100% !important;
        }
    }
}

/* $OPTIONS */
body.options {

    table[data-questiontype="16"],
    table[data-questiontype="40"] {
        td.questionLabel {
            height: auto;
        }

        +br {
            display: none;
        }
    }
}

/* $REGRECORD */
.record {

    .header-content-container{
        text-align: center;
    }
    .r-table td {
        padding: 12px;
    }

    // center headers in tables on reg record page otherwise the odd number of cells per table misaligns them
    tr.needs-table-color .header {
        // text-align: center;
    }

    #inner_content .r-table,
    #inner_content .reg-record-display {
        border-bottom: 0 !important;
        margin-top: 24px;

        @media (max-width: 800px) {

            tr,
            td {
                display: block !important;
                width: 100% !important;
                font-size: 16px !important;
            }

            td {
                border: none !important;
                padding: 2px 0 !important;

            }

            tr {
                border-bottom: 1px solid #dadada !important;
                padding: 12px 0 !important;
            }
        }

    }
}

body.payment{
    .header-content-container{
        text-align: center;
    }
}

/* $FOOTER
============= */

#outer_table .linkSnippetVersion {
    background-color: $white;
    padding: 0 0 15px 15px !important;
    max-width: 1155px;
    margin: 0 auto;
    display: block;
}

.poweredBy {
    padding-bottom: 15px;
}
