/* $new agenda widget - etouches widget style
============= */

@import "variables";
@import "mixins";
@import "fonts";

$agenda-dividing-lines: $grey;

::selection {
	background: $secondary;
	color: inherit;
	text-shadow: none;
}

.etouches-bootstrap {

	.navbar-inverse,
	.navbar-inverse #menu_agenda,
	.navbar-inverse>.container-fluid>.row,
	.navbar-inverse>.container-fluid>.row>[class*="col"] {
		background: $grey;

		&#right_container, 
		&#nav-bottom{
			display: none !important;
		}

		.event-agenda.mobile{
			border-top:0;
			font-size: 16px;
  			line-height: 1.5;
		}
		.mobile-select-container{
			display: none !important;
		}
	} 

	*:not(.glyphicon):not(.icon) {
		font-family: $font-primary !important;
	}

	#collapseAgendaFilters {
		h6,
		h3,
		h4,
		label,
		a {
			color: $black !important;
		}
	}

	#menu_agenda_btm {
		background: transparent !important;
		margin-top: 10px;
	}

	.navbar-inverse {
		@include bp(lt-s) {
			padding: 5px 0;
		}

		select.options {
			background: transparent !important;
			color: $white;
		}

		#menu_agenda label {
			background: transparent;
			color: $white;
		    max-width: 100%;
		}

		a,
		a.link {
			color: $white;

			.options.my-agenda {
				border-radius: 0;
			}
		}
	}

	#right_container {
		width: 100%;

		@include bp(lt-s) {
			padding: 0;
		}
	}

	a#my_agenda_link,
	a#my_agenda_link_btm {
		background: $primary;
		border-radius: 5px;
		color: $white;

		@include bp(lt-s) {
			margin-left: 0;
		}

		span.badge {
			border-radius: 0;
		}
	}

	.mobile-select-container {
		@include bp(lt-s) {
			padding: 0;
		}
	}

	a.options {
		padding: 0;

		@include bp(s) {
			padding: 0.75rem;
		}
		&[aria-expanded=true] {
			background: #f4f4f4;
		}
	}

	li.session_location {
    	margin-bottom: 10px !important;
	}

	#my_agenda_header {
		.badge {
			background: $secondary;
			border-radius: 0;
			color: $white;
		}
	}
	.col-xs-offset-half {
		margin-left: 0;
	}

	.agenda {
		.row.agenda-row {
			margin-left: 0;
			margin-right: 0;

			.agenda-container {

				&.col-xs-11 {
					width: 100% !important;
				}

				.agenda_date_header {
					background: $light-grey !important;
					margin-top: 0 !important;
					padding: 10px 15px !important;	

					@include bp(lt-m) {
						border-bottom: 1px solid;
					}
							
					h3 {
						font-size: 14px;
						color: $grey !important;
					}
				}

				.agenda_title_header {
					// background: $grey !important;
					color: $black;
					margin-bottom: 10px;

					h3 {
						font-size: 16px;
					}
				}

				.session-title {
					color: $grey !important;
					margin-top: 11px !important;
					font-family: $font-bold !important; 
					    font-weight: normal;
					font-size: 16px    
				}

				.session-more-info-button {
					color: $primary;
				}

				.single,
				.col-flex {
					border-left: 0 !important;
				}

				.row .header {
					border-radius: 0;
					background: $black;

					@include bp(lt-s) {
						padding-left: 25px;
						padding-right: 25px;
					}
				}

				.price-check {
					border-radius: 5px;
					border: 0;
					background: $primary !important;
				    margin-bottom: 10px !important;

					@include bp(lt-s) {
						margin: 5px 0 10px !important;
					}

					&:hover {
						background: darken($primary, 10%) !important;
					}
				}

				[class*="col"].time {
					border-color: $mid-grey;

					@include bp(lt-s) {
						border: 0 !important;
						padding: 10px 0 0 0 !important;
						text-align: left;
					}
						
					span {
						color: $black;
					}
				}

				.single,
				.multiple {
					border-color: $mid-grey;

					
					@include bp(lt-s) {
						border-left: 0;
						border-top: 0; 
						border-bottom: 1px solid $agenda-dividing-lines;
						min-height: 0;
					}

					&:hover {
						background: rgba(0,0,0,0.1);
					}
				}

				.col-flex {
					//border-color: $agenda-dividing-lines !important;
				}

				.by_date_item {}
				.by_track_item {}

				@include bp(lt-s) {
					.col-xs-9,
					.col-xs-3  {
						display: block;
						width: 100% !important;
						padding: 0 !important;
					}
				}
			}
			&.by_speaker_item {
				.agenda_date_header h4 {
					padding: 0;
				}
			}
		}
		/* adjust width of sessions with tracks */
		.row.row-flex {
			.col-md-6 {
				width: 100%;
				border-right: 0 !important;
			}
		}

		h3 {
			@include bp(lt-s) {
				margin-top: 5px !important;
			} 
		}
	}

	.modal .modal-dialog .modal-content {
	    padding: 0 0 20px 0;

		.modal-header {
			background: $black;
			color: $white;
			border: 0;
			padding: 0 30px;

			.modal-title {
				font-weight: bold;
			}

			.close-modal {
				background: $primary;
				box-shadow: none;
				color: $white;
				position: absolute; 
				right: 0;

				&:hover {
					color: $primary;
					background: $white;
				}
			}
		}

		.modal-body  {
			.short-agenda,
			p {
				color: $black !important;
				font-size: 16px !important;
				line-height: 24px !important;
			}

			.content p {
				padding: 0 30px;
			}
		}

		.speaker-item img {
			border-radius: 50% !important;
		}

		.speaker-info  {
			.headline {
				color: $black !important;
				margin: 0 !important;
			}

			p {
				white-space: inherit !important;
			}
		}

		.modal-footer {
			background: $white;
			border: 0;

			.price-check {
				background: $primary !important;
				color: $white !important;
				border-radius: 5px !important; 

				&:hover {
					background: darken($primary, 10%) !important;
				}

				span {
					color: $white !important;
				}
			}
		}
	}


	/* TABLET */
	@include bp(lt-s) {
		/* reset filter dropdown to mobile to take up full width */
		#etouches_speaker_filter,
		#etouches_date_filter,
		#etouches_session_category_filter,
		#etouches_date_filter,
		#etouches_time_filter,
		#etouches_time_filter,
		#etouches_track_filter {
			label.col-xs-6,
			label.col-xs-4 {
				width:100% !important;
			}
		}
	}
}
.etouches-bootstrap .col-xs-11 {
	width: 100% !important;
}