@import "fonts";
@import "variables";
@import "mixins";

::selection {
    background: $secondary;
    color: inherit;
    text-shadow: none;
}
.speaker-widget {
    .flex-item {
        margin: 20px !important;
        padding: 20px !important;
        border: 1px solid $light-grey !important;
        border-radius: 0;
        background-color: transparent;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        width:calc(33.33% - 40px);

        @include bp(lt-m) {
            width:calc(33.33% - 30px);
            margin: 15px !important;
        }

        @include bp(lt-xs) {
            width: calc(100% - 40px) !important;
        }
    }
}

.speaker-item {
    margin: 0 !important;
    width: 100%;

    .speaker-img-placeholder {
        border: none !important;
        filter: grayscale(1);

        @include bp(lt-m) {
            margin: 0 auto !important;
        }
    }

    .item-content {
    	 @include bp(m) {
    	 	padding-left: 10px;
    	 }
        @include bp(lt-s) {
            text-align: center !important;
        }

        .speaker-name {
            display: block;
            color: $grey !important;
            font-family: $font-headings !important;
            font-size: 18px !important;
            font-weight: bold !important;
            text-transform: uppercase !important;

            @include bp(lt-m) {
                font-size: 16px !important;
            }
        }

        .speaker-title {
            display: block;
            font-family: $font-primary !important;
            color: $grey !important;
            font-size: 14px !important;
            font-weight: normal;
            text-transform: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .comp-name {
            display: block;
            font-family: $font-primary !important;
            color: $grey !important;
            font-size: 12px !important;
            font-weight: bold;
            text-transform: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .more-btn {
            display: inline-block;
            background-color: $primary !important;
            color: $white !important;
            border-color: $primary !important;
            border-radius: 0;
            border-width: 2px;
            font-family: $font-primary !important;
            font-size: 12px;
            font-weight: bold;
            padding: 2px 10px;

            &:hover{
             background-color: $secondary !important;
             border-color: $secondary !important;
            }
        }
    }
}
#myModal.modal .modal-dialog {
    .modal-content {

        *:not(.glyphicon) {
            font-family: $font-primary !important;
        }

        .modal-header {
            background: $black;

            .modal-title {
                color: $white;
            }

            .close-modal {
                background: $primary;
                box-shadow: none;
                color: $white;

                &:hover {
                    color: $primary;
                    background: $white;
                }
            }
        }

        .modal-body {
            .speaker-item {
                border: 0;
            }

            .speaker-name {
                color: $black;
                font-size: 28px;
                margin-bottom: 5px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .speaker-title,
            .comp-name {
                font-size: 18px;
                margin: 0 0 5px;
                color: $primary !important;
            }

            .comp-name {
                font-size: 16px;
            }

            .speaker-bio {
                * {
                    line-height: 1.5;
                }
            }
        }
    }
}
$light-grey: #eee;



/* @SPEAKERS
============= */
.custom-speakers {
    padding-bottom: 40px;

    // @include bp(m) {
    //     padding-bottom: 30px;
    // }

    .speakers-row {
        .speaker {
            margin: 0px 0px 25px;
            padding: 15px;
            display: block;
            width: 100% ;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            text-align: center;
            @include bp(m) {
                margin: 15px;
                padding: 15px;
                display: table;
                width: calc(33.33% - 30px);
                text-align: left;
            }

            a {
                overflow: visible;
                display: block;
                width: 100%;
                margin-bottom: 15px;
                float: none;
                margin: 0 auto;

                @include bp(m) {
                    width: 30%;
                    display: table-cell;
                    float: left;
                    margin-right: 10px;
                }

                figure {
                    border: 10px solid $white;
                    border-radius: 50%;
                    background-color: $secondary;
                    filter: grayscale(1);
                    text-align: center;
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                    overflow: hidden;

                    @media only screen and (max-width: 1199px) {
                        width: 200px;
                        height: 200px;
                    }

                    img {
                        text-align: center;
                        margin: 0 auto;
                        width: 100%;
                        //height: auto;
                    }
                }
            }

            .bio-group {
                text-align: center;
                display: block;
                @include bp(m) {
                    text-align: left;
                    display: table-cell;
                    padding-top: 10px;
                }

                .bio-button {
                   display: inline-block;
                    background-color: $primary !important;
                    color: $white !important;
                    border-color: $primary !important;
                    border-radius: 0;
                    border-width: 2px;
                    font-family: $font-primary !important;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 2px 10px;
                    width: auto !important;

            &:hover{
             background-color: $secondary !important;
             border-color: $secondary !important;
            }
                }

                * {
                    color: $grey  !important;
                    //font-family: sans-serif !important;
                }

                .speaker-name {
                    font-size: 18px;
                    margin-top: 0px;
                    margin-bottom: 5px;
                    //font-family: sans-serif !important;
                    font-weight: bold !important;
                    text-transform: uppercase !important;
                }

                .speaker-title {
                    color: $grey  !important;
                    font-size: 12px !important;
                    margin: 0 0 5px;
                    display: block;
                }

                .speaker-company {
                    font-size: 12px !important;
                    margin: 0 0 5px;
                    display: block;
                }
            }
        }
    }
}

body {
    &.ipHasAdminNavbar.ipHasAdminPanel {
        .speaker-modal {
            display: none !important;
        }
    }

    &.website:not(.ipHasAdminPanel) {

        .modal {
            // background: rgba(0, 0, 0, 0.5);
            // overflow: auto;


            &.right {
                &.fade {

                    .modal-dialog {
                        @media only screen and (min-width: 768px) {
                            right: -640px;
                        }

                        @media only screen and (min-width:1024px) {
                            right: -880px;
                        }

                        -webkit-transition: opacity 0.3s linear,
                        right 0.3s ease-out;
                        -moz-transition: opacity 0.3s linear,
                        right 0.3s ease-out;
                        -o-transition: opacity 0.3s linear,
                        right 0.3s ease-out;
                        transition: opacity 0.3s linear,
                        right 0.3s ease-out;
                        z-index: 999999;

                        -webkit-box-shadow: -2px 3px 22px -4px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: -2px 3px 22px -4px rgba(0, 0, 0, 0.75);
                        box-shadow: -2px 3px 22px -4px rgba(0, 0, 0, 0.75);
                    }

                    &.in {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: fixed;

                        .modal-dialog {
                            right: 0;
                            left: 0;
                        }
                    }
                }
            }

            &.left {
                &.fade {
                    .modal-dialog {
                        left: -320px;
                        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
                        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
                        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
                        transition: opacity 0.3s linear, left 0.3s ease-out;
                        z-index: 999999;

                        @media only screen and (min-width: 768px) {
                            left: -640px;
                        }

                        @media only screen and (min-width:1024px) {
                            left: -880px;
                        }
                    }

                    &.in {
                        .modal-dialog {
                            left: 0;
                        }
                    }
                }
            }

            .modal-dialog {
                background: $white;
                -webkit-transform: translate3d(0%, 0, 0);
                -ms-transform: translate3d(0%, 0, 0);
                -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
                z-index: 999999;
                top: 10%;

                @media (max-width: 576px) {
                    top: 5%;
                }
            }

            .modal-body {
                padding: 25px 0 0 0;

                .modal-profile-image {
                    padding: 15px;

                    .profile-image {
                        margin: 0 auto;
                        border-radius: 100%;
                        position: relative;
                        width: 240px;
                        height: 240px;
                        overflow: hidden;
                        border: 10px solid $white;
                        // box-shadow: 0px 3px 8px rgba($grey, 10%) !important;
                        text-align: center;
                        background-color: $secondary;

                        @media only screen and (max-width: 1199px) {
                            width: 240px;
                            height: 240px;
                        }

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            .social-media {
                padding: 10px 0;
                margin: 0;

                li {
                    display: inline-block;
                    padding-right: 10px;
                    padding-bottom: 0;
                    margin: 0;

                    &:last-child {
                        padding-right: 0;
                    }

                    a {
                        font-size: 16px;

                        background: $white;
                        color: $secondary  !important;
                        border: 1px solid $secondary  !important;
                        display: inline-block;
                        padding: 4px 9px;
                        border-radius: 50%;
                        width: 35px;
                        text-align: center;

                        &:hover {
                            background: $secondary  !important;
                            color: $white  !important;
                            border: 1px solid $secondary;
                            padding: 4px 9px;
                        }
                    }
                }
            }

            h5 {
                color: $black;
                font-weight: bold;
                font-size: 18px;
                // border-bottom: 2px solid $black;
                padding-bottom: 16px;
                margin: 0;
            }

            .speaker-details {
                @media (min-width: 991px) {
                    &.col-md-6 {
                        height: 400px;
                    }
                }
            }


            .speaker-sessions {
                padding: 30px;
                overflow: hidden;
                position: relative;
                top: 0;
                background: $white;
                width: 100%;
                // -webkit-box-shadow: inset 0px 5px 9px -5px rgba(0, 0, 0, 1);
                // -moz-box-shadow: inset 0px 5px 9px -5px rgba(0, 0, 0, 1);
                // box-shadow: inset 0px 5px 9px -5px rgba(0, 0, 0, 1);

                .container {
                    background: $white;
                }

                h5 {
                    font-size: 18px;
                }

                .session-details {
                    border-bottom: 1px dotted $secondary;
                    padding: 10px 0;
                    overflow: visible;
                    display: inline-block;

                    .col-md-3 {
                        padding: 0;
                    }

                    @media (min-width: 576px) {
                        .col-md-6 {
                            padding: 0;
                        }
                    }

                    h4 {
                        font-size: 18px;
                    }

                    &:last-child {
                        // border-bottom: 2px solid $light-grey;
                        padding-bottom: 10px;
                    }

                    &:first-child {
                        // border-top: 2px solid $light-grey;
                    }

                    p {
                        padding: 0;
                        margin: 0;
                    }

                }
            }

            .speaker-title {
                font-size: 16px !important;
            }

            .bio {
                padding-top: 15px;
                margin-top: 15px;
                min-height: 240px;
                font-size: 14px !important;
                border-top: 1px solid $light-grey;

                @media (max-width: 991px) {
                    height: auto;
                }

                overflow-y: auto;
                margin-bottom: 25px;

                p {
                    font-size: 14px !important;
                }

                a {
                    color: $secondary;
                    font-size: inherit !important;
                }
            }



            h4.name-speaker {
                color: $grey  !important;
                font-size: 24px !important;
                margin-top: 15px;
                margin-bottom: 5px;
              //font-family: sans-serif !important;
                font-weight: bold !important;
                text-transform: none !important;
            }



            span.speaker-title {
                color: $grey  !important;
                font-size: 14px !important;
              //font-family: sans-serif !important;
            }

            .speaker-company {
                font-size: 14px !important;
                color: $grey  !important;
                margin: 0 0 5px;
              //font-family: sans-serif !important;
            }

            .bio {
                color: $black  !important;
                line-height: 130%;
              //font-family: sans-serif !important;
            }
        }


        .close-col {
            padding: 5px;
            position: relative;
            background-color: $grey  !important;
            // right: -20px;

            button.close {
                border: 2px solid $grey;
                padding: 5px 8px;
                background: $white;
                border-radius: 100% !important;
                font-size: 14px !important;
                opacity: 1 !important;
                color: $grey  !important;
            }

        }

        /*  ====================== Modal Default ====================== */

        &.modal-open {
            overflow: hidden;
        }

        &.modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999;
            display: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            outline: 0;
            background-color: rgba($black, 0.5);
        }

        .modal-dialog {
            position: relative;
            width: auto;
            margin: .5rem;
            pointer-events: none;
        }

        .modal.fade .modal-dialog {
            transition: -webkit-transform .3s ease-out;
            transition: transform .3s ease-out;
            transition: transform .3s ease-out, -webkit-transform .3s ease-out;
            -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
        }

        // @media screen and (prefers-reduced-motion:reduce) {
        //     .modal.fade .modal-dialog {
        //         transition: none;
        //     }
        // }

        .modal.show .modal-dialog {
            -webkit-transform: none;
            transform: none;
        }

        .modal-dialog-centered {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            // min-height: calc(100% - (.5rem * 2));
        }

        .modal-dialog-centered::before {
            display: block;
            // height: calc(100vh - (.5rem * 2));
            content: "";
        }

        .modal-content {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: $white;
            background-clip: padding-box;
            // border: 1px solid rgba(0, 0, 0, .2);.
            border-radius: .3rem;
            outline: 0;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            background-color: transparent;
        }

        .modal-backdrop.fade {
            opacity: 0.5;
        }

        .modal-backdrop.show {
            opacity: .5;
        }

        .modal-header {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: start;
            align-items: flex-start;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 1rem 1rem;
            border-bottom: 1px solid $light-grey;
            border-top-left-radius: .3rem;
            border-top-right-radius: .3rem;
        }

        .modal-header .close {
            padding: 1rem 1rem;
            margin: -1rem -1rem -1rem auto;
        }

        .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
        }

        .modal-body {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1rem;
        }

        .modal-footer {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 1rem;
            border-top: 1px solid $light-grey;
            border-bottom-right-radius: .3rem;
            border-bottom-left-radius: .3rem;
        }

        .modal-footer>:not(:first-child) {
            margin-left: .25rem
        }

        .modal-footer>:not(:last-child) {
            margin-right: .25rem
        }

        .modal-scrollbar-measure {
            position: absolute;
            top: -9999px;
            width: 50px;
            height: 50px;
            overflow: scroll;
        }

        @media (min-width:576px) {
            .modal-dialog {
                max-width: 500px;
                margin: 1.75rem auto;
            }

            .modal-dialog-centered {
                min-height: calc(100% - (1.75rem * 2))
            }

            .modal-dialog-centered::before {
                height: calc(100vh - (1.75rem * 2))
            }

            .modal-sm {
                max-width: 300px;
            }
        }

        @media (min-width:992px) {

            .modal-lg,
            .modal-xl {
                max-width: 800px;
            }
        }

        @media (min-width:1200px) {
            .modal-xl {
                max-width: 1140px;
            }
        }
    }
}

