/* $new agenda widget - etouches widget style
============= */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
::selection {
  background: #2E4A77;
  color: inherit;
  text-shadow: none;
}

.etouches-bootstrap {
  /* TABLET */
}
.etouches-bootstrap .navbar-inverse,
.etouches-bootstrap .navbar-inverse #menu_agenda,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row > [class*=col] {
  background: #636468;
}
.etouches-bootstrap .navbar-inverse#right_container, .etouches-bootstrap .navbar-inverse#nav-bottom,
.etouches-bootstrap .navbar-inverse #menu_agenda#right_container,
.etouches-bootstrap .navbar-inverse #menu_agenda#nav-bottom,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row#right_container,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row#nav-bottom,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row > [class*=col]#right_container,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row > [class*=col]#nav-bottom {
  display: none !important;
}
.etouches-bootstrap .navbar-inverse .event-agenda.mobile,
.etouches-bootstrap .navbar-inverse #menu_agenda .event-agenda.mobile,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row .event-agenda.mobile,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row > [class*=col] .event-agenda.mobile {
  border-top: 0;
  font-size: 16px;
  line-height: 1.5;
}
.etouches-bootstrap .navbar-inverse .mobile-select-container,
.etouches-bootstrap .navbar-inverse #menu_agenda .mobile-select-container,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row .mobile-select-container,
.etouches-bootstrap .navbar-inverse > .container-fluid > .row > [class*=col] .mobile-select-container {
  display: none !important;
}
.etouches-bootstrap *:not(.glyphicon):not(.icon) {
  font-family: "Open Sans", sans-serif, Helvetica, Arial !important;
}
.etouches-bootstrap #collapseAgendaFilters h6,
.etouches-bootstrap #collapseAgendaFilters h3,
.etouches-bootstrap #collapseAgendaFilters h4,
.etouches-bootstrap #collapseAgendaFilters label,
.etouches-bootstrap #collapseAgendaFilters a {
  color: #000 !important;
}
.etouches-bootstrap #menu_agenda_btm {
  background: transparent !important;
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .navbar-inverse {
    padding: 5px 0;
  }
}
.etouches-bootstrap .navbar-inverse select.options {
  background: transparent !important;
  color: #FFFFFF;
}
.etouches-bootstrap .navbar-inverse #menu_agenda label {
  background: transparent;
  color: #FFFFFF;
  max-width: 100%;
}
.etouches-bootstrap .navbar-inverse a,
.etouches-bootstrap .navbar-inverse a.link {
  color: #FFFFFF;
}
.etouches-bootstrap .navbar-inverse a .options.my-agenda,
.etouches-bootstrap .navbar-inverse a.link .options.my-agenda {
  border-radius: 0;
}
.etouches-bootstrap #right_container {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap #right_container {
    padding: 0;
  }
}
.etouches-bootstrap a#my_agenda_link,
.etouches-bootstrap a#my_agenda_link_btm {
  background: #5E4045;
  border-radius: 5px;
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap a#my_agenda_link,
.etouches-bootstrap a#my_agenda_link_btm {
    margin-left: 0;
  }
}
.etouches-bootstrap a#my_agenda_link span.badge,
.etouches-bootstrap a#my_agenda_link_btm span.badge {
  border-radius: 0;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .mobile-select-container {
    padding: 0;
  }
}
.etouches-bootstrap a.options {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .etouches-bootstrap a.options {
    padding: 0.75rem;
  }
}
.etouches-bootstrap a.options[aria-expanded=true] {
  background: #f4f4f4;
}
.etouches-bootstrap li.session_location {
  margin-bottom: 10px !important;
}
.etouches-bootstrap #my_agenda_header .badge {
  background: #2E4A77;
  border-radius: 0;
  color: #FFFFFF;
}
.etouches-bootstrap .col-xs-offset-half {
  margin-left: 0;
}
.etouches-bootstrap .agenda {
  /* adjust width of sessions with tracks */
}
.etouches-bootstrap .agenda .row.agenda-row {
  margin-left: 0;
  margin-right: 0;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container.col-xs-11 {
  width: 100% !important;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .agenda_date_header {
  background: #f2f2f4 !important;
  margin-top: 0 !important;
  padding: 10px 15px !important;
}
@media only screen and (max-width: 991px) {
  .etouches-bootstrap .agenda .row.agenda-row .agenda-container .agenda_date_header {
    border-bottom: 1px solid;
  }
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .agenda_date_header h3 {
  font-size: 14px;
  color: #636468 !important;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .agenda_title_header {
  color: #000;
  margin-bottom: 10px;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .agenda_title_header h3 {
  font-size: 16px;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .session-title {
  color: #636468 !important;
  margin-top: 11px !important;
  font-family: "Open Sans", sans-serif, Helvetica, Arial !important;
  font-weight: normal;
  font-size: 16px;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .session-more-info-button {
  color: #5E4045;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .single,
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .col-flex {
  border-left: 0 !important;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .row .header {
  border-radius: 0;
  background: #FFFFFF !important;
  color: #2E4A77 !important;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda .row.agenda-row .agenda-container .row .header {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .price-check {
  border-radius: 5px;
  border: 0;
  background: #5E4045 !important;
  margin-bottom: 10px !important;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda .row.agenda-row .agenda-container .price-check {
    margin: 5px 0 10px !important;
  }
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .price-check:hover {
  background: #402b2f !important;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container [class*=col].time {
  border-color: #9B9B9B;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda .row.agenda-row .agenda-container [class*=col].time {
    border: 0 !important;
    padding: 10px 0 0 0 !important;
    text-align: left;
  }
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container [class*=col].time span {
  color: #000 !important;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .single,
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .multiple {
  border-color: #9B9B9B;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda .row.agenda-row .agenda-container .single,
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .multiple {
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #636468;
    min-height: 0;
    cursor: default !important;
  }
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .single:hover,
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .multiple:hover {
  background: rgba(0, 0, 0, 0) !important;
  cursor: default !important;
}
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .col-flex {
  border-color: #636468 !important;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda .row.agenda-row .agenda-container .col-xs-9,
.etouches-bootstrap .agenda .row.agenda-row .agenda-container .col-xs-3 {
    display: block;
    width: 100% !important;
    padding: 0 !important;
  }
}
.etouches-bootstrap .agenda .row.agenda-row.by_speaker_item .agenda_date_header h4 {
  padding: 0;
}
.etouches-bootstrap .agenda .row.row-flex .col-md-6 {
  width: 100%;
  border-right: 0 !important;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda h3 {
    margin-top: 5px !important;
  }
}
.etouches-bootstrap .modal .modal-dialog .modal-content {
  padding: 0 0 20px 0;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-header {
  background: #000;
  color: #FFFFFF;
  border: 0;
  padding: 0 30px;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: bold;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-header .close-modal {
  background: #5E4045;
  box-shadow: none;
  color: #FFFFFF;
  position: absolute;
  right: 0;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-header .close-modal:hover {
  color: #5E4045;
  background: #FFFFFF;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-body .short-agenda,
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-body p {
  color: #000 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-body .content p {
  padding: 0 30px;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .speaker-item img {
  border-radius: 50% !important;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .speaker-info .headline {
  color: #000 !important;
  margin: 0 !important;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .speaker-info p {
  white-space: inherit !important;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-footer {
  background: #FFFFFF;
  border: 0;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-footer .price-check {
  background: #5E4045 !important;
  color: #FFFFFF !important;
  border-radius: 5px !important;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-footer .price-check:hover {
  background: #402b2f !important;
}
.etouches-bootstrap .modal .modal-dialog .modal-content .modal-footer .price-check span {
  color: #FFFFFF !important;
}
@media only screen and (max-width: 767px) {
  .etouches-bootstrap {
    /* reset filter dropdown to mobile to take up full width */
  }
  .etouches-bootstrap #etouches_speaker_filter label.col-xs-6,
.etouches-bootstrap #etouches_speaker_filter label.col-xs-4,
.etouches-bootstrap #etouches_date_filter label.col-xs-6,
.etouches-bootstrap #etouches_date_filter label.col-xs-4,
.etouches-bootstrap #etouches_session_category_filter label.col-xs-6,
.etouches-bootstrap #etouches_session_category_filter label.col-xs-4,
.etouches-bootstrap #etouches_date_filter label.col-xs-6,
.etouches-bootstrap #etouches_date_filter label.col-xs-4,
.etouches-bootstrap #etouches_time_filter label.col-xs-6,
.etouches-bootstrap #etouches_time_filter label.col-xs-4,
.etouches-bootstrap #etouches_time_filter label.col-xs-6,
.etouches-bootstrap #etouches_time_filter label.col-xs-4,
.etouches-bootstrap #etouches_track_filter label.col-xs-6,
.etouches-bootstrap #etouches_track_filter label.col-xs-4 {
    width: 100% !important;
  }
}

/*# sourceMappingURL=agenda-reset.css.map */
