@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda-container div[class*="col"] {
    width: 100%;
    text-align: left; }
    .etouches-bootstrap .agenda-container div[class*="col"].time {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 5px; }
    .etouches-bootstrap .agenda-container div[class*="col"] * {
      border: none !important; } }
/*# sourceMappingURL=agenda-reset.css.map */