html:after {
  content: none; }

._nestedContainer .row {
  margin: 0 auto; }
  @media screen and (min-width: 1200px) {
    ._nestedContainer .row {
      max-width: 1170px; } }

.custom-speakers .row {
  margin: 0 auto; }

@media only screen and (max-width: 991px) {
  header .navbar-header {
    float: none; }
  header .navbar-left,
  header .navbar-right {
    float: none !important; }
  header .navbar-toggle {
    display: block; }
  header .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  header .navbar-collapse.collapse {
    display: none !important; }
  header .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
    header .navbar-nav > li {
      float: none; }
      header .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; }
  header .collapse.in {
    display: block !important; } }

@media only screen and (max-width: 1160px) and (min-width: 990px) {
  body header #ipBlock-header > div > div > .row .ipWidget.ipWidget-Menu .navbar .navbar-collapse .navbar-nav li a {
    font-size: 11px; }
  html body header #ipBlock-header .ipWidget-Container #navigation-bar .row #nav-logo.column {
    padding: 12px 12px; } }

.btn-secondary {
  font-family: "Gotham Black", "Gotham Bold", sans-serif, Helvetica, Arial; }

html .btn.btn-inverse {
  background: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #5c068c !important; }
  html .btn.btn-inverse:hover {
    background: #702283 !important;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important; }

p {
  font-family: "Gotham Book", sans-serif, Helvetica, Arial; }

.img-full img {
  width: 100%;
  display: block; }
  @media only screen and (max-width: 767px) {
    .img-full img {
      margin-bottom: 40px; } }

html:after {
  content: '';
  position: absolute;
  background: radial-gradient(ellipse, rgba(15, 14, 22, 0.2), #100e17);
  bottom: 0;
  width: 100%;
  height: 100%; }

html body #outer_table {
  z-index: 1000;
  position: relative; }
/*# sourceMappingURL=master-reg.css.map */