@font-face {
  font-family: "MyriadPro-Light";
  src: url("https://au-admin.eventscloud.com/docs/100007765/MyriadPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro-SemiBold";
  src: url("https://au-admin.eventscloud.com/docs/100007765/MyriadPro-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
::selection {
  background: #0081bd;
  color: inherit;
  text-shadow: none;
}

.speaker-widget .flex-item {
  margin: 20px !important;
  padding: 20px !important;
  border: 1px solid #f2f2f4 !important;
  border-radius: 0;
  background-color: transparent;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 40px);
}
@media only screen and (max-width: 991px) {
  .speaker-widget .flex-item {
    width: calc(33.33% - 30px);
    margin: 15px !important;
  }
}
@media only screen and (max-width: 479px) {
  .speaker-widget .flex-item {
    width: calc(100% - 40px) !important;
  }
}

.speaker-item {
  margin: 0 !important;
  width: 100%;
}
.speaker-item .speaker-img-placeholder {
  border: none !important;
  filter: grayscale(1);
}
@media only screen and (max-width: 991px) {
  .speaker-item .speaker-img-placeholder {
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 992px) {
  .speaker-item .item-content {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .speaker-item .item-content {
    text-align: center !important;
  }
}
.speaker-item .item-content .speaker-name {
  display: block;
  color: #222222 !important;
  font-family: "MyriadPro-SemiBold", "MyriadPro-Light", Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
@media only screen and (max-width: 991px) {
  .speaker-item .item-content .speaker-name {
    font-size: 16px !important;
  }
}
.speaker-item .item-content .speaker-title {
  display: block;
  font-family: "MyriadPro-Light", Arial, sans-serif !important;
  color: #222222 !important;
  font-size: 14px !important;
  font-weight: normal;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.speaker-item .item-content .comp-name {
  display: block;
  font-family: "MyriadPro-Light", Arial, sans-serif !important;
  color: #222222 !important;
  font-size: 12px !important;
  font-weight: bold;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.speaker-item .item-content .more-btn {
  display: inline-block;
  background-color: #012f65 !important;
  color: #FFFFFF !important;
  border-color: #012f65 !important;
  border-radius: 0;
  border-width: 2px;
  font-family: "MyriadPro-Light", Arial, sans-serif !important;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
}
.speaker-item .item-content .more-btn:hover {
  background-color: #0081bd !important;
  border-color: #0081bd !important;
}

#myModal.modal .modal-dialog .modal-content *:not(.glyphicon) {
  font-family: "MyriadPro-Light", Arial, sans-serif !important;
}
#myModal.modal .modal-dialog .modal-content .modal-header {
  background: #000;
}
#myModal.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #FFFFFF;
}
#myModal.modal .modal-dialog .modal-content .modal-header .close-modal {
  background: #012f65;
  box-shadow: none;
  color: #FFFFFF;
}
#myModal.modal .modal-dialog .modal-content .modal-header .close-modal:hover {
  color: #012f65;
  background: #FFFFFF;
}
#myModal.modal .modal-dialog .modal-content .modal-body .speaker-item {
  border: 0;
}
#myModal.modal .modal-dialog .modal-content .modal-body .speaker-name {
  color: #000;
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
#myModal.modal .modal-dialog .modal-content .modal-body .speaker-title,
#myModal.modal .modal-dialog .modal-content .modal-body .comp-name {
  font-size: 18px;
  margin: 0 0 5px;
  color: #012f65 !important;
}
#myModal.modal .modal-dialog .modal-content .modal-body .comp-name {
  font-size: 16px;
}
#myModal.modal .modal-dialog .modal-content .modal-body .speaker-bio * {
  line-height: 1.5;
}

/* @SPEAKERS
============= */
.custom-speakers {
  padding-bottom: 40px;
}
.custom-speakers .speakers-row .speaker {
  margin: 0px 0px 25px;
  padding: 15px;
  display: block;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .custom-speakers .speakers-row .speaker {
    margin: 15px;
    padding: 15px;
    display: table;
    width: calc(33.33% - 30px);
    text-align: left;
  }
}
.custom-speakers .speakers-row .speaker a {
  overflow: visible;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  float: none;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .custom-speakers .speakers-row .speaker a {
    width: 30%;
    display: table-cell;
    float: left;
    margin-right: 10px;
  }
}
.custom-speakers .speakers-row .speaker a figure {
  border: 10px solid #FFFFFF;
  border-radius: 50%;
  background-color: #0081bd;
  filter: grayscale(1);
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
@media only screen and (max-width: 1199px) {
  .custom-speakers .speakers-row .speaker a figure {
    width: 200px;
    height: 200px;
  }
}
.custom-speakers .speakers-row .speaker a figure img {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.custom-speakers .speakers-row .speaker .bio-group {
  text-align: center;
  display: block;
}
@media only screen and (min-width: 992px) {
  .custom-speakers .speakers-row .speaker .bio-group {
    text-align: left;
    display: table-cell;
    padding-top: 10px;
  }
}
.custom-speakers .speakers-row .speaker .bio-group .bio-button {
  display: inline-block;
  background-color: #012f65 !important;
  color: #FFFFFF !important;
  border-color: #012f65 !important;
  border-radius: 0;
  border-width: 2px;
  font-family: "MyriadPro-Light", Arial, sans-serif !important;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  width: auto !important;
}
.custom-speakers .speakers-row .speaker .bio-group .bio-button:hover {
  background-color: #0081bd !important;
  border-color: #0081bd !important;
}
.custom-speakers .speakers-row .speaker .bio-group * {
  color: #222222 !important;
}
.custom-speakers .speakers-row .speaker .bio-group .speaker-name {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
.custom-speakers .speakers-row .speaker .bio-group .speaker-title {
  color: #222222 !important;
  font-size: 12px !important;
  margin: 0 0 5px;
  display: block;
}
.custom-speakers .speakers-row .speaker .bio-group .speaker-company {
  font-size: 12px !important;
  margin: 0 0 5px;
  display: block;
}

body.ipHasAdminNavbar.ipHasAdminPanel .speaker-modal {
  display: none !important;
}
body.website:not(.ipHasAdminPanel) {
  /*  ====================== Modal Default ====================== */
}
body.website:not(.ipHasAdminPanel) .modal.right.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
  z-index: 999999;
  -webkit-box-shadow: -2px 3px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 22px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 22px -4px rgba(0, 0, 0, 0.75);
}
@media only screen and (min-width: 768px) {
  body.website:not(.ipHasAdminPanel) .modal.right.fade .modal-dialog {
    right: -640px;
  }
}
@media only screen and (min-width: 1024px) {
  body.website:not(.ipHasAdminPanel) .modal.right.fade .modal-dialog {
    right: -880px;
  }
}
body.website:not(.ipHasAdminPanel) .modal.right.fade.in {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
body.website:not(.ipHasAdminPanel) .modal.right.fade.in .modal-dialog {
  right: 0;
  left: 0;
}
body.website:not(.ipHasAdminPanel) .modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
  z-index: 999999;
}
@media only screen and (min-width: 768px) {
  body.website:not(.ipHasAdminPanel) .modal.left.fade .modal-dialog {
    left: -640px;
  }
}
@media only screen and (min-width: 1024px) {
  body.website:not(.ipHasAdminPanel) .modal.left.fade .modal-dialog {
    left: -880px;
  }
}
body.website:not(.ipHasAdminPanel) .modal.left.fade.in .modal-dialog {
  left: 0;
}
body.website:not(.ipHasAdminPanel) .modal .modal-dialog {
  background: #FFFFFF;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  z-index: 999999;
  top: 10%;
}
@media (max-width: 576px) {
  body.website:not(.ipHasAdminPanel) .modal .modal-dialog {
    top: 5%;
  }
}
body.website:not(.ipHasAdminPanel) .modal .modal-body {
  padding: 25px 0 0 0;
}
body.website:not(.ipHasAdminPanel) .modal .modal-body .modal-profile-image {
  padding: 15px;
}
body.website:not(.ipHasAdminPanel) .modal .modal-body .modal-profile-image .profile-image {
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border: 10px solid #FFFFFF;
  text-align: center;
  background-color: #0081bd;
}
@media only screen and (max-width: 1199px) {
  body.website:not(.ipHasAdminPanel) .modal .modal-body .modal-profile-image .profile-image {
    width: 240px;
    height: 240px;
  }
}
body.website:not(.ipHasAdminPanel) .modal .modal-body .modal-profile-image .profile-image img {
  width: 100%;
  height: auto;
}
body.website:not(.ipHasAdminPanel) .modal .social-media {
  padding: 10px 0;
  margin: 0;
}
body.website:not(.ipHasAdminPanel) .modal .social-media li {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 0;
  margin: 0;
}
body.website:not(.ipHasAdminPanel) .modal .social-media li:last-child {
  padding-right: 0;
}
body.website:not(.ipHasAdminPanel) .modal .social-media li a {
  font-size: 16px;
  background: #FFFFFF;
  color: #0081bd !important;
  border: 1px solid #0081bd !important;
  display: inline-block;
  padding: 4px 9px;
  border-radius: 50%;
  width: 35px;
  text-align: center;
}
body.website:not(.ipHasAdminPanel) .modal .social-media li a:hover {
  background: #0081bd !important;
  color: #FFFFFF !important;
  border: 1px solid #0081bd;
  padding: 4px 9px;
}
body.website:not(.ipHasAdminPanel) .modal h5 {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 16px;
  margin: 0;
}
@media (min-width: 991px) {
  body.website:not(.ipHasAdminPanel) .modal .speaker-details.col-md-6 {
    height: 400px;
  }
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions {
  padding: 30px;
  overflow: hidden;
  position: relative;
  top: 0;
  background: #FFFFFF;
  width: 100%;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .container {
  background: #FFFFFF;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions h5 {
  font-size: 18px;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .session-details {
  border-bottom: 1px dotted #0081bd;
  padding: 10px 0;
  overflow: visible;
  display: inline-block;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .session-details .col-md-3 {
  padding: 0;
}
@media (min-width: 576px) {
  body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .session-details .col-md-6 {
    padding: 0;
  }
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .session-details h4 {
  font-size: 18px;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .session-details:last-child {
  padding-bottom: 10px;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-sessions .session-details p {
  padding: 0;
  margin: 0;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-title {
  font-size: 16px !important;
}
body.website:not(.ipHasAdminPanel) .modal .bio {
  padding-top: 15px;
  margin-top: 15px;
  min-height: 240px;
  font-size: 14px !important;
  border-top: 1px solid #eee;
  overflow-y: auto;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  body.website:not(.ipHasAdminPanel) .modal .bio {
    height: auto;
  }
}
body.website:not(.ipHasAdminPanel) .modal .bio p {
  font-size: 14px !important;
}
body.website:not(.ipHasAdminPanel) .modal .bio a {
  color: #0081bd;
  font-size: inherit !important;
}
body.website:not(.ipHasAdminPanel) .modal h4.name-speaker {
  color: #222222 !important;
  font-size: 24px !important;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold !important;
  text-transform: none !important;
}
body.website:not(.ipHasAdminPanel) .modal span.speaker-title {
  color: #222222 !important;
  font-size: 14px !important;
}
body.website:not(.ipHasAdminPanel) .modal .speaker-company {
  font-size: 14px !important;
  color: #222222 !important;
  margin: 0 0 5px;
}
body.website:not(.ipHasAdminPanel) .modal .bio {
  color: #000 !important;
  line-height: 130%;
}
body.website:not(.ipHasAdminPanel) .close-col {
  padding: 5px;
  position: relative;
  background-color: #222222 !important;
}
body.website:not(.ipHasAdminPanel) .close-col button.close {
  border: 2px solid #222222;
  padding: 5px 8px;
  background: #FFFFFF;
  border-radius: 100% !important;
  font-size: 14px !important;
  opacity: 1 !important;
  color: #222222 !important;
}
body.website:not(.ipHasAdminPanel).modal-open {
  overflow: hidden;
}
body.website:not(.ipHasAdminPanel).modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
body.website:not(.ipHasAdminPanel) .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
body.website:not(.ipHasAdminPanel) .modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
body.website:not(.ipHasAdminPanel) .modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
body.website:not(.ipHasAdminPanel) .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
body.website:not(.ipHasAdminPanel) .modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
body.website:not(.ipHasAdminPanel) .modal-dialog-centered::before {
  display: block;
  content: "";
}
body.website:not(.ipHasAdminPanel) .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}
body.website:not(.ipHasAdminPanel) .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
body.website:not(.ipHasAdminPanel) .modal-backdrop.fade {
  opacity: 0.5;
}
body.website:not(.ipHasAdminPanel) .modal-backdrop.show {
  opacity: 0.5;
}
body.website:not(.ipHasAdminPanel) .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
body.website:not(.ipHasAdminPanel) .modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
body.website:not(.ipHasAdminPanel) .modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
body.website:not(.ipHasAdminPanel) .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
body.website:not(.ipHasAdminPanel) .modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #eee;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
body.website:not(.ipHasAdminPanel) .modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}
body.website:not(.ipHasAdminPanel) .modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
body.website:not(.ipHasAdminPanel) .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  body.website:not(.ipHasAdminPanel) .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  body.website:not(.ipHasAdminPanel) .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  body.website:not(.ipHasAdminPanel) .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  body.website:not(.ipHasAdminPanel) .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  body.website:not(.ipHasAdminPanel) .modal-lg,
body.website:not(.ipHasAdminPanel) .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  body.website:not(.ipHasAdminPanel) .modal-xl {
    max-width: 1140px;
  }
}

/*# sourceMappingURL=speakers-reset.css.map */
