@font-face {
  font-family: "MyriadPro-Light";
  src: url("https://au-admin.eventscloud.com/docs/100007765/MyriadPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro-SemiBold";
  src: url("https://au-admin.eventscloud.com/docs/100007765/MyriadPro-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
::selection {
  background: #0081bd;
  color: inherit;
  text-shadow: none;
}

.sponsor-widget .sponsor-item .item-content a.more-link {
  color: #012f65 !important;
}

.etouches-bootstrap #myModal.modal .modal-dialog .modal-content .modal-header {
  background: #000 !important;
}
.etouches-bootstrap #myModal.modal .modal-dialog .modal-content .modal-header .close-modal {
  background: #012f65 !important;
}

/*# sourceMappingURL=sponsors-reset.css.map */
