@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@font-face {
  font-family: 'MarkOT-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Light") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Reg';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Reg") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Book';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Book") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Medium';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Medium") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Bold") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlacardNext-WideLight';
  src: url("https://au-admin.eventscloud.com/docs/100007765/PlacardNext-WideLight") format("woff");
  font-weight: normal;
  font-style: normal;
}

html:after {
  content: none;
}

._nestedContainer .row {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  ._nestedContainer .row {
    max-width: 1170px;
  }
}

.custom-speakers .row {
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  header .navbar-header {
    float: none;
  }
  header .navbar-left,
  header .navbar-right {
    float: none !important;
  }
  header .navbar-toggle {
    display: block;
  }
  header .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  header .navbar-collapse.collapse {
    display: none !important;
  }
  header .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  header .navbar-nav > li {
    float: none;
  }
  header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .collapse.in {
    display: block !important;
  }
}

@media only screen and (max-width: 1160px) and (min-width: 990px) {
  body header #ipBlock-header > div > div > .row .ipWidget.ipWidget-Menu .navbar .navbar-collapse .navbar-nav li a {
    font-size: 11px;
  }
  html body header #ipBlock-header .ipWidget-Container #navigation-bar .row #nav-logo.column {
    padding: 12px 12px;
  }
}

/* $CORE
============= */
::selection {
  background: #a0237f;
  color: #FFFFFF !important;
  text-shadow: none;
}

/* $TYPOGRAPHY */
body h1,
body h2,
body h3,
body h4,
body h6,
main h1,
main h2,
main h3,
main h4,
main h6,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#ipBlock-mainContent h4,
#ipBlock-mainContent h6,
#inner_content h1,
#inner_content h2,
#inner_content h3,
#inner_content h4,
#inner_content h6,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3,
.ipWidget h4,
.ipWidget h6 {
  color: #999401 !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: normal !important;
}

body h5,
main h5,
#ipBlock-mainContent h5,
#inner_content h5,
.ipWidget h5 {
  color: #a0237f !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: normal !important;
}

body *:not(i),
main *:not(i),
#ipBlock-mainContent *:not(i),
#inner_content *:not(i),
.ipWidget *:not(i) {
  font-family: "Roboto", "Roboto", Arial, sans-serif;
  font-weight: 400;
}

body strong,
body b,
main strong,
main b,
#ipBlock-mainContent strong,
#ipBlock-mainContent b,
#inner_content strong,
#inner_content b,
.ipWidget strong,
.ipWidget b {
  font-weight: normal !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif;
}

body p,
main p,
#ipBlock-mainContent p,
#inner_content p,
.ipWidget p {
  line-height: 140% !important;
  font-family: "Roboto", "Roboto", Arial, sans-serif;
  font-size: 16px !important;
  color: #222222 !important;
}

body p.red,
main p.red,
#ipBlock-mainContent p.red,
#inner_content p.red,
.ipWidget p.red {
  color: #B30000 !important;
}

body h2,
main h2,
#ipBlock-mainContent h2,
#inner_content h2,
.ipWidget h2 {
  font-size: 40px !important;
}

@media only screen and (max-width: 991px) {
  body h2,
  main h2,
  #ipBlock-mainContent h2,
  #inner_content h2,
  .ipWidget h2 {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 479px) {
  body h2,
  main h2,
  #ipBlock-mainContent h2,
  #inner_content h2,
  .ipWidget h2 {
    font-size: 20px !important;
  }
}

.img-full img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 767px) {
  .img-full img {
    margin-bottom: 40px;
  }
}

/* $BUTTONS */
.ipWidget-Buttons button.btn {
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  transition: all .2s ease-out;
  border-radius: 0 !important;
  padding: 15px 30px !important;
  min-width: 180px;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

@media only screen and (max-width: 767px) {
  .ipWidget-Buttons button.btn {
    width: 100%;
  }
}

body.website header #hero:after, body.website main #counter-section:after {
  content: '';
  position: absolute;
  background: radial-gradient(ellipse, rgba(34, 34, 34, 0.2), #000);
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
}

.ipWidget-Buttons button.btn.btn-primary {
  color: #FFFFFF !important;
  background: #211262 !important;
  border: 2px solid #211262 !important;
  z-index: 2;
}

.ipWidget-Buttons button.btn.btn-primary:hover, .ipWidget-Buttons button.btn.btn-primary:active, .ipWidget-Buttons button.btn.btn-primary:focus {
  color: #FFFFFF !important;
  border-color: #0b0621 !important;
  background: #0b0621 !important;
  text-decoration: none !important;
}

.ipWidget-Buttons button.btn.btn-secondary {
  color: #FFFFFF !important;
  background: transparent !important;
  border: 2px solid #FFFFFF !important;
  z-index: 2;
}

.ipWidget-Buttons button.btn.btn-secondary:hover, .ipWidget-Buttons button.btn.btn-secondary:active, .ipWidget-Buttons button.btn.btn-secondary:focus {
  color: #000 !important;
  border-color: #FFFFFF !important;
  background: #FFFFFF !important;
  text-decoration: none !important;
}

.btn-blue .ipWidget-Buttons button.btn {
  color: #FFFFFF !important;
  background: #211262 !important;
  border: 2px solid #211262 !important;
  z-index: 2;
}

.btn-blue .ipWidget-Buttons button.btn:hover, .btn-blue .ipWidget-Buttons button.btn:active, .btn-blue .ipWidget-Buttons button.btn:focus {
  color: #FFFFFF !important;
  border-color: #4d4a01 !important;
  background: #4d4a01 !important;
  text-decoration: none !important;
}

body.website:not(.ipHasAdminPanel) header .hero-image {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-position: center center;
  z-index: -1;
}

body.website header #hero {
  display: flex;
  flex-flow: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body.website header #hero .row.clearfix {
  width: 100%;
  display: flex;
  justify-content: center;
}

body.website header #hero .row.clearfix.banner-btn-wrap {
  width: auto;
}

@media only screen and (max-width: 767px) {
  body.website header #hero .row.clearfix.banner-btn-wrap {
    flex-direction: column;
  }
}

body.website header #hero .row.clearfix.banner-btn-wrap > div {
  padding: 0;
}

body.website header #hero .row.clearfix .column {
  width: 100%;
  z-index: 9;
}

@media only screen and (min-width: 1200px) {
  body.website header #hero .row.clearfix .column {
    width: 65%;
  }
}

body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor p {
  color: #FFFFFF !important;
  font-family: "Roboto", "Roboto", Arial, sans-serif !important;
  font-size: 16px !important;
  margin: 0 0 5px;
}

body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor h1 {
  color: #FFFFFF !important;
  font-family: "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: 900 !important;
  font-size: 50px !important;
  margin-top: 0px;
}

@media only screen and (min-width: 1200px) {
  body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor h1 {
    font-size: 58px !important;
  }
}

@media only screen and (max-width: 479px) {
  body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor h1 {
    font-size: 36px !important;
  }
}

body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor h3 {
  color: #FFFFFF !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: 400 !important;
  margin: 0 0 25px;
}

@media only screen and (min-width: 1200px) {
  body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor h3 {
    font-size: 32px !important;
  }
}

@media only screen and (max-width: 479px) {
  body.website header #hero .row.clearfix .column .ipBlock .ipWidget-CKEditor h3 {
    font-size: 20px !important;
  }
}

body.website header #hero .row.clearfix .column .ipBlock .btn {
  margin-top: 30px;
  margin-bottom: 0;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar {
  background: #FFFFFF !important;
  border: none !important;
  z-index: 10;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar.navbar-fixed-top {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar .container-fluid {
  max-width: 1170px;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar .collapse.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar .navbar-brand {
  padding: 0 !important;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar .navbar-toggle {
  background: #61154d !important;
  color: #FFFFFF !important;
  border-color: #61154d !important;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar .navbar-toggle.collapsed {
  background: #a0237f !important;
  border-color: #a0237f !important;
}

@media only screen and (max-width: 991px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav {
    width: 100% !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 10px !important;
  }
}

@media only screen and (min-width: 992px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li {
    padding: 0 !important;
  }
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li a {
  transition: all 0.4s ease;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px !important;
  color: #222222;
}

@media only screen and (max-width: 991px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li a {
    padding: 10px !important;
  }
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li a:hover {
  background: transparent !important;
}

@media only screen and (min-width: 992px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li a:hover:after {
    content: "";
    background-color: transparent;
    border-bottom: 3px solid #222222;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0px;
    bottom: 0;
  }
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.active a {
  background: transparent !important;
}

@media only screen and (min-width: 768px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.active a:after {
    content: "";
    background-color: transparent;
    border-bottom: 3px solid #222222;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0px;
    bottom: 0;
  }
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.register {
  background: #a0237f;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.register:hover {
  background: #61154d;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.register a {
  color: #FFFFFF;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.register a:hover {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.register a:hover:after {
    border-bottom: 0px solid;
  }
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.virtual-login {
  background: #211262;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.virtual-login:hover {
  background: #0b0621;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.virtual-login a {
  color: #FFFFFF;
}

body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.virtual-login a:hover {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  body.website header .ipWidget-MenuWidget nav.menu-widget.navbar ul.navbar-nav li.virtual-login a:hover:after {
    border-bottom: 0px solid;
  }
}

body.website main {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
}

body.website main ._nestedContainer {
  padding: 50px 30px 30px 30px;
}

body.website main ._nestedContainer#faqs {
  padding-bottom: 140px;
}

@media only screen and (min-width: 1200px) {
  body.website main ._nestedContainer {
    padding: 80px 30px 80px 30px;
  }
}

@media only screen and (max-width: 767px) {
  body.website main ._nestedContainer {
    padding: 40px 5px 40px 5px;
  }
}

@media only screen and (max-width: 767px) {
  body.website main .column {
    padding: 10px 20px !important;
  }
}

body.website main .section-heading {
  padding: 30px;
}

body.website main .section-heading:before {
  font-size: 45px;
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free" !important;
  text-align: center;
}

body.website main .section-heading .ipWidget-CKEditor {
  text-align: center;
}

body.website main .section-heading h1,
body.website main .section-heading h2,
body.website main .section-heading h3,
body.website main .section-heading h4,
body.website main .section-heading h5,
body.website main .section-heading h6 {
  color: #a0237f !important;
}

body.website main .section-heading h1 {
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media only screen and (min-width: 1200px) {
  body.website main .section-heading h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 767px) {
  body.website main .section-heading h1 {
    margin-bottom: 20px;
  }
}

body.website main .section-heading h2 {
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media only screen and (min-width: 1200px) {
  body.website main .section-heading h2 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 767px) {
  body.website main .section-heading h2 {
    margin-bottom: 20px;
  }
}

body.website main .section-heading h1 + p {
  margin-top: 40px;
}

body.website main .section-heading h4 {
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}

body.website main .section-heading h4 span {
  background: #FFFFFF;
  padding: 0 15px;
}

body.website main .section-heading h4:before, body.website main .section-heading h4:after {
  border-top: 1px solid;
  border-top-color: inherit;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
}

body.website main .section-heading p .fa,
body.website main .section-heading p .far,
body.website main .section-heading p .fas {
  font-size: 40px;
}

body.website main #welcome-section .section-heading:before {
  content: "\f130";
  padding-bottom: 30px;
}

body.website main #speakers-section .section-heading:before {
  content: "\f0c0";
  padding-bottom: 30px;
}

body.website main #agenda-section {
  background-color: rgba(34, 34, 34, 0.05);
  padding-bottom: 0;
  padding-bottom: 60px;
}

body.website main #agenda-section .section-heading:before {
  content: "\f022";
  padding-bottom: 30px;
}

body.website main #agenda-sub {
  background-color: rgba(34, 34, 34, 0.05);
  padding-top: 0;
}

body.website main #tickets-section .section-heading:before {
  content: "\f155";
  padding-bottom: 30px;
}

body.website main #app-section .section-heading:before {
  content: "\f3cd";
  padding-bottom: 30px;
}

body.website main #app-section .app-buttons img {
  width: 100% !important;
  height: auto !important;
  max-width: 225px;
}

@media only screen and (max-width: 767px) {
  body.website main #app-section .app-buttons img {
    max-width: inherit;
  }
}

body.website main #gallery-section .section-heading:before {
  content: "\f302";
  padding-bottom: 30px;
}

body.website main #testimonials-section .section-heading:before {
  content: "\f086";
  padding-bottom: 30px;
}

body.website main #sponsors-section .section-heading:before {
  content: "\f2b5";
  padding-bottom: 30px;
}

body.website main #faqs * {
  color: #fff !important;
}

@media only screen and (max-width: 991px) {
  body.website main #faqs .col-sm-6 {
    width: 100%;
  }
}

body.website main #faqs .section-heading:before {
  content: "\f4ad";
  padding-bottom: 30px;
}

body.website main #counter-section .column {
  padding: 10px;
}

body.website main #counter-section .column .ipWidget-CKEditor {
  text-align: center;
  color: #FFFFFF !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: 600 !important;
  position: relative;
  z-index: 10;
  font-size: 25px !important;
}

@media only screen and (max-width: 767px) {
  body.website main #counter-section .column .ipWidget-CKEditor {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  body.website main #counter-section .column .ipWidget-CKEditor {
    font-size: 18px !important;
  }
}

body.website main #counter-section .column .ipWidget-CKEditor p {
  color: #FFFFFF !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: 600 !important;
  position: relative;
  z-index: 10;
  font-size: 25px !important;
}

@media only screen and (max-width: 767px) {
  body.website main #counter-section .column .ipWidget-CKEditor p {
    font-size: 20px !important;
  }
}

body.website main #counter-section .column .ipWidget-CKEditor:first-child > div {
  font-size: 65px !important;
  font-weight: 900 !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  display: inline-block !important;
}

@media only screen and (max-width: 991px) {
  body.website main #counter-section .column .ipWidget-CKEditor:first-child > div {
    font-size: 45px !important;
  }
}

body.website main .pricing-section,
body.website main #pricing-section,
body.website main #tickets-section,
body.website main .tickets-section {
  background: #222222;
  padding: 80px 15px;
}

body.website main .pricing-section h2,
body.website main #pricing-section h2,
body.website main #tickets-section h2,
body.website main .tickets-section h2 {
  color: #FFFFFF !important;
}

body.website main .pricing-section .section-heading h1,
body.website main .pricing-section .section-heading h3,
body.website main .pricing-section .section-heading h4,
body.website main .pricing-section .section-heading h5,
body.website main .pricing-section .section-heading h6,
body.website main .pricing-section .section-heading p,
body.website main .pricing-section .section-heading li,
body.website main #pricing-section .section-heading h1,
body.website main #pricing-section .section-heading h3,
body.website main #pricing-section .section-heading h4,
body.website main #pricing-section .section-heading h5,
body.website main #pricing-section .section-heading h6,
body.website main #pricing-section .section-heading p,
body.website main #pricing-section .section-heading li,
body.website main #tickets-section .section-heading h1,
body.website main #tickets-section .section-heading h3,
body.website main #tickets-section .section-heading h4,
body.website main #tickets-section .section-heading h5,
body.website main #tickets-section .section-heading h6,
body.website main #tickets-section .section-heading p,
body.website main #tickets-section .section-heading li,
body.website main .tickets-section .section-heading h1,
body.website main .tickets-section .section-heading h3,
body.website main .tickets-section .section-heading h4,
body.website main .tickets-section .section-heading h5,
body.website main .tickets-section .section-heading h6,
body.website main .tickets-section .section-heading p,
body.website main .tickets-section .section-heading li {
  color: #FFFFFF !important;
}

body.website main .pricing-section .section-heading:before,
body.website main #pricing-section .section-heading:before,
body.website main #tickets-section .section-heading:before,
body.website main .tickets-section .section-heading:before {
  color: #FFFFFF !important;
}

body.website main .pricing-section .column:not(.section-heading),
body.website main #pricing-section .column:not(.section-heading),
body.website main #tickets-section .column:not(.section-heading),
body.website main .tickets-section .column:not(.section-heading) {
  padding: 20px 20px;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock,
body.website main #pricing-section .column:not(.section-heading) .ipBlock,
body.website main #tickets-section .column:not(.section-heading) .ipBlock,
body.website main .tickets-section .column:not(.section-heading) .ipBlock {
  border: 1px solid #2f2f2f;
  border-radius: 25px;
  padding: 30px 0;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.41);
  text-align: center;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock .ipWidget.ipWidget-CKEditor div h2,
body.website main #pricing-section .column:not(.section-heading) .ipBlock .ipWidget.ipWidget-CKEditor div h2,
body.website main #tickets-section .column:not(.section-heading) .ipBlock .ipWidget.ipWidget-CKEditor div h2,
body.website main .tickets-section .column:not(.section-heading) .ipBlock .ipWidget.ipWidget-CKEditor div h2 {
  color: #FFFFFF !important;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock h1,
body.website main .pricing-section .column:not(.section-heading) .ipBlock h2,
body.website main .pricing-section .column:not(.section-heading) .ipBlock h3,
body.website main .pricing-section .column:not(.section-heading) .ipBlock h4,
body.website main .pricing-section .column:not(.section-heading) .ipBlock h5,
body.website main .pricing-section .column:not(.section-heading) .ipBlock h6,
body.website main .pricing-section .column:not(.section-heading) .ipBlock p,
body.website main .pricing-section .column:not(.section-heading) .ipBlock li,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h1,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h2,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h3,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h4,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h5,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h6,
body.website main #pricing-section .column:not(.section-heading) .ipBlock p,
body.website main #pricing-section .column:not(.section-heading) .ipBlock li,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h1,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h2,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h3,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h4,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h5,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h6,
body.website main #tickets-section .column:not(.section-heading) .ipBlock p,
body.website main #tickets-section .column:not(.section-heading) .ipBlock li,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h1,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h2,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h3,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h4,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h5,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h6,
body.website main .tickets-section .column:not(.section-heading) .ipBlock p,
body.website main .tickets-section .column:not(.section-heading) .ipBlock li {
  color: #FFFFFF !important;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock h2,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h2,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h2,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h2 {
  font-size: 60px;
  padding: 15px 0;
  margin: 0;
  font-weight: bold;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock h3,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h3,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h3,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 100%;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock h4,
body.website main #pricing-section .column:not(.section-heading) .ipBlock h4,
body.website main #tickets-section .column:not(.section-heading) .ipBlock h4,
body.website main .tickets-section .column:not(.section-heading) .ipBlock h4 {
  padding: 0 0 15px;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock hr,
body.website main #pricing-section .column:not(.section-heading) .ipBlock hr,
body.website main #tickets-section .column:not(.section-heading) .ipBlock hr,
body.website main .tickets-section .column:not(.section-heading) .ipBlock hr {
  border-top: 1px solid #222222;
  margin-bottom: 30px;
  margin-top: 30px;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock ul,
body.website main #pricing-section .column:not(.section-heading) .ipBlock ul,
body.website main #tickets-section .column:not(.section-heading) .ipBlock ul,
body.website main .tickets-section .column:not(.section-heading) .ipBlock ul {
  list-style-type: none;
  margin: auto;
  padding: 0 20px;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock ul li,
body.website main #pricing-section .column:not(.section-heading) .ipBlock ul li,
body.website main #tickets-section .column:not(.section-heading) .ipBlock ul li,
body.website main .tickets-section .column:not(.section-heading) .ipBlock ul li {
  padding-bottom: 10px;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock ul li:last-child,
body.website main #pricing-section .column:not(.section-heading) .ipBlock ul li:last-child,
body.website main #tickets-section .column:not(.section-heading) .ipBlock ul li:last-child,
body.website main .tickets-section .column:not(.section-heading) .ipBlock ul li:last-child {
  padding-bottom: 0;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock .ipWidget,
body.website main #pricing-section .column:not(.section-heading) .ipBlock .ipWidget,
body.website main #tickets-section .column:not(.section-heading) .ipBlock .ipWidget,
body.website main .tickets-section .column:not(.section-heading) .ipBlock .ipWidget {
  padding: 15px;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row,
body.website main #pricing-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row,
body.website main #tickets-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row,
body.website main .tickets-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row {
  margin: 0;
  padding: 15px 0 0 0;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button,
body.website main #pricing-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button,
body.website main #tickets-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button,
body.website main .tickets-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button {
  margin: 0;
}

body.website main .pricing-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button.btn,
body.website main #pricing-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button.btn,
body.website main #tickets-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button.btn,
body.website main .tickets-section .column:not(.section-heading) .ipBlock .ipWidget-Buttons .row button.btn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

body.website main .pricing-section .column:not(.section-heading).active,
body.website main #pricing-section .column:not(.section-heading).active,
body.website main #tickets-section .column:not(.section-heading).active,
body.website main .tickets-section .column:not(.section-heading).active {
  padding: 0 20px 0;
}

body.website main .pricing-section .column:not(.section-heading).active .ipBlock,
body.website main #pricing-section .column:not(.section-heading).active .ipBlock,
body.website main #tickets-section .column:not(.section-heading).active .ipBlock,
body.website main .tickets-section .column:not(.section-heading).active .ipBlock {
  padding: 60px 0;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipBlock,
body.website main #testimonials-section .row:not(:first-child) .column .ipBlock {
  overflow: hidden;
  padding: 0 0 25px;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:first-child,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:first-child {
  background: #e897d3 !important;
  padding: 40px 30px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:first-child > div:after,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:first-child > div:after {
  margin: 0 0 4px 3px;
  border-width: 0 26px 26px 0;
  border-color: transparent #e897d3 transparent transparent;
  position: absolute;
  bottom: -30px;
  left: 48px;
  width: 0;
  height: 0;
  content: " ";
  border-style: solid;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:last-child,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:last-child {
  width: 67%;
  float: left;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:last-child div h4,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:last-child div h4 {
  display: inline-block;
  width: 100%;
  font-size: 16px !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 120% !important;
  margin: 0 !important;
  padding-bottom: 5px !important;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:last-child div p,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget.ipWidget-CKEditor:last-child div p {
  font-size: 13px !important;
  line-height: 120% !important;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget-EImage,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget-EImage {
  float: left;
  margin-top: 0;
  margin-right: 15px;
  width: 20% !important;
  height: auto !important;
  max-width: 60px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

body.website main .testimonials-section .row:not(:first-child) .column .ipWidget-EImage img,
body.website main #testimonials-section .row:not(:first-child) .column .ipWidget-EImage img {
  border-radius: 100%;
}

body.website main #map-section {
  padding: 0 !important;
  margin: 0 !important;
}

body.website main #map-section .row {
  max-width: unset !important;
  width: 100%;
}

body.website main #map-section .row .column {
  padding: 0 !important;
}

body.website main #map-section .row .column .ipWidget-CKEditor > div {
  height: 450px;
}

@media only screen and (max-width: 991px) {
  body.website main #map-section .row .column .ipWidget-CKEditor > div {
    height: 250px;
  }
}

@media only screen and (max-width: 991px) {
  body.website main #map-section .row .column .ipWidget-CKEditor > div iframe {
    height: 250px;
  }
}

body.website footer {
  padding: 40px 0px;
  background: #f2f2f4;
}

body.website footer #footer-section {
  padding: 0px;
}

@media only screen and (min-width: 768px) {
  body.website footer #footer-section .col-xs-12 {
    width: 33.33%;
  }
}

body.website footer #footer-section .ipWidget {
  color: #222222 !important;
}

body.website footer #footer-section .ipWidget ul {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

body.website footer #footer-section .ipWidget a {
  color: #222222 !important;
}

body.website footer #footer-section .ipWidget a:hover {
  color: #a0237f !important;
}

@media (max-width: 767px) {
  body.website footer #footer-section .footer-link-list {
    text-align: center;
  }
}

body.website footer #footer-section .footer-link-list .ipWidget ul {
  list-style-type: none !important;
  padding: 0px;
  margin: 0;
}

body.website footer #footer-section .footer-link-list .ipWidget ul li {
  display: inline-block !important;
}

body.website footer #footer-section .footer-link-list .ipWidget ul li a {
  color: #222222 !important;
}

body.website footer #footer-section .footer-link-list .ipWidget ul li a:hover {
  color: #a0237f !important;
}

@media only screen and (max-width: 767px) {
  body.website footer #footer-section .footer-link-list .ipWidget ul li {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  body.website footer #footer-section .footer-link-list .ipWidget ul {
    margin-bottom: 30px;
  }
}

body.website footer #footer-section .copyright-text p {
  color: #222222 !important;
}

@media only screen and (max-width: 479px) {
  body.website footer #footer-section .copyright-text p {
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  body.website footer #footer-section .copyright-text {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 479px) {
  body.website footer #footer-section .social-icons {
    padding-top: 15px;
  }
}

body.website footer #footer-section .social-icons p {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

body.website footer #footer-section .social-icons p i.fab {
  color: #222222;
  padding: 0px 15px;
  font-size: 25px;
}

body.website footer #footer-section .social-icons p i.fab:hover {
  color: #a0237f !important;
}

.accordion-wrap {
  z-index: 2;
  top: -120px;
}

.accordion-wrap .accordion-section {
  max-width: 1000px;
  margin: auto;
  background: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  padding-top: 40px !important;
  padding-bottom: 25px !important;
  border-radius: 10px;
}

@media only screen and (max-width: 991px) {
  .accordion-wrap .accordion-section {
    width: calc(100% - 40px);
  }
}

.accordion-wrap .accordion-section .column {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.accordion-wrap .accordion-section .column.active {
  border-color: rgba(24, 36, 156, 0.2);
}

.accordion-wrap .accordion-section .column > .ipBlock {
  padding: 12px 0;
}

.accordion-wrap .accordion-section .column > .ipBlock h3 {
  font-size: 18px;
  margin: 5px 0 0;
  padding-right: 20px;
}

.accordion-wrap .accordion-section .column .ipBlock > .ipWidget:first-child div {
  cursor: pointer;
}

.accordion-wrap .accordion-section .column .ipBlock > .ipWidget:first-child div:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free" !important;
  height: 100%;
  position: absolute;
  top: 5px;
  font-weight: 900;
  font-size: 16px;
  display: block;
  right: 0;
}

.accordion-wrap .accordion-section .column.selected .ipBlock > .ipWidget:first-child div:after {
  content: "\f068";
}

.accordion-wrap .accordion-section .column .ipBlock > .ipWidget:first-child + .ipWidget {
  padding-top: 20px;
}

.accordion-wrap .accordion-section .column .ipBlock > .ipWidget:first-child ~ .ipWidget {
  display: none;
}

.accordion-wrap .ipHasAdminNavbar.ipHasAdminPanel .accordion-section .column .ipBlock > .ipWidget:first-child div:after {
  content: '';
}

#subscribe-section .row .column {
  width: 70%;
  margin: auto;
  display: block;
  float: none;
}
/*# sourceMappingURL=master-website.css.map */