@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@font-face {
  font-family: 'MarkOT-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Light") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Reg';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Reg") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Book';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Book") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Medium';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Medium") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Bold") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlacardNext-WideLight';
  src: url("https://au-admin.eventscloud.com/docs/100007765/PlacardNext-WideLight") format("woff");
  font-weight: normal;
  font-style: normal;
}

html:after {
  content: none;
}

._nestedContainer .row {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  ._nestedContainer .row {
    max-width: 1170px;
  }
}

.custom-speakers .row {
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  header .navbar-header {
    float: none;
  }
  header .navbar-left,
  header .navbar-right {
    float: none !important;
  }
  header .navbar-toggle {
    display: block;
  }
  header .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  header .navbar-collapse.collapse {
    display: none !important;
  }
  header .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  header .navbar-nav > li {
    float: none;
  }
  header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .collapse.in {
    display: block !important;
  }
}

@media only screen and (max-width: 1160px) and (min-width: 990px) {
  body header #ipBlock-header > div > div > .row .ipWidget.ipWidget-Menu .navbar .navbar-collapse .navbar-nav li a {
    font-size: 11px;
  }
  html body header #ipBlock-header .ipWidget-Container #navigation-bar .row #nav-logo.column {
    padding: 12px 12px;
  }
}

/* $CORE
============= */
::selection {
  background: #a0237f;
  color: #FFFFFF !important;
  text-shadow: none;
}

/* $TYPOGRAPHY */
body h1,
body h2,
body h3,
body h4,
body h6,
main h1,
main h2,
main h3,
main h4,
main h6,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#ipBlock-mainContent h4,
#ipBlock-mainContent h6,
#inner_content h1,
#inner_content h2,
#inner_content h3,
#inner_content h4,
#inner_content h6,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3,
.ipWidget h4,
.ipWidget h6 {
  color: #999401 !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: normal !important;
}

body h5,
main h5,
#ipBlock-mainContent h5,
#inner_content h5,
.ipWidget h5 {
  color: #a0237f !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  font-weight: normal !important;
}

body *:not(i),
main *:not(i),
#ipBlock-mainContent *:not(i),
#inner_content *:not(i),
.ipWidget *:not(i) {
  font-family: "Roboto", "Roboto", Arial, sans-serif;
  font-weight: 400;
}

body strong,
body b,
main strong,
main b,
#ipBlock-mainContent strong,
#ipBlock-mainContent b,
#inner_content strong,
#inner_content b,
.ipWidget strong,
.ipWidget b {
  font-weight: normal !important;
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif;
}

body p,
main p,
#ipBlock-mainContent p,
#inner_content p,
.ipWidget p {
  line-height: 140% !important;
  font-family: "Roboto", "Roboto", Arial, sans-serif;
  font-size: 16px !important;
  color: #222222 !important;
}

body p.red,
main p.red,
#ipBlock-mainContent p.red,
#inner_content p.red,
.ipWidget p.red {
  color: #B30000 !important;
}

body h2,
main h2,
#ipBlock-mainContent h2,
#inner_content h2,
.ipWidget h2 {
  font-size: 40px !important;
}

@media only screen and (max-width: 991px) {
  body h2,
  main h2,
  #ipBlock-mainContent h2,
  #inner_content h2,
  .ipWidget h2 {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 479px) {
  body h2,
  main h2,
  #ipBlock-mainContent h2,
  #inner_content h2,
  .ipWidget h2 {
    font-size: 20px !important;
  }
}

.img-full img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 767px) {
  .img-full img {
    margin-bottom: 40px;
  }
}

/* $BUTTONS */
.ipWidget-Buttons button.btn, #outer_table input.button.r-button {
  font-family: "Roboto", "Roboto", "Roboto", Arial, sans-serif !important;
  transition: all .2s ease-out;
  border-radius: 0 !important;
  padding: 15px 30px !important;
  min-width: 180px;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

@media only screen and (max-width: 767px) {
  .ipWidget-Buttons button.btn, #outer_table input.button.r-button {
    width: 100%;
  }
}

#outer_table:after {
  content: '';
  position: absolute;
  background: radial-gradient(ellipse, rgba(34, 34, 34, 0.2), #000);
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
}

.ipWidget-Buttons button.btn.btn-primary, #outer_table input.button.r-button {
  color: #FFFFFF !important;
  background: #211262 !important;
  border: 2px solid #211262 !important;
  z-index: 2;
}

.ipWidget-Buttons button.btn.btn-primary:hover, #outer_table input.button.r-button:hover, .ipWidget-Buttons button.btn.btn-primary:active, #outer_table input.button.r-button:active, .ipWidget-Buttons button.btn.btn-primary:focus, #outer_table input.button.r-button:focus {
  color: #FFFFFF !important;
  border-color: #0b0621 !important;
  background: #0b0621 !important;
  text-decoration: none !important;
}

.ipWidget-Buttons button.btn.btn-secondary {
  color: #FFFFFF !important;
  background: transparent !important;
  border: 2px solid #FFFFFF !important;
  z-index: 2;
}

.ipWidget-Buttons button.btn.btn-secondary:hover, .ipWidget-Buttons button.btn.btn-secondary:active, .ipWidget-Buttons button.btn.btn-secondary:focus {
  color: #000 !important;
  border-color: #FFFFFF !important;
  background: #FFFFFF !important;
  text-decoration: none !important;
}

.btn-blue .ipWidget-Buttons button.btn {
  color: #FFFFFF !important;
  background: #211262 !important;
  border: 2px solid #211262 !important;
  z-index: 2;
}

.btn-blue .ipWidget-Buttons button.btn:hover, .btn-blue .ipWidget-Buttons button.btn:active, .btn-blue .ipWidget-Buttons button.btn:focus {
  color: #FFFFFF !important;
  border-color: #4d4a01 !important;
  background: #4d4a01 !important;
  text-decoration: none !important;
}

/* $EREG
============= */
body {
  background-color: transparent !important;
  position: relative;
}

body * {
  box-sizing: border-box;
}

/* $LAYOUT
============= */
#outer_table {
  width: 100% !important;
}

#outer_table:after {
  position: fixed !important;
  z-index: -10;
}

#outer_table .new-desktop-nav {
  background: #222222 !important;
}

#outer_table .new-desktop-nav #r-breadcrumbs {
  background: #222222 !important;
}

#outer_table .new-desktop-nav #r-breadcrumbs .crumbs li.off a {
  color: #FFFFFF !important;
}

#outer_table .new-desktop-nav #r-breadcrumbs .crumbs li.on a {
  color: #FFFFFF !important;
}

#outer_table .new-desktop-nav #r-breadcrumbs .crumbs li.previous-step a {
  color: #FFFFFF !important;
}

#outer_table input.button.r-button {
  min-width: unset !important;
  padding: 10px 30px !important;
}

#outer_table #inner_content {
  display: block;
  margin: 0 auto;
  max-width: 940px;
  margin-bottom: 80px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
  #outer_table #inner_content {
    padding: 20px !important;
  }
}

#outer_table #inner_content > table {
  max-width: 960px;
  margin: 0 auto;
}

#outer_table #inner_content > table > tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 35%;
}

#outer_table #inner_content > table > tbody > tr:nth-child(1) > td:nth-child(1) > div {
  padding: 20px !important;
  background: rgba(34, 34, 34, 0.07);
}

@media only screen and (max-width: 991px) {
  #outer_table #inner_content > table > tbody > tr:nth-child(1) > td:nth-child(1) > div h3 {
    margin: 0;
  }
}

#outer_table #inner_content > table > tbody > tr:nth-child(1) > td:nth-child(2) {
  padding-left: 40px;
}

#outer_table #inner_content > table > tbody > tr:nth-child(1) > td:nth-child(2) form td:empty {
  display: none;
}

@media (min-width: 801px) {
  html,
  #outer_table {
    min-width: auto !important;
  }
}

body td.questionLabel,
body td.questionInput,
body label,
body .header,
body .headercell,
body .maincell,
body .maincellover,
body .off,
body .on,
body .red,
body .redLabel,
body .selectbox,
body .standard,
body a,
body a.footer:link,
body a.footer:visited,
body a.menu:link,
body a.menu:visited,
body a.menu_standard:link,
body a.menu_standard:visited,
body a.redLabel:link,
body a.redLabel:visited,
body div,
body font,
body input,
body select,
body td,
body textarea,
#inner_content td.questionLabel,
#inner_content td.questionInput,
#inner_content label,
#inner_content .header,
#inner_content .headercell,
#inner_content .maincell,
#inner_content .maincellover,
#inner_content .off,
#inner_content .on,
#inner_content .red,
#inner_content .redLabel,
#inner_content .selectbox,
#inner_content .standard,
#inner_content a,
#inner_content a.footer:link,
#inner_content a.footer:visited,
#inner_content a.menu:link,
#inner_content a.menu:visited,
#inner_content a.menu_standard:link,
#inner_content a.menu_standard:visited,
#inner_content a.redLabel:link,
#inner_content a.redLabel:visited,
#inner_content div,
#inner_content font,
#inner_content input,
#inner_content select,
#inner_content td,
#inner_content textarea {
  font-weight: 400;
  font-family: "Roboto", "Roboto", Arial, sans-serif !important;
  text-transform: none;
  font-size: 16px !important;
}

body .requiredlabel,
#inner_content .requiredlabel {
  font-size: 10px !important;
}

/* $GENERAL
============= */
/* $HEADER */
#outer_table td.branding-hdr {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
  margin-top: 80px;
}

#outer_table td.branding-hdr h1 {
  max-width: 940px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 30px 0;
}

#outer_table td.branding-hdr h1 div.logo-img-container {
  text-align: center;
  max-width: 400px;
  margin: auto;
}

@media only screen and (max-width: 479px) {
  #outer_table td.branding-hdr h1 div.logo-img-container {
    max-width: 250px;
  }
}

#outer_table td.branding-hdr h1 img {
  padding: 0;
  width: auto !important;
}

/* $NAVIGATION */
#outer_table tr.nav-related-vars-container {
  width: 100%;
  left: 0;
  z-index: 1;
  background: #FFFFFF;
  max-width: 940px;
  margin: 0 auto;
  display: block;
}

#outer_table tr.nav-related-vars-container .new-desktop-nav {
  padding: 0 !important;
  background: #999401;
  border-bottom: 1px solid #f2f2f4 !important;
  max-width: 860px;
  margin: auto;
}

#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  max-width: 940px;
  background: #999401;
}

#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li {
  padding-top: 0;
  border: 0;
  position: relative;
}

#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.on {
  background: transparent !important;
  box-shadow: none;
  color: #FFFFFF;
}

#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.on a {
  color: #FFFFFF !important;
}

@media only screen and (min-width: 992px) {
  #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.on:before {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li:not(:first-of-type) a:before {
    margin-right: 6px;
    content: "";
    font-family: "fontAwesome";
    font-weight: 900;
    color: #FFFFFF;
    display: inline-block;
  }
}

@media only screen and (min-width: 1200px) {
  #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li:not(:first-of-type) a:before {
    margin-right: 15px;
  }
}

#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li a,
#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.previous-step a {
  border: 0 !important;
  color: #FFFFFF !important;
  font-size: 16px !important;
  font-family: "Roboto", "Roboto", Arial, sans-serif !important;
  padding: 12px 10px;
  line-height: 24px;
}

#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li a:hover, #outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li a:focus,
#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.previous-step a:hover,
#outer_table tr.nav-related-vars-container .new-desktop-nav #r-breadcrumbs ul.crumbs li.previous-step a:focus {
  text-decoration: none !important;
}

#outer_table tr.nav-related-vars-container span.r-count .r-crumb-trigger.fa-bars {
  color: #FFFFFF !important;
}

.reg-header-container {
  max-width: 940px;
  margin: 0 auto;
  display: block;
}

/* $FORM SYTLES
============= */
.questionLabel {
  text-transform: inherit !important;
  height: auto !important;
}

@media only screen and (max-width: 991px) {
  #outer_table table.r-standard > tbody tr {
    padding: 0 !important;
  }
}

form {
  margin: 60px auto !important;
}

@media only screen and (max-width: 991px) {
  form {
    padding: 0 !important;
  }
}

#outer_table select {
  padding-right: 25px !important;
  border-radius: 0 !important;
}

#outer_table input,
#outer_table textarea {
  border-radius: 0 !important;
}

#outer_table input[type="text"] {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1 !important;
}

#outer_table input[type="text"],
#outer_table select:not([class^=picker]) {
  width: 100%;
  max-width: 350px !important;
  vertical-align: bottom;
}

#outer_table input[type="text"]:focus,
#outer_table select:not([class^=picker]):focus {
  outline: none !important;
  border-color: #999401 !important;
}

@media (max-width: 800px) {
  #outer_table input[type="text"],
  #outer_table select:not([class^=picker]) {
    min-width: 100%;
  }
}

#outer_table textarea {
  padding: 10px;
}

#outer_table input.button.r-button {
  transition: all 0.5s;
}

#outer_table .questionInput .r-mobile {
  position: relative;
}

#outer_table .mobile-picker-button {
  position: absolute;
  top: 11px;
  right: 11px;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 992px) {
  #outer_table .mobile-picker-button {
    top: 12px;
    right: 12px;
  }
}

#outer_table .checkbox-wrap {
  max-width: 350px;
  position: relative;
}

@media only screen and (max-width: 991px) {
  #outer_table .checkbox-wrap {
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px) and (max-width: 991px) {
  #outer_table .checkbox-wrap tr {
    display: table-row;
  }
}

@media only screen and (max-width: 991px) and (max-width: 991px) {
  #outer_table .checkbox-wrap tr td {
    display: table-cell;
  }
}

#outer_table .checkbox-wrap .standard.questionInput {
  width: auto !important;
  padding: 7px 0;
  text-align: left;
}

#outer_table .checkbox-wrap .standard.questionInput .red {
  position: absolute;
  bottom: -15px;
}

@media only screen and (max-width: 991px) {
  #outer_table .checkbox-wrap .standard.questionInput .checkbox-container {
    margin: 7px 0 0 0 !important;
    float: none;
    height: 16px !important;
  }
}

@media only screen and (max-width: 991px) {
  #outer_table .checkbox-wrap .standard.questionInput .checkbox-container input[type="checkbox"] {
    float: none !important;
  }
}

#outer_table .checkbox-wrap .redLabel.questionLabel {
  width: auto !important;
}

a[href*="printrecord"] {
  text-decoration: none !important;
}

a[href*="printrecord"] input {
  transition: all 0.5s;
}

html td.questionInput select:not([class^=picker]),
html td.questionInput input,
html td.questionInput textarea {
  border-color: #f2f2f4;
}

.red,
.redLabel,
.red.r-message b {
  color: #B30000 !important;
}

tr.category-selection-tr input[type="radio"] {
  float: none !important;
}

.ereg .picker__box {
  padding: 1em;
}

.travel-section-container td[width="175"] {
  display: none;
}

.travel-section-container b {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
  color: #000;
}

/* $TABLE STYLES */
.needs-table-color,
tr.needs-table-color,
.needs-tablerowcolor1,
.needs-tablerowcolor2,
tr.needs-table-color .header {
  background: #FFFFFF !important;
}

tr.needs-table-color .header {
  border-bottom: 4px solid #222222 !important;
  padding: 15px !important;
}

@media only screen and (max-width: 991px) {
  tr.needs-table-color .header {
    padding-left: 0 !important;
  }
}

body.agenda tr.needs-table-color .header {
  text-align: left;
}

tr.needs-table-color .header b {
  font-size: 20px !important;
  color: #000;
}

.r-table > tbody > tr.needs-table-color ~ tr > td,
.reg-record-display > tbody > tr.needs-table-color ~ tr > td,
.agenda-day-container > tbody > tr.needs-table-color ~ tr > td {
  border-bottom: 1px solid #222222 !important;
  vertical-align: baseline;
}

.r-table td.questionInput,
.reg-record-display td.questionInput,
.agenda-day-container td.questionInput {
  height: auto !important;
}

@media only screen and (max-width: 991px) {
  .r-table table.questionContainer td.questionLabel,
  .reg-record-display table.questionContainer td.questionLabel,
  .agenda-day-container table.questionContainer td.questionLabel {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 991px) {
  .r-table a.more-info-btn,
  .reg-record-display a.more-info-btn,
  .agenda-day-container a.more-info-btn {
    margin-bottom: 5px;
  }
}

.agenda-day-container + .agenda-day-container {
  margin-top: 24px;
}

.r-table,
.reg-record-display {
  border-bottom: 0 !important;
  margin-top: 24px;
}

@media (max-width: 800px) {
  .r-table td,
  .reg-record-display td {
    display: block !important;
    width: 100% !important;
  }
}

/* $OPTIONS */
body.options table[data-questiontype="16"] td.questionLabel,
body.options table[data-questiontype="40"] td.questionLabel {
  height: auto;
}

body.options table[data-questiontype="16"] + br,
body.options table[data-questiontype="40"] + br {
  display: none;
}

/* $REGRECORD */
.record .header-content-container {
  text-align: center;
}

.record .r-table td {
  padding: 12px;
}

.record #inner_content .r-table,
.record #inner_content .reg-record-display {
  border-bottom: 0 !important;
  margin-top: 24px;
}

@media (max-width: 800px) {
  .record #inner_content .r-table tr,
  .record #inner_content .r-table td,
  .record #inner_content .reg-record-display tr,
  .record #inner_content .reg-record-display td {
    display: block !important;
    width: 100% !important;
    font-size: 16px !important;
  }
  .record #inner_content .r-table td,
  .record #inner_content .reg-record-display td {
    border: none !important;
    padding: 2px 0 !important;
  }
  .record #inner_content .r-table tr,
  .record #inner_content .reg-record-display tr {
    border-bottom: 1px solid #dadada !important;
    padding: 12px 0 !important;
  }
}

body.payment .header-content-container {
  text-align: center;
}

/* $FOOTER
============= */
#outer_table .linkSnippetVersion {
  background-color: #FFFFFF;
  padding: 0 0 15px 15px !important;
  max-width: 1155px;
  margin: 0 auto;
  display: block;
}

.poweredBy {
  padding-bottom: 15px;
}
/*# sourceMappingURL=master-reg.css.map */