@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@font-face {
  font-family: 'MarkOT-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Light") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Reg';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Reg") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Book';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Book") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Medium';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Medium") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOT-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Bold") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlacardNext-WideLight';
  src: url("https://au-admin.eventscloud.com/docs/100007765/PlacardNext-WideLight") format("woff");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #999401;
  color: inherit;
  text-shadow: none;
}

.sponsor-widget .sponsor-item .item-content a.more-link {
  color: #a0237f !important;
}

.etouches-bootstrap #myModal.modal .modal-dialog .modal-content .modal-header {
  background: #000 !important;
}

.etouches-bootstrap #myModal.modal .modal-dialog .modal-content .modal-header .close-modal {
  background: #a0237f !important;
}
/*# sourceMappingURL=sponsors-reset.css.map */