/* $CORE
============= */
*,
*:before,
*:after {}

::selection {
    background: $primary;
    color: $white !important;
    text-shadow: none;
}

/* $TYPOGRAPHY */

body,
main,
#ipBlock-mainContent,
#inner_content,
.ipWidget {

    h1,
    h2,
    h3,
    h4,
    h6 {
        color: $secondary !important;
        font-family: $font-headings !important;
        font-weight: normal !important;
    }

    h5 {
        color: $primary !important;
        font-family: $font-headings !important;
        font-weight: normal !important;
    }

    *:not(i) {
        font-family: $font-primary;
        font-weight: 400;
    }

    strong,
    b {
        font-weight: normal !important;
         font-family: $font-bold;
    }

    p {
        line-height: 140% !important;
        font-family:$font-primary;
        font-size: 16px !important;
        color: $grey !important;

        &.red{
            color: $error !important;
        }
    }
    h2 {
        font-size: 40px !important;
        @include bp(lt-m) {
            padding-left: 0 !important;
        }
        @include bp(lt-xs) {
           font-size: 20px !important;
        }

    }

}


.img-full img {
    width: 100%;
    display: block;

    @include bp(lt-s) {
        margin-bottom: 40px;
    }
}

/* $BUTTONS */

%btn {
    font-family: $font-headings !important;
    transition: all .2s ease-out;
    border-radius: 0 !important;
    padding: 15px 30px !important;
    min-width: 180px;
    text-transform: uppercase !important;
    font-size: 16px !important;
    font-weight: normal !important;

    @include bp(lt-s) {
        width: 100%;
    }

}

%radial-gradient {
    &:after {
        content: '';
        position: absolute;
        background: radial-gradient(ellipse, rgba($grey, 0.2), $black);
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0;
    }
}

%btn-primary {
    color: $white !important;
    background: $third !important;
    border: 2px solid $third !important;
    z-index: 2;

    &:hover,
    &:active,
    &:focus {
        color: $white !important;
        border-color: darken($third, 15%) !important;
        background: darken($third, 15%) !important;
        text-decoration: none !important;
    }
}

%btn-secondary {
    color: $white !important;
    background: transparent !important;
    border: 2px solid $white !important;
    z-index: 2;

    &:hover,
    &:active,
    &:focus {
        color: $black !important;
        border-color: $white !important;
        background: $white !important;
        text-decoration: none !important;
    }
}

%btn-blue {
    color: $white !important;
    background: $third !important;
    border: 2px solid $third !important;
    z-index: 2;

    &:hover,
    &:active,
    &:focus {
        color: $white !important;
        border-color: darken($secondary, 15%) !important;
        background: darken($secondary, 15%) !important;
        text-decoration: none !important;
    }
}

// .ipWidget .btn
.ipWidget-Buttons {
    button {
        &.btn {
            @extend %btn;

            &.btn-primary {
                @extend %btn-primary;
            }

            &.btn-secondary {
                @extend %btn-secondary;
            }
        }
    }
}


.btn-blue{
    .ipWidget-Buttons{
        button{
            &.btn{
                 @extend %btn-blue;
            }
        }
    }    
}


// .ipWidget .btn, 
// .btn,
// .button,
// .r-reg-buttons a,
// .cc-btn, 
// #inner_content input.button.r-button {

// 	@extend %btn;

// 	&.btn-primary {
// 		@extend %btn-primary;
// 	}

// 	&.btn-secondary {
// 		@extend %btn-primary;
// 		background: transparent !important;
// 		border-color: $white !important;

// 		&:hover,
// 		&:active,
// 		&:focus {
// 		    color: $primary !important;
// 		    border-color: $primary !important;
// 		    background: $white !important;
// 		}
// 	}
// }