html:after {
    content:none;
}
 ._nestedContainer .row {
	margin: 0 auto;
	
	@media screen and (min-width: 1200px){
	    max-width: 1170px;
	}

}

.custom-speakers {
    .row {
        margin: 0 auto;
    }
}


// Override Bootstrap mobile menu breakpoint (workaround for not having access to @grid-float-breakpoint)
@include bp(lt-m) {
	header {
		.navbar-header {
		    float: none;
		}

		.navbar-left,
		.navbar-right {
		    float: none !important;
		}
		
		.navbar-toggle {
		    display: block;
		}
		
		.navbar-collapse {
		    border-top: 1px solid transparent;
		    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		}
		
		.navbar-fixed-top {
		    top: 0;
		    border-width: 0 0 1px;
		}
		
		.navbar-collapse.collapse {
		    display: none !important;
		}
		
		.navbar-nav {
		    float: none !important;
		    margin-top: 7.5px;

		    > li {
    		    float: none;

    		    > a {
	    		    padding-top: 10px;
	    		    padding-bottom: 10px;
	    		}
    		}
		}
		
		.collapse.in{
		    display: block !important;
		}
	}  
}

@media only screen and (max-width: 1160px) and (min-width: 990px) {
    body header #ipBlock-header > div > div > .row .ipWidget.ipWidget-Menu .navbar .navbar-collapse .navbar-nav li a {
        font-size: 11px;
    }

    html body header #ipBlock-header .ipWidget-Container #navigation-bar .row #nav-logo.column {
        padding: 12px 12px;
    }
}
