@import "fonts";
@import "variables";
@import "mixins";

::selection {
    background: $secondary;
    color: inherit;
    text-shadow: none;
}

.sponsor-widget {
    .sponsor-item {
        .item-content {
            a.more-link {
                color: $primary !important;
            }
        }
    }
}

.etouches-bootstrap {
    #myModal.modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    background: $black !important;

                    .close-modal {
                        background: $primary !important;
                    }
                }
            }
        }
    }
}