// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-reg: 801px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$red: #a8000b;
$amber: #e8a215;
$green: #008580;
$purple: #4B0C62;

$primary: #5E4045; 
$secondary: #2E4A77;
$gold:#DCB751;
$text:#3c3c3c;
$button: #2E4A77;
$buttonhover: #DCB751;

$fiji-green: #6BDAD5;

$black: #2A2E38;
$white: #ffffff;

$grey: #f4f5f6;
$dark-grey: #898989;
$light-grey: #f2f2f2;



$form-border: rgba($black,0.5);
//$hero-gradient: linear-gradient(-45deg,rgba(0,51,160,.95) 0,rgba(0,51,160,.65) 100%);
$hero-gradient: #cccccc;
$links: $primary;



$success: $green;
$error: $red;

// fonts
$font-stack: sans-serif, Helvetica, Arial;
$font-primary: 'Open Sans', $font-stack;
$font-bold: $font-primary;
$font-headings: $font-primary;
$font-title:  $font-primary;
$icon-font: FontAwesome;

// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';

$header-height: 80px;
$header-height-mobile: 60px; 