@font-face {
  font-family: 'OpenSans-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #0033A0 !important;
  color: inherit;
  text-shadow: none;
}

.sponsor-widget {
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .sponsor-widget .sponsor-item-container {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .sponsor-widget .sponsor-item-container {
    width: 25%;
  }
}

.sponsor-widget div.sponsor-item .sponsor-img-wrap div.sponsor-img-wrap-inner-div {
  border: 1px solid #f2f2f2;
  box-shadow: none;
}

.sponsor-widget div.sponsor-item .sponsor-img-wrap div.sponsor-img-wrap-inner-div img {
  max-width: 100%;
}

.sponsor-widget div.sponsor-item .item-content h3.sponsor-name {
  color: #2A2E38;
  font-family: "OpenSans-Light", "sans-serif";
  font-weight: 300;
  margin: 0;
  font-size: 20px;
}

.sponsor-widget div.sponsor-item .item-content a.more-link {
  font-family: "OpenSans-Light", "sans-serif";
  color: #2A2E38;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 20px;
  display: inline-block;
  position: relative;
  padding-left: 25px;
}

.sponsor-widget div.sponsor-item .item-content a.more-link:before {
  font-family: FontAwesome;
  content: '\f054';
  color: #003595;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=sponsors-reset.css.map */