.btn-secondary {
    font-family: $font-headings;
}
html .btn.btn-inverse {
    background: $white !important;
    border-color: $white !important;
    color: $primary !important;

    &:hover{
    	background: $secondary !important;
	    border-color: $white !important;
	    color: $white !important;
    }	
}

p {
    font-family: $font-primary;
}

.img-full img {
    width: 100%;
    display: block;
    
    @include bp(lt-s) {
        margin-bottom: 40px;   
    }
}