

// fonts
$font-stack: sans-serif, Helvetica, Arial;
$font-primary: 'Gotham Book', $font-stack;
$font-bold: 'Gotham Bold', sans-serif, Helvetica, Arial;
$font-headings: 'Gotham Black', $font-bold;
$font-cursive: 'Caveat', sans-serif, Helvetica, Arial;
$font-menu: $font-primary;
$icon-font: "Font Awesome 5 Free";

