html {
    &:after {
        content: '';
        position: absolute;
        background: radial-gradient(ellipse, rgba(15, 14, 22, 0.2), #100e17);
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    body{
        #outer_table {
            z-index: 1000;
            position: relative;;
        }
    }
}
