html {
    scroll-behavior: smooth;

    :focus {
        outline: none;
    }

    body {
        background: #ffffff;

        .ipWidget h2{
            font-family:$font-headings;
            font-size: 38px;
            font-weight: normal;
            //text-transform: uppercase;
        }

        header {
            #ipBlock-header {
                .ipWidget-Container {
                   
                    #hero {
                        height: 100vh;

                        @include bp(lt-l){
                            height: 30vh;
                            min-height: 450px;   
                        }

                        .row.clearfix {
                            display: flex;
                            flex-flow: row;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 40px;
                            padding-top: 40px;

                            @include bp(lt-s) {
                                align-items: center;
                            }

                            .column {
                                width: 100%;
                                z-index: 10;

                                @include bp(l) {
                                    //width: 70%;
                                    margin-top: 30px;
                                    margin: auto;
                                }

                                
                                .ipBlock {
                                    p {
                                        color: $white;
                                        font-family: $font-primary;
                                        text-transform: uppercase;
                                        font-size: 18px;
                                    }

                                    h1 {
                                        color: $white;
                                        font-family: $font-headings;
                                        font-weight: 600;
                                        font-size: 28px;
                                        margin-top: 0px;

                                        @include bp(l) {
                                            font-size: 45px;
                                        }

                                        span {
                                            font-size: 28px;
                                        }
                                    }
                                    h2{
                                        font-size: 34px; 
                                        line-height: 1.35;
                                        color: #fac900;
                                        @supports (background-clip: text) {                     
                                            background-image: linear-gradient(90deg, #fac900, #fff8d0, #fac900, #fff8d0);
                                            background-clip: text;
                                            color: transparent;
                                        }
                                        @include bp(xl) {
                                            font-size: 50px;
                                        }
                                        @include bp(lt-s) {
                                            font-size: 24px;
                                        }

                                        span{
                                            color:#fff;
                                            display:block;
                                            &:last-child {
                                                font-weight: normal;
                                                font-family: $font-primary;
                                                    font-size: 80%;
                                            }
                                            &:first-child {
                                                display: inline-block;
                                                top: -13px;
                                                position: relative;
                                                    font-size: 0.4em;

                                                @include bp(lt-s){
                                                        top: -8px;
                                                }    
                                            }
                                        }
                                    }

                                    h3 {
                                        color: $white;
                                        font-family: $font-cursive;
                                        font-weight: 400;

                                        @include bp(l) {
                                            font-size: 52px;
                                            font-weight: 400;
                                        }
                                    }

                                    .btn.btn-inverse {
                                        background: $secondary !important;
                                        color: $white !important;

                                        @include bp(xl) {
                                            padding:18px 35px;
                                            font-size: 18px;
                                        }
                                        &:hover{
                                            background: $white !important;
                                            color: $secondary !important;
                                            border-color: $secondary !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #menu {
                        //box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

                        &>.row {
                            max-width: 100%;
                            &>.column {
                                padding: 0;
                                .ipBlock {
                                    nav {

                                        background: transparent;
                                        border: none;
                                        position: fixed;
                                            z-index: 11;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        padding: 12px 0;
                                        transition: all 0.5s ease;

                                        &.navbar-fixed-top {
                                            background: $primary;
                                            padding: 0;
                                        }

                                        .container-fluid {
                                            max-width: 100%;
                                            .navbar-header {
                                                .navbar-brand {
                                                    padding-left: 0px;
                                                }
                                            }

                                            .navbar-collapse {
                                            @include bp(lt-m){
                                                background: $primary;
                                                padding: 15px;
                                            }
                                                padding: 0;
                                                ul {
                                                    li {
                                                        &:last-child {
                                                            //background: #ffffff;
                                                    
                                                            a {
                                                                color: $secondary;
                                                                padding: 15px 20px;
                                                                background: $white;
                                                                border-radius: 5px;
                                                                margin: 15px 0;
                                                                border: 1px solid $white;
                                                                    font-weight: bold;
                                                                &:hover {
                                                                    color:$white;
                                                                    background: $gold;
                                                                }
                                                                @include bp(lt-m) {
                                                                    display: inline-block;
                                                                    margin: 15px 15px;
                                                                }
                                                                
                                                            }
                                                            @include bp(l) {
                                                                margin-left: 20px;
                                                            }
                                                            
                                                        }
                                                        &:hover {
                                                            background:transparent;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .navbar-toggle{
                                            color: $secondary;
                                            padding: 9px 10px 6px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

                .ipWidget-MenuWidget {
                    .navbar-collapse {
                        .navbar-nav {
                            padding: 0px;
                                margin-right: 0 !important; 
                            @include bp(lt-m){
                                margin: 0;
                            }

                            li {
                                a {
                                    font-family: $font-primary;
                                    font-size: 18px;
                                    color:$white;
                                    @include bp(lt-m) {
                                        text-align: left;
                                         padding-top: 10px;
                                        padding-bottom: 10px;   
                                    }
                                    &:hover {
                                            color:$gold;
                                            background: transparent;
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }


        main {

            .row.clearfix {
                padding-left: 25px;
                padding-right: 25px;

                @include bp(lt-s) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            .section-heading {
                &.first-section {
                    padding: 0px 30px 20px 30px;
                }

                padding: 80px 30px 20px 30px;

                @include bp(l) {
                    padding: 80px 30px 20px 30px;
                }

                h1 {
                    font-family: $font-headings;
                    font-size: 40px;
                    margin-bottom: 20px;
                    margin-top: 0px;

                    @include bp(l) {
                        font-size: 60px;
                    }

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                h2 {
                    font-family: $font-headings;
                    font-size: 38px;
                    margin-bottom: 20px;
                    margin-top: 0px;

                    @include bp(l) {
                        font-size: 38px;
                    }

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                h1+p {
                    margin-top: 40px;
                }

                h4 {
                    font-family: $font-cursive;
                    font-weight: 400;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 15px;

                    span {
                        background: #FFF;
                        padding: 0 15px;
                    }

                    &:before,
                    &:after {
                        border-top: 1px solid;
                        border-top-color: inherit;
                        content: "";
                        margin: 0 auto;
                        position: absolute;
                        top: 12px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        width: 50%;
                    }

                }

                p {

                    .fa,
                    .far,
                    .fas {
                        font-size: 40px;
                    }
                }
            }

            .bg-section {
                .section-heading {
                    padding: 50px 30px 50px 30px;
                }
            }
            

            .section-content {
                margin: 20px 0px 20px 0px;

                @include bp(l) {
                    margin: 100px 0px 50px 0px;
                }

                .sec-col-img {
                    @include bp(lt-s) {
                        padding-bottom: 30px;
                    }
                }



                p {
                    font-family: $font-primary;
                    font-weight: 400;


                    .fa,
                    .far,
                    .fas {
                        font-size: 40px;
                    }

                }

                .center {
                    text-align: center;
                }
            }

            #welcome-section {
            > .row{
                @include bp(lt-s){
                    display: flex;
                    flex-direction: column-reverse;
                }
                div[class*='col']:not(:first-child) {
                    @include bp(lt-m){
                        margin-bottom: 20px;
                    }
                }
            }
                    
                   
             
            }

            #counter-section {
                position: relative;
                margin:0;

                .counter {
                    font-size: 60px;
                    font-family: $font-headings;
                    color: $white;
                    font-weight: 600;
                    position: relative;
                    z-index: 10;

                    @include bp(lt-m) {
                        font-size: 30px;
                    }
                }

                .counter-label {
                    font-size: 25px;
                    font-family: $font-headings;
                    color: $white;
                    font-weight: 600;
                    position: relative;
                    z-index: 10;

                    @include bp(lt-s) {
                        display: block;
                    }

                    @include bp(lt-m) {
                        font-size: 18px;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    background: radial-gradient(ellipse, rgba(15, 14, 22, 0.2), #100e17);
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }
                .wrapper {
                    position: relative;
                    height: 12em;
                     @include bp(lt-xs) {
                            height: 48em;
                     } 

                    .countdown-container {
                        //font-family: "MuseoSans-700", sans-serif, Helvetica, Arial;
                        -webkit-font-smoothing: antialiased;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        width: 100%;

                        .countdown {
                            display: flex;
                            transform-style: preserve3d;
                            perspective: 500px;
                            height: 10rem;
                            width: 100%;
                            margin: 0 auto;
                            @include bp(lt-xs) {
                                 flex-wrap: wrap;
                                }
                            

                            .number, .separator {
                                display: block;
                                color: $white;
                                height: 10rem;
                                font-size: 60px;
                                position: relative;
                                line-height: 10rem;
                                text-align: center;
                                width: 100%;
                                font-family: $font-headings;

                                 @include bp(lt-xs) {
                                    width: 100% !important;
                                     flex: 0 0 100%;
                                }
                                   
                                .new, .old,  .current{
                                        color:$white;
                                        position: absolute;
                                        border-radius: 1rem;
                                        height: 10rem;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 100%;
                                            text-shadow: 0px 2px #ffffff;

                                }
                                .new{
                                     animation: show-new 0.4s cubic-bezier(0, 0.9, 0.5, 1.2) forwards;
                                }

                                 .old {
                                  animation: hide-old 2s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
                                }


                                &#js-days::after, 
                                &#js-hours::after, 
                                &#js-minutes::after, 
                                &#js-seconds::after
                                {
                                        content: "Days";
                                        position: absolute;
                                        text-align: center;
                                        left: 0;
                                        right: 0;
                                        bottom: -45px;
                                        font-size: 25px;
                                        font-family: $font-headings;
                                }
                                &#js-hours:after {
                                    content: "Hours";
                                }
                                &#js-minutes:after {
                                    content: "Minutes";
                                }
                                &#js-seconds:after {
                                    content: "Seconds";
                                }

                            }    
                            .separator {
                                    @include bp(lt-s) {
                                      transform: rotate(90deg);
                                      margin-bottom: -30px;
                                    }   
                                } 
                        }    
                    }
                    }
            }

            #speaker-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                .ipWidget-Speaker {
                    margin-top: 35px;
                }
            }

            #agenda-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                .ipWidget-Agenda {
                    margin-top: 35px;
                    margin-bottom: 40px;

                    .etouches-widget {
                        padding: 10px;
                        border: 8px;
                        border-style: double;

                        @include bp(l) {
                            padding: 40px;
                            border: 8px;
                            border-style: double;
                        }
                    }
                }

                .agenda-section {

                    > div {
                        &:nth-child(3) {
                            border-top: 1px solid #cccccc;
                        }
                    }
                    .agenda-header {
                        h1,h2,h3 {
                            font-family: $font-headings;
                        }
                    }

                    .session-group {
                        .session-time {
                            font-family: $font-headings;
                            span {
                                font-family: $font-headings;
                            }
                        }
                        .session-title {
                            a {
                                h4 {
                                    font-family: $font-primary;
                                }
                            }
                        }
                        .session-description {
                            font-family: $font-primary;
                            .speaker-box {
                                display: flex;
                                flex-flow: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-wrap: wrap;
                                margin-top: 20px;
                                .speaker {
                                    flex: 1 0 50%;
                                    margin-bottom: 10px;;
                                    .speaker-details {
                                        padding: 15px;
                                        background: #eeeeee;
                                        h4 {
                                            font-family: $font-primary;
                                            margin: 0px;
                                        }
                                        p {
                                            font-family: $font-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .cal-time-zone {
                    max-width: 1050px;
                    padding: 0;

                    > div {
                        padding: 0 10px;

                        > div {
                            background: #fff;
                            padding: 15px 20px;
                            box-shadow: 0px 0px 20px 0px #cccccc;

                            p{
                                font-size:14px;
                            }
                        }
                    }
                }
            }


            .pricing-section,
            #pricing-section,
            #tickets-section,
            .tickets-section {
                background: $grey;
                padding: 80px 15px;

                .section-heading {
                    padding: 0 30px 30px 30px;

                    .column {
                        padding: 20px 0px;

                        .ipBlock {
                            border: none !important;
                        }
                    }
                }

                .row:not(.section-heading) {
                    .column {
                        padding: 20px 20px;



                        .ipBlock {
                            border: 1px solid $grey;
                            border-radius: 25px;
                            padding: 30px 0;

                            h2 {
                                font-size: 40px;
                                padding: 15px 0;
                                margin: 0;
                                font-weight: bold;
                            }

                            h3 {
                                padding: 0;
                                margin: 0;
                                font-size: 24px;
                                line-height: 100%;
                            }

                            h4 {
                                padding: 0 0 15px;
                            }

                            hr {
                                border-top: 1px solid $grey;
                                margin-bottom: 30px;
                                margin-top: 30px;
                            }

                            ul {
                                list-style-type: none;
                                margin: auto;
                                padding: 0 20px;

                                li {
                                    color: $grey;
                                    padding-bottom: 10px;

                                    &:last-child {
                                        padding-bottom: 0;
                                    }
                                }
                            }

                            .ipWidget {
                                padding: 15px;
                            }





                            .ipWidget-Buttons {
                                .row {
                                    margin: 0;
                                    padding: 15px 0 0 0;

                                    button {
                                        margin: 0;

                                        &.btn {
                                            display: inline-block;
                                            vertical-align: middle;
                                            -webkit-transform: perspective(1px) translateZ(0);
                                            transform: perspective(1px) translateZ(0);
                                            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                                            position: relative;
                                            -webkit-transition-property: color;
                                            transition-property: color;
                                            -webkit-transition-duration: 0.3s;
                                            transition-duration: 0.3s;

                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            padding: 0 20px 0;

                            .ipBlock {
                                padding: 60px 0;
                            }
                        }
                    }
                }

            }

            #app-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;

                    }
                }

                .app-buttons {
                    .ipBlock {
                        @media (max-width: 767px) {
                            padding-top: 30px;
                        }
                    }

                    img {
                        max-width: 100% !important;
                        height: auto !important;
                    }
                }

                #mobile-image {
                    img {

                        @include bp(lt-s) {
                            margin: auto;
                            display: block;
                            margin-bottom: 40px;
                        }
                    }
                }

                #app-store-btns {

                    @include bp(lt-s) {
                        margin: 40px 0px;
                    }

                    img {

                        @include bp(lt-s) {
                            margin: auto;
                            display: block;
                        }
                    }
                }
            }

            #sponsor-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;

                    }
                }

                #sponsor-logo-row {

                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    img {
                        width: 80%;
                        display: block;
                        height: auto;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }

            #testimonials-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;

                    }
                }

                .testimonial-box {
                    margin-top: 10px;
                    padding: 0px 20px 20px 20px;
                    display: inline-block;
                    margin: 0px 10px;

                    @include bp(lt-s) {
                        margin-bottom: 40px;
                    }

                    article {
                        position: relative;
                        margin: 0 0 13px;
                        padding: 40px 30px;
                        text-align: center;
                        background-color: #f3f5f6;

                        &:before {
                            position: absolute;
                            bottom: -30px;
                            left: 48px;
                            width: 0;
                            height: 0;
                            content: "";
                        }

                        &:after {
                            position: absolute;
                            bottom: -30px;
                            left: 48px;
                            width: 0;
                            height: 0;
                            content: "";
                            border-style: solid;
                        }

                        &:after {
                            margin: 0 0 4px 3px;
                            border-width: 0 26px 26px 0;
                            border-color: transparent #f3f5f6 transparent transparent;
                        }
                    }

                    .person-info {
                        position: relative;
                        padding: 17px 0 0 93px;
                        min-height: 70px;
                        text-align: left;
                        line-height: 20px;

                        .person-img {
                            img {
                                margin-top: 20px;
                                margin-right: 15px;
                                width: 60px;
                                height: 60px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 50%;
                            }
                        }

                        .person-name {
                            strong {
                                display: inline-block;
                                width: 100%;
                                font-size: 13px;
                                text-transform: uppercase;
                                letter-spacing: 0.2em;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #333333;
                            }
                        }
                    }
                }
            }

            #map-section {
                margin-top: 0px;

                .row {
                    max-width: 100%;
                    width: 100%;

                    .column {
                        width: 100%;
                        padding: 0px;

                        p {
                            line-height: 0px;

                            iframe {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            #faq-section {


          
                 
                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }

                /* Accordion styles */
                .tabs {
                    border-radius: 8px;
                    overflow: hidden;
                    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
                    margin: 40px 0px;
                    font-family: $font-primary;
                }

                .tab {
                    width: 100%;
                    color: white;
                    overflow: hidden;

                    &-label {
                        display: flex;
                        justify-content: space-between;
                        padding: 1em;
                        background: $primary;
                        font-weight: bold;
                        cursor: pointer;
                        margin-bottom: 0;


                        /* Icon */
                        &:hover {
                            background: darken($primary, 10%);
                        }

                        &::after {
                            content: "\276F";
                            width: 1em;
                            height: 1em;
                            text-align: center;
                            transition: all .35s;
                        }
                    }

                    &-content {
                        max-height: 0;
                        padding: 0 1em;
                        color: $primary;
                        background: white;
                        transition: all .35s;
                    }

                    &-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;
                        background: $primary;
                        cursor: pointer;

                        &:hover {
                            background: darken($primary, 10%);
                        }
                    }
                }

                // :checked
                input:checked {
                    +.tab-label {
                        background: darken($primary, 10%);

                        &::after {
                            transform: rotate(90deg);
                        }
                    }

                    ~.tab-content {
                        max-height: 100vh;
                        padding: 1em;
                    }
                }

            }


            .custom-speakers {
                margin: 50px 0px 0px 0px;

                .row {
                    .col-xs-12 {
                        display: flex;
                        flex-flow: row;
                        flex-wrap: wrap;
                        align-items: center;

                        .speaker {
                            margin-bottom: 55px;

                            @include bp(lt-s) {
                                padding: 0px;
                            }

                            .speaker-box {
                                padding: 20px;
                                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
                                display: table;
                                transition: all 0.2s ease-in;
                                width: 100%;

                                .image-wrap {
                                    padding-left: 0px;
                                    padding-right: 0px;

                                    img {
                                        border-radius: 50%;
                                        width: 115px;
                                        transition: all 0.2s ease-in-out;
                                        position: absolute;
                                        margin: auto;
                                        left: 0;
                                        right: 0;

                                        @include bp(lt-s) {
                                            width: 80px;
                                        }
                                    }
                                }

                                .content-wrap {
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    @include bp(lt-s) {
                                        padding-left: 20px;
                                    }

                                    .speaker-name {
                                        margin-top: 0px;
                                        font-family: $font-headings;
                                        font-weight: 600;

                                    }

                                    .speaker-title {
                                        font-family: $font-headings;
                                        font-size: 14px;
                                        font-weight: 600;
                                        margin: 0px;
                                    }

                                    .speaker-bio {
                                        display: none;
                                        font-family: $font-headings;
                                        font-size: 14px;
                                    }

                                    .show-more-info {
                                        position: absolute;
                                        right: 0;
                                        top: 0;

                                        &:after {
                                            font-family: $icon-font;
                                            content: '\f107';
                                            transform: rotate(0deg);
                                            display: block;
                                            transition: all 0.1s ease-in-out;
                                            font-weight: 600;
                                            font-size: 20px;
                                        }
                                    }
                                }

                                .bio-cta {
                                    display: block;
                                    position: absolute;
                                    width: 130px;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    font-size: 12px;
                                    font-weight: 600;
                                    background: #ffffff;
                                    text-align: center;
                                    margin: 0 auto;
                                    top: 93px;
                                    border: 1.5px solid #414141;
                                    display: none;
                                    transition: all 0.2 ease-in-out;

                                    p {
                                        margin: 0px;
                                    }
                                }

                                &:hover {
                                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
                                    cursor: pointer;

                                    .image-wrap {
                                        img {
                                            width: 80%;
                                        }
                                    }

                                    .bio-cta {
                                        display: block;
                                    }
                                }

                                @include bp(lt-s) {
                                    &:hover {
                                        .bio-cta {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        .speaker.show-description {
                            .speaker-box {
                                .content-wrap {
                                    .show-more-info {
                                        &:after {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }

                                &:hover {
                                    .bio-cta {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .gallery_container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .gallery_item {
                box-shadow: 0 0 10px #eee;
                border-bottom: 4px solid $secondary;
                display: flex;
                align-items: center;
                width: 50%;
                justify-content: center;
                    padding: 10px;

                .slider_image {
                    width: auto;
                    max-width: 100%;
                }    
            }
        }


        footer {
            padding: 40px 0px;
            background:$primary;

            #footer-section {
                padding: 0px;
                background:$primary;

                .ipWidget {
                    ul {
                        list-style-type: none !important;
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }

                .footer-link-list {
                        width: 100%;
                    @media (max-width: 767px) {
                        text-align: center;
                    }

                    .ipWidget {
                        ul {
                            list-style-type: none !important;
                            padding: 0px;
                            margin: 0;

                            li {
                                a {
                                    color: $white;
                                }

                                @include bp(lt-s) {
                                    text-align: center;
                                }
                            }

                            @include bp(lt-s) {
                                margin-bottom: 30px;
                            }
                        }
                    }
                    .foot-wrap {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;

                        @include bp(lt-s){
                            flex-direction: column-reverse;
                            justify-content: center;
                                margin-bottom: 20px;
                        }
                        img{
                            margin-bottom: 12px;
                            margin-left: auto;
                            display: table;

                            @include bp(lt-s){
                                margin: 0 auto 10px;
                            }
                        }
                        p{
                            @include bp(lt-s){
                                text-align: center !important;
                            }
                        }
                    }
                }

                .copyright-text {
                    P {
                        color: $white
                    }

                    @include bp(lt-s) {
                        margin-bottom: 30px;
                    }
                }

                .social-icons {
                    p {
                        display: flex;
                        flex-flow: row;
                        justify-content: center;

                        i {
                            &.fab {
                                color: $white;
                                padding: 0px 15px;
                                font-size: 18px;
                            }
                        }
                    }

                    @include bp(lt-s) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.column.col-xs-12.col-md-4.col-sm-4.footer-link-list {
    @media (max-width: 767px) {
        text-align: center;
        padding-bottom: 15px;
    }
}

.map-section {
    padding: 0;
}


.ipHasAdminPanel {
    .map-section {
        background: url(https://ps-eventscloud-com.s3.amazonaws.com/_internal-projects/website-designs/dubai-design/images/google-map.png) no-repeat center center;

        // editor udpate
        .ipBlock {
            min-height: 255px;
        }
    }
}

#map {
    max-height: 450px;
}

.btn-secondary,
.btn-primary,
ul,
li {
    font-family: $font-primary !important;
}

html .ipWidget ul{
    padding: 0;
    margin: 0 0 1em 1.2em;
}

.flex-div {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 40px;

    @inclu
    
    de bp(lt-s) {
        flex-flow: column;
    }
}

.flex-div > div {
    margin: auto;
    text-align: center;
}

select {
    font-family: $font-primary !important;
    option {
        font-family: $font-primary !important;
    }
}




/*COUNTER ANIMATION*/

@keyframes hide-countdown {
  to {
    height: 0;
    overflow: hidden;
  }
}

@keyframes show-new {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes hide-old {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
  }
}
