@import "fonts";
@import "variables";
@import "mixins"; 

@include bp(lt-s) {
	.etouches-bootstrap .agenda-container {
		div[class*="col"] {
		    width: 100%;
		    text-align: left;

		    &.time {
	    		padding-left: 15px;
	    		padding-right: 15px;
	    		margin-bottom: 5px;
	    	}

		    * {
	    	    border: none !important; 
	    	}
		}
	} 
}