@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
// fonts
$font-stack: sans-serif, Helvetica, Arial;
$font-primary: 'Open Sans', $font-stack;
$font-bold: $font-primary;
$font-headings: $font-primary;
$font-cursive: 'Caveat', sans-serif, Helvetica, Arial;
$font-menu: $font-primary;
$icon-font: "Font Awesome 5 Free";