// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$primary: #5E4045; 
$secondary: #2E4A77;
$gold:#DCB751;
$button: #2E4A77;
$buttonhover: #DCB751;
$black: #000;
$white: #FFFFFF;
$grey: #636468;
$mid-grey: #9B9B9B;
$light-grey: #f2f2f4;
$links: #003781;
$nav-hover: $links;