{# ==================== head ==================== #}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubai Website Design</title>
    <meta name="title" content="Dubai Website Design">
    <meta name="description" content="The Professional Services Dubai Website Template.">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;600;700;900&family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://ps.eventscloud.com/_internal-projects/website-designs/dubai-design-v2/css/master-website.css" rel="stylesheet">
</head>

{# ==================== body ==================== #}
<body class="{{ customCssClass() }} website" data-spy="scroll" data-target=".navbar-collapse" data-offset="300" id="top">
    <header class="site-header">
        {{ addBlock('header') }}
    </header>
    <main>
        {{ addBlock('mainContent') }}
    </main>
    <footer>
        {{ addBlock('footer') }}
    </footer>
</body>

{# ==================== base ==================== #}
{{ doctypeDeclaration() }}
<html {{ htmlAttributes() }}>
{% include 'head' %}
{% include 'body' %}
</html>