// FONTS EU
@font-face {
    font-family: 'OpenSans-Light';
    src: url('https://au-admin.eventscloud.com/docs/100007765/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('https://au-admin.eventscloud.com/docs/100007765/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('https://au-admin.eventscloud.com/docs/100007765/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}