// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-reg: 801px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$red: #a8000b;
$amber: #e8a215;
$green: #008580;
$purple: #4B0C62;

$primary: #003595;
$darker-primary:#3c064f;
$orange: #f86200;
$yellow: #fbd068;
$dark-blue: #003781;

$secondary: #0033A0;
$fiji-green: #6BDAD5;

$black: #2A2E38;
$white: #ffffff;

$grey: #f4f5f6;
$dark-grey: #898989;
$light-grey: #f2f2f2;



$form-border: rgba($black,0.5);
//$hero-gradient: linear-gradient(-45deg,rgba(0,51,160,.95) 0,rgba(0,51,160,.65) 100%);
$hero-gradient: #cccccc;
$links: $primary;



$success: $green;
$error: $red;

// fonts
$font-stack: sans-serif;
$font-primary: "OpenSans-Light","sans-serif";
$font-title: 'OpenSans-Bold', $font-primary;
$icon-font: FontAwesome;

// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';

$header-height: 80px;
$header-height-mobile: 60px; 