/* $VIRTUAL EVENT
============= */

body.ve {
	/* $LOGIN PAGE */
	form {
		max-width: 350px;
		padding: 20px !important;
	    margin-top: 0 !important;

		@include bp(lt-s) {
			width: 100% !important;
		}

		.questionInput {
			input {
				margin-bottom: 5px;
			}
		}

		td.questionInput input[type=text], 
		html td.questionInput input[type=password] {
			width: 100% !important;
		}
	}

	/* $LOBBY PAGE */
	#outer_table {
		.branding-hdr {
			h1 {
				padding: 0;
			}
		}

		#inner_content {
			padding: 0 !important;
		}

		.ve-header {
			height: 100%;
		}

		.mobile-user-profile {
			position: absolute; 
			top: 0; 
			right: 25px;
		}

		.user-profile-trigger {
			background: transparent;

			i {
				color: $primary;
				font-size: 30px !important;
			}

			.profile-edit-icon {
				background-color: $black;
			}
		}

		.container-fluid {
		    max-width: 940px;
		}

		.header-content-container {
			background: $white;
		    padding: 40px 20px 20px;

		    @include bp(m) {
		    	padding: 60px 40px 20px;
		    }

		    :first-child {
		    	margin-top: 0;
		    }

		    .scroll {
	    	    text-decoration: none;
	    	    display: block;
	    	    margin: 40px auto;
	    	    text-align: center;
	    	    line-height: normal;
	    	    font-weight: bold; 
	    	    position: relative;
	    	    padding-bottom: 20px;

	    	    @include bp(m) {
	    	    	margin-bottom: 40px;
	    	    }
		    	
		    	&:after {
		    		font-family: 'fontAwesome';
		    		content: '\f078';
		    		display: block;
		    		font-size: 20px;
		    		transition: all .2s ease-out;
		    		position: absolute;
	    		    left: 0;
	    		    right: 0;
		    	}

		    	&:hover {
		    		&:after {
		    			margin-top: 5px;
		    		}
		    	}
		    }
		}

		/* $PROFILE */
		.profile-container {
			@include bp(s) {
				max-width: 100%;
				flex: 100%;
			}

			.profile {
				padding: 20px;
				background: $black;
				position: relative;
			    
			    @include bp(m) {
					// margin: 0 40px;
			    }

				 svg.profile-shape {
				 	display: none;

				 	path {
						fill: $primary; 
						opacity: 1;
					}
				}
			}

			figure {
				position: absolute;
			    left: 20px;
			    top: 20px;
			    margin: 0;
			}

			.profile-placeholder {
				background-color: $primary !important;
				font-weight: bold;
				font-size: 40px !important;
				color: $white !important;
				width: 90px;
				height: 90px;
				line-height: 50px;
			}

			.profile-content {
				padding: 0 0 0 140px;

				* {
					color: $white !important;
				}

				:first-child {
					margin-top: 0 !important;
				}

				p {
					margin-bottom: 0 !important;
				}

				.logout {
					position: absolute;
				    bottom: 10px;
				    left: 28px;
				}

				.profile-name {
					margin: 20px 0 10px 0;
				}

				span {
					font-size: 14px !important;
					font-weight: bold;
					line-height: 20px;
				}
			}
		}
		
		/* $LOBBY */
		.lobby-container {
			padding-bottom: 60px;
			padding-top: 20px;

		    @include bp(s) {
	    		max-width: 100%;
	    	    flex: 100%;
		    }

		    nav {
		    	padding: 0 20px;

		    	@include bp(m) {
		    		padding: 0 40px;
		    	}
		    }

			.nav-tabs {
				border-color: $primary;

				a.nav-item {
					text-decoration: none;
					background-color: $black;
					color: $white !important;
					transition: all .15s ease-in-out;
					border-right: 2px solid $white;

					&.active,
					&:hover {
						background-color: $primary;

						&:after {
							display: none;
						}
					}
				}

				&.speaker-tab-group {
					background-color: transparent;
					padding: 0 18px;
				    margin: 40px 0;

					@include bp(m) {
						display: flex;
						padding: 0 38px;
					}

					a.nav-item {
						background-color: $black !important;
						color: $white !important;
						flex: 1;
						font-size: 16px;
						padding: 12px 32px;
						margin: 0 2px;

						&.active,
						&:hover {
							background-color: $primary !important;
						}

						&.active:before {
							top: 100%;
							left: 50%;
							position: absolute;
							margin-left: -15px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 20px 15px 0 15px;
							border-color: $primary transparent transparent transparent;
							content: '';
						}
					}
				}
			}

			.timezone-container {
				padding: 0 20px;
				margin: 20px 0 !important;

				@include bp(m) {
					padding: 0 40px;
					margin: 40px 0 !important;
				}

				.timezone-toggle {
					padding: 0;

					@include bp(m) {
						float: left;
					}

					.btn {
						padding: 10px !important;
						color: $white !important;
						font-weight: bold;
						border-radius: 0 !important;
						border: 0 !important;
					    padding: 8px !important;
					    background-color: $black !important;
					    border-right: 2px solid $white !important;

					    @include bp(m) {
							padding: 13px !important;
						}

					    i {
					    	font-weight: bold;
					    }

						i, 
						span {
							color: $white !important;
						}

						&:not(:disabled):not(.disabled).active, 
						&:not(:disabled):not(.disabled):active,
						&:not(:disabled):not(.disabled):hover {
							background-color: $primary !important;
						}
					}
				}

				.system-test {
					padding: 0; 
					display: block !important;

					@include bp(lt-m) {
						margin-top: 20px;
					}

					@include bp(m) {
						float: right;
					}



					.btn {
						width: auto !important;

						&:before {
							@include btnIcon('\f046');
						}
					}
				}
			}

			.agenda-container {
				padding: 0 20px;

				@include bp(m) {
					padding: 0 40px;
				}
			}

			.agenda-session {
				border-color: $grey;

				@include bp(m) {
					padding-bottom: 0;
				}

				h4, 
				h4 * {
					font-size: 18px !important;

					@include bp(lt-s) {
						margin-top: 10px;
					}
				}

				.session-time {
					@include bp(lt-m) {
						padding: 0 !important;
					}
				}

				.session-time span,
				.local-time-group span {
					text-align: center;
					color: $black !important; 
				    line-height: 21px;
				}

				.local-time-group span {
					font-size: 11px;
					letter-spacing: -0.5px;
				}

				.session-info {
					background: $grey;
					padding: 5px 10px;
					display: inline-block;
					margin-bottom: 10px;
				}

				.session-description {
				    word-break: normal;
				    text-align: left !important;
				}

				a[data-toggle="collapse"] {
					text-decoration: none !important;
					display: inline-flex;
					position: relative;
					padding-left: 20px;
					color: $primary !important;
					font-weight: bold;
					font-size: 14px;

					&:before {
						font-family: $icon-font;
						content: '\f055';
						margin-right: 4px; 
						transition: all .5s ease-in-out;
						position: absolute; 
						top: 0;
						left: 0;
					}

					&:hover {
						text-decoration: underline !important;

					}
				}

				a[aria-expanded="true"] {
					&:before {
						content: '\f056';
						transform: rotate(180deg)
					}
				}

				.presenting-tab span {
					color: $primary;
					text-decoration: none; 

					&:hover {
						text-decoration: underline;
					}
				}

				.button-group {
					padding-left: 0;
					padding-right: 0;

					.btn.btn-outline-primary {
						@extend %btn;
						color: $white !important;
						line-height: normal;
						width: 100% !important;
						opacity: 1;

						&:hover {
							* {
								color: $white !important;
							}
						}


						@include bp(lt-s) {
							margin-top: 0;
						}

						@include bp(s) {
							width: 80% !important;
						}

						* {
							color: $white !important;
						}

						i {
							font-weight: bold;
						}

						i.fal.fa-users-class:before {
							content: '\f63d'; 
						}
					}
				}
			}
		}

		/* $System Check Modal */
		.system-test-modal {
			@include bp(lt-s) {
				max-width: 100%;
			}

			.setWidth {
			    width: 100%;
			}

			.compatibility-test,
			.bbb-test {
				h1 {
					font-size: 20px !important;
				}

				@include bp(lt-s) {
					width: 100%;
					padding-left: 0;
				}
			}

			.close {
				font-size: 22px !important;
			}

			table.system-test-table {
				display: table;

				tbody {
					display: table-row-group;
				}

				tr {
					display: table-row;
					border-bottom: 1px solid rgba(0,0,0,0.2) !important;
				}

				td { 
					display: table-cell;
					padding: 5px 0 !important; 
					width: auto !important;
				}
			}
		}
	} 

	#inner_content footer {
		// margin-top: 0;
		// margin-left: -30px;
		// margin-right: -30px;
		margin: 0;

		// @include bp(l) {
		// 	margin-left: -31px;
		// 	margin-right: -31px;
		// }
	}
}

body.ve #outer_table .lobby-container .agenda-session .button-group .btn.btn-outline-primary[title="This meeting is not started"] {
    opacity: 0.5;
}