@font-face {
  font-family: 'OpenSans-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/OpenSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .etouches-bootstrap .agenda-container div[class*="col"] {
    width: 100%;
    text-align: left;
  }
  .etouches-bootstrap .agenda-container div[class*="col"].time {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
  }
  .etouches-bootstrap .agenda-container div[class*="col"] * {
    border: none !important;
  }
}
/*# sourceMappingURL=agenda-reset.css.map */