@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: "EuclidCircularA-Bold";
  src: url("https://au-admin.eventscloud.com/docs/100007765/EuclidCircularA-Bold.woff") format(woff);
}
html:after {
  content: none;
}

._nestedContainer .row {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  ._nestedContainer .row {
    max-width: 1170px;
  }
}

.custom-speakers .row {
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  header .navbar-header {
    float: none;
  }
  header .navbar-left,
  header .navbar-right {
    float: none !important;
  }
  header .navbar-toggle {
    display: block;
  }
  header .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  header .navbar-collapse.collapse {
    display: none !important;
  }
  header .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  header .navbar-nav > li {
    float: none;
  }
  header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .collapse.in {
    display: block !important;
  }
}
@media only screen and (max-width: 1160px) and (min-width: 990px) {
  body header #ipBlock-header > div > div > .row .ipWidget.ipWidget-Menu .navbar .navbar-collapse .navbar-nav li a {
    font-size: 11px;
  }
  html body header #ipBlock-header .ipWidget-Container #navigation-bar .row #nav-logo.column {
    padding: 12px 12px;
  }
}
/* $CORE
============= */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-size: 16px;
}
body td, body div, body font, body p, body a, body li, body input, body label, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
  color: #3c3c3c !important;
}
body td, body div, body font, body p, body a, body li, body input, body label {
  font-size: 16px;
}

::-moz-selection {
  background: #003087;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #003087;
  color: #ffffff;
  text-shadow: none;
}

/* $TYPOGRAPHY */
body h1,
main h1,
#ipBlock-mainContent h1,
#inner_content h1,
.ipWidget h1 {
  color: #FFFFFF;
  font-size: 32px !important;
  font-family: "EuclidCircularA-Bold" !important;
}
@media only screen and (min-width: 768px) {
  body h1,
  main h1,
  #ipBlock-mainContent h1,
  #inner_content h1,
  .ipWidget h1 {
    font-size: 44px !important;
  }
}

body h1, body h2, body h3,
main h1,
main h2,
main h3,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#inner_content h1,
#inner_content h2,
#inner_content h3,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  font-family: "EuclidCircularA-Bold" !important;
}
body h1, body h2, body h3,
main h1,
main h2,
main h3,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#inner_content h1,
#inner_content h2,
#inner_content h3,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  margin: 24px 0 14px;
}
@media only screen and (min-width: 992px) {
  body h1, body h2, body h3,
  main h1,
  main h2,
  main h3,
  #ipBlock-mainContent h1,
  #ipBlock-mainContent h2,
  #ipBlock-mainContent h3,
  #inner_content h1,
  #inner_content h2,
  #inner_content h3,
  .ipWidget h1,
  .ipWidget h2,
  .ipWidget h3 {
    margin: 32px 0 20px;
  }
}
body h2,
main h2,
#ipBlock-mainContent h2,
#inner_content h2,
.ipWidget h2 {
  font-size: 28px !important;
}
body h2:not(:only-child),
main h2:not(:only-child),
#ipBlock-mainContent h2:not(:only-child),
#inner_content h2:not(:only-child),
.ipWidget h2:not(:only-child) {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  body h2,
  main h2,
  #ipBlock-mainContent h2,
  #inner_content h2,
  .ipWidget h2 {
    font-size: 38px !important;
  }
}
body h3,
main h3,
#ipBlock-mainContent h3,
#inner_content h3,
.ipWidget h3 {
  font-size: 22px !important;
}
@media only screen and (min-width: 992px) {
  body h3,
  main h3,
  #ipBlock-mainContent h3,
  #inner_content h3,
  .ipWidget h3 {
    font-size: 27px !important;
  }
}
body h4,
main h4,
#ipBlock-mainContent h4,
#inner_content h4,
.ipWidget h4 {
  font-size: 18px !important;
}
@media only screen and (min-width: 992px) {
  body h4,
  main h4,
  #ipBlock-mainContent h4,
  #inner_content h4,
  .ipWidget h4 {
    font-size: 20px !important;
  }
}
body p,
main p,
#ipBlock-mainContent p,
#inner_content p,
.ipWidget p {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-size: 16px;
  line-height: 24px;
}
body .lead,
main .lead,
#ipBlock-mainContent .lead,
#inner_content .lead,
.ipWidget .lead {
  font-size: 18px;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) {
  body .lead,
  main .lead,
  #ipBlock-mainContent .lead,
  #inner_content .lead,
  .ipWidget .lead {
    font-size: 22px;
  }
}
body q,
main q,
#ipBlock-mainContent q,
#inner_content q,
.ipWidget q {
  font-style: italic;
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  body q,
  main q,
  #ipBlock-mainContent q,
  #inner_content q,
  .ipWidget q {
    font-size: 22px;
  }
}

b,
strong {
  font-family: "EuclidCircularA-Bold" !important;
}

/* $LINKS
============= */
.ipWidget a,
.ipWidget a:link,
.ipWidget a:visited,
#inner_content a,
#inner_content a:link,
#inner_content a:visited {
  color: #003781 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ipWidget a:focus, .ipWidget a:hover,
.ipWidget a:link:focus,
.ipWidget a:link:hover,
.ipWidget a:visited:focus,
.ipWidget a:visited:hover,
#inner_content a:focus,
#inner_content a:hover,
#inner_content a:link:focus,
#inner_content a:link:hover,
#inner_content a:visited:focus,
#inner_content a:visited:hover {
  text-decoration: underline;
  color: #003087 !important;
}

/* $BUTTONS */
.ipWidget .btn,
.btn,
.button,
.r-reg-buttons a,
.cc-btn,
#inner_content input.button.r-button,
#inner_content a.btn,
body.ve #outer_table .btn-system-test {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
  color: #DCB751 !important;
  background: #003087 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 5px !important;
  padding: 12px 15px !important;
  min-width: 180px;
  font-size: 16px !important;
  line-height: 16px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  border: 0 !important;
}
.btn:hover,
.button:hover,
.r-reg-buttons a:hover,
.cc-btn:hover,
#inner_content input.button.r-button:hover,
#inner_content a.btn:hover,
body.ve #outer_table .btn-system-test:hover,
.btn:active,
.button:active,
.r-reg-buttons a:active,
.cc-btn:active,
#inner_content input.button.r-button:active,
#inner_content a.btn:active,
body.ve #outer_table .btn-system-test:active,
.btn:focus,
.button:focus,
.r-reg-buttons a:focus,
.cc-btn:focus,
#inner_content input.button.r-button:focus,
#inner_content a.btn:focus,
body.ve #outer_table .btn-system-test:focus {
  color: #FFFFFF !important;
  background: #DCB751 !important;
  text-decoration: none !important;
}

.ipWidget .btn.btn-primary,
.btn.btn-primary,
.button.btn-primary,
.r-reg-buttons a.btn-primary,
.cc-btn.btn-primary,
#inner_content input.button.r-button.btn-primary,
#inner_content a.btn.btn-primary,
body.ve #outer_table .btn-system-test.btn-primary {
  z-index: 2;
}
.btn.btn-primary:hover,
.button.btn-primary:hover,
.r-reg-buttons a.btn-primary:hover,
.cc-btn.btn-primary:hover,
#inner_content input.button.r-button.btn-primary:hover,
#inner_content a.btn.btn-primary:hover,
body.ve #outer_table .btn-system-test.btn-primary:hover {
  color: #FFFFFF !important;
}

.ipWidget .btn.btn-secondary,
.btn.btn-secondary,
.button.btn-secondary,
.r-reg-buttons a.btn-secondary,
.cc-btn.btn-secondary,
#inner_content input.button.r-button.btn-secondary,
#inner_content a.btn.btn-secondary,
body.ve #outer_table .btn-system-test.btn-secondary {
  color: #FFFFFF !important;
  background: #DCB751 !important;
  border: 1px solid #DCB751 !important;
}
.btn.btn-secondary:hover,
.button.btn-secondary:hover,
.r-reg-buttons a.btn-secondary:hover,
.cc-btn.btn-secondary:hover,
#inner_content input.button.r-button.btn-secondary:hover,
#inner_content a.btn.btn-secondary:hover,
body.ve #outer_table .btn-system-test.btn-secondary:hover,
.btn.btn-secondary:active,
.button.btn-secondary:active,
.r-reg-buttons a.btn-secondary:active,
.cc-btn.btn-secondary:active,
#inner_content input.button.r-button.btn-secondary:active,
#inner_content a.btn.btn-secondary:active,
body.ve #outer_table .btn-system-test.btn-secondary:active,
.btn.btn-secondary:focus,
.button.btn-secondary:focus,
.r-reg-buttons a.btn-secondary:focus,
.cc-btn.btn-secondary:focus,
#inner_content input.button.r-button.btn-secondary:focus,
#inner_content a.btn.btn-secondary:focus,
body.ve #outer_table .btn-system-test.btn-secondary:focus {
  color: #DCB751 !important;
  background: #FFFFFF !important;
  border-color: #DCB751 !important;
}

/* $LAYOUT
============= */
.row .row > div[class^=col-] {
  padding: 0;
}

/* $COMMON
============= */
.no-pad {
  padding: 0 !important;
}

.no-pad-top {
  padding-top: 0 !important;
}

.no-pad-bottom {
  padding-bottom: 0 !important;
}

.center * {
  text-align: center;
}

/* $GENERAL
============= */
/* $HEADER */
@media only screen and (max-width: 991px) {
  .logo-header,
  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
  }
}

/* $FOOTER
============= */
footer * {
  color: #FFFFFF;
}
footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 767px) {
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  footer .logo {
    width: 152px;
  }
}
@media only screen and (max-width: 767px) {
  footer .logo {
    text-align: center;
  }
}
footer img {
  width: auto !important;
}
footer a {
  color: #FFFFFF !important;
}

/* $HELPERS
============= */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-wrapper {
  padding: 16px 32px;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .search-wrapper {
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
  }
}
.search-wrapper input {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .search-wrapper input {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.calendar-items-wrap .event-item {
  padding: 7px;
}
.calendar-items-wrap .event-item img {
  margin-bottom: 24px;
}
.calendar-items-wrap .event-item a {
  font-size: 19px !important;
  font-weight: bold;
  text-decoration: underline;
}
.calendar-items-wrap .event-item .card-content {
  padding: 20px 15px;
}
.calendar-items-wrap .event-item .card-content h2, .calendar-items-wrap .event-item .card-content h3, .calendar-items-wrap .event-item .card-content p {
  color: #003087 !important;
}

.results-wrapper {
  padding: 20px 15px;
  font-weight: 700;
  font-size: 19px !important;
  border-left: 5px solid transparent;
}
.results-wrapper.search-error {
  padding-left: 15px;
  border-left: 5px solid #b10e1e;
}

.calendar {
  padding-top: 30px;
}
@media only screen and (min-width: 992px) {
  .calendar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.calendar > table:first-child {
  display: none;
}

.calendar-filters {
  padding-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .calendar-filters {
    padding-bottom: 0;
    width: 30%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding-right: 30px;
  }
  .calendar-filters label:not(:first-of-type) {
    border-top: 1px solid #ccc;
    margin-top: 12px;
    padding-top: 12px;
  }
}
.calendar-filters label,
.calendar-filters select {
  display: block;
  width: 100%;
}
.calendar-filters select {
  padding: 10px;
  background: linear-gradient(45deg, transparent 50%, #000000 50%), linear-gradient(135deg, #000000 50%, transparent 50%), linear-gradient(to right, #ffffff, #ffffff);
  background-position: calc(100% - 23px) calc(1em + 0px), calc(100% - 13px) calc(1em + 0px);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #000;
}
.calendar-filters select::-ms-expand {
  display: none;
}
.calendar-filters h3 {
  margin-top: 0;
}
.calendar-filters .reset {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .calendar-filters .reset {
    margin-top: 25px;
  }
}
.calendar-filters span.filter-split {
  padding: 20px 0 10px 0;
  display: block;
}
/*# sourceMappingURL=master-calendar.css.map */