@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: "EuclidCircularA-Bold";
  src: url("https://au-admin.eventscloud.com/docs/100007765/EuclidCircularA-Bold.woff") format(woff);
}
html:after {
  content: none;
}

._nestedContainer .row {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  ._nestedContainer .row {
    max-width: 1170px;
  }
}

.custom-speakers .row {
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  header .navbar-header {
    float: none;
  }
  header .navbar-left,
  header .navbar-right {
    float: none !important;
  }
  header .navbar-toggle {
    display: block;
  }
  header .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  header .navbar-collapse.collapse {
    display: none !important;
  }
  header .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  header .navbar-nav > li {
    float: none;
  }
  header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .collapse.in {
    display: block !important;
  }
}
@media only screen and (max-width: 1160px) and (min-width: 990px) {
  body header #ipBlock-header > div > div > .row .ipWidget.ipWidget-Menu .navbar .navbar-collapse .navbar-nav li a {
    font-size: 11px;
  }
  html body header #ipBlock-header .ipWidget-Container #navigation-bar .row #nav-logo.column {
    padding: 12px 12px;
  }
}
/* $CORE
============= */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-size: 16px;
}
body td, body div, body font, body p, body a, body li, body input, body label, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
  color: #3c3c3c !important;
}
body td, body div, body font, body p, body a, body li, body input, body label {
  font-size: 16px;
}

::-moz-selection {
  background: #003087;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #003087;
  color: #ffffff;
  text-shadow: none;
}

/* $TYPOGRAPHY */
body h1,
main h1,
#ipBlock-mainContent h1,
#inner_content h1,
.ipWidget h1 {
  color: #FFFFFF;
  font-size: 32px !important;
  font-family: "EuclidCircularA-Bold" !important;
}
@media only screen and (min-width: 768px) {
  body h1,
  main h1,
  #ipBlock-mainContent h1,
  #inner_content h1,
  .ipWidget h1 {
    font-size: 44px !important;
  }
}

body h1, body h2, body h3,
main h1,
main h2,
main h3,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#inner_content h1,
#inner_content h2,
#inner_content h3,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  font-family: "EuclidCircularA-Bold" !important;
}
body h1, body h2, body h3,
main h1,
main h2,
main h3,
#ipBlock-mainContent h1,
#ipBlock-mainContent h2,
#ipBlock-mainContent h3,
#inner_content h1,
#inner_content h2,
#inner_content h3,
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  margin: 24px 0 14px;
}
@media only screen and (min-width: 992px) {
  body h1, body h2, body h3,
  main h1,
  main h2,
  main h3,
  #ipBlock-mainContent h1,
  #ipBlock-mainContent h2,
  #ipBlock-mainContent h3,
  #inner_content h1,
  #inner_content h2,
  #inner_content h3,
  .ipWidget h1,
  .ipWidget h2,
  .ipWidget h3 {
    margin: 32px 0 20px;
  }
}
body h2,
main h2,
#ipBlock-mainContent h2,
#inner_content h2,
.ipWidget h2 {
  font-size: 28px !important;
}
body h2:not(:only-child),
main h2:not(:only-child),
#ipBlock-mainContent h2:not(:only-child),
#inner_content h2:not(:only-child),
.ipWidget h2:not(:only-child) {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  body h2,
  main h2,
  #ipBlock-mainContent h2,
  #inner_content h2,
  .ipWidget h2 {
    font-size: 38px !important;
  }
}
body h3,
main h3,
#ipBlock-mainContent h3,
#inner_content h3,
.ipWidget h3 {
  font-size: 22px !important;
}
@media only screen and (min-width: 992px) {
  body h3,
  main h3,
  #ipBlock-mainContent h3,
  #inner_content h3,
  .ipWidget h3 {
    font-size: 27px !important;
  }
}
body h4,
main h4,
#ipBlock-mainContent h4,
#inner_content h4,
.ipWidget h4 {
  font-size: 18px !important;
}
@media only screen and (min-width: 992px) {
  body h4,
  main h4,
  #ipBlock-mainContent h4,
  #inner_content h4,
  .ipWidget h4 {
    font-size: 20px !important;
  }
}
body p,
main p,
#ipBlock-mainContent p,
#inner_content p,
.ipWidget p {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-size: 16px;
  line-height: 24px;
}
body .lead,
main .lead,
#ipBlock-mainContent .lead,
#inner_content .lead,
.ipWidget .lead {
  font-size: 18px;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) {
  body .lead,
  main .lead,
  #ipBlock-mainContent .lead,
  #inner_content .lead,
  .ipWidget .lead {
    font-size: 22px;
  }
}
body q,
main q,
#ipBlock-mainContent q,
#inner_content q,
.ipWidget q {
  font-style: italic;
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  body q,
  main q,
  #ipBlock-mainContent q,
  #inner_content q,
  .ipWidget q {
    font-size: 22px;
  }
}

b,
strong {
  font-family: "EuclidCircularA-Bold" !important;
}

/* $LINKS
============= */
.ipWidget a,
.ipWidget a:link,
.ipWidget a:visited,
#inner_content a,
#inner_content a:link,
#inner_content a:visited {
  color: #003781 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ipWidget a:focus, .ipWidget a:hover,
.ipWidget a:link:focus,
.ipWidget a:link:hover,
.ipWidget a:visited:focus,
.ipWidget a:visited:hover,
#inner_content a:focus,
#inner_content a:hover,
#inner_content a:link:focus,
#inner_content a:link:hover,
#inner_content a:visited:focus,
#inner_content a:visited:hover {
  text-decoration: underline;
  color: #003087 !important;
}

/* $BUTTONS */
.ipWidget .btn,
.btn,
.button,
.r-reg-buttons a,
.cc-btn,
#inner_content input.button.r-button,
#inner_content a.btn,
body.ve #outer_table .btn-system-test {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
  color: #DCB751 !important;
  background: #003087 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 5px !important;
  padding: 12px 15px !important;
  min-width: 180px;
  font-size: 16px !important;
  line-height: 16px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  border: 0 !important;
}
.btn:hover,
.button:hover,
.r-reg-buttons a:hover,
.cc-btn:hover,
#inner_content input.button.r-button:hover,
#inner_content a.btn:hover,
body.ve #outer_table .btn-system-test:hover,
.btn:active,
.button:active,
.r-reg-buttons a:active,
.cc-btn:active,
#inner_content input.button.r-button:active,
#inner_content a.btn:active,
body.ve #outer_table .btn-system-test:active,
.btn:focus,
.button:focus,
.r-reg-buttons a:focus,
.cc-btn:focus,
#inner_content input.button.r-button:focus,
#inner_content a.btn:focus,
body.ve #outer_table .btn-system-test:focus {
  color: #FFFFFF !important;
  background: #DCB751 !important;
  text-decoration: none !important;
}

.ipWidget .btn.btn-primary,
.btn.btn-primary,
.button.btn-primary,
.r-reg-buttons a.btn-primary,
.cc-btn.btn-primary,
#inner_content input.button.r-button.btn-primary,
#inner_content a.btn.btn-primary,
body.ve #outer_table .btn-system-test.btn-primary {
  z-index: 2;
}
.btn.btn-primary:hover,
.button.btn-primary:hover,
.r-reg-buttons a.btn-primary:hover,
.cc-btn.btn-primary:hover,
#inner_content input.button.r-button.btn-primary:hover,
#inner_content a.btn.btn-primary:hover,
body.ve #outer_table .btn-system-test.btn-primary:hover {
  color: #FFFFFF !important;
}

.ipWidget .btn.btn-secondary,
.btn.btn-secondary,
.button.btn-secondary,
.r-reg-buttons a.btn-secondary,
.cc-btn.btn-secondary,
#inner_content input.button.r-button.btn-secondary,
#inner_content a.btn.btn-secondary,
body.ve #outer_table .btn-system-test.btn-secondary {
  color: #FFFFFF !important;
  background: #DCB751 !important;
  border: 1px solid #DCB751 !important;
}
.btn.btn-secondary:hover,
.button.btn-secondary:hover,
.r-reg-buttons a.btn-secondary:hover,
.cc-btn.btn-secondary:hover,
#inner_content input.button.r-button.btn-secondary:hover,
#inner_content a.btn.btn-secondary:hover,
body.ve #outer_table .btn-system-test.btn-secondary:hover,
.btn.btn-secondary:active,
.button.btn-secondary:active,
.r-reg-buttons a.btn-secondary:active,
.cc-btn.btn-secondary:active,
#inner_content input.button.r-button.btn-secondary:active,
#inner_content a.btn.btn-secondary:active,
body.ve #outer_table .btn-system-test.btn-secondary:active,
.btn.btn-secondary:focus,
.button.btn-secondary:focus,
.r-reg-buttons a.btn-secondary:focus,
.cc-btn.btn-secondary:focus,
#inner_content input.button.r-button.btn-secondary:focus,
#inner_content a.btn.btn-secondary:focus,
body.ve #outer_table .btn-system-test.btn-secondary:focus {
  color: #DCB751 !important;
  background: #FFFFFF !important;
  border-color: #DCB751 !important;
}

/* $LAYOUT
============= */
.row .row > div[class^=col-] {
  padding: 0;
}

/* $COMMON
============= */
.no-pad {
  padding: 0 !important;
}

.no-pad-top {
  padding-top: 0 !important;
}

.no-pad-bottom {
  padding-bottom: 0 !important;
}

.center * {
  text-align: center;
}

/* $GENERAL
============= */
/* $HEADER */
@media only screen and (max-width: 991px) {
  .logo-header,
  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
  }
}

/* $FOOTER
============= */
footer * {
  color: #FFFFFF;
}
footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 767px) {
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  footer .logo {
    width: 152px;
  }
}
@media only screen and (max-width: 767px) {
  footer .logo {
    text-align: center;
  }
}
footer img {
  width: auto !important;
}
footer a {
  color: #FFFFFF !important;
}

/* $HELPERS
============= */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
html :focus {
  outline: none;
}
html body {
  background: #ffffff;
}
html body .ipWidget h2 {
  font-family: "EuclidCircularA-Bold";
  font-size: 38px;
  font-weight: normal;
}
html body header #ipBlock-header .ipWidget-Container #hero {
  height: 100vh;
}
@media only screen and (max-width: 1199px) {
  html body header #ipBlock-header .ipWidget-Container #hero {
    height: 30vh;
    min-height: 350px;
  }
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column {
  width: 100%;
  z-index: 10;
}
@media only screen and (min-width: 1200px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column {
    margin-top: 30px;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock .ipWidget.ipWidget-Buttons {
    margin-top: 100px;
  }
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock p {
  color: #FFFFFF;
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  text-transform: uppercase;
  font-size: 18px;
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h1 {
  color: #FFFFFF;
  font-family: "EuclidCircularA-Bold";
  font-weight: 600;
  font-size: 28px;
  margin-top: 0px;
}
@media only screen and (min-width: 1200px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h1 {
    font-size: 45px;
  }
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h1 span {
  font-size: 28px;
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 {
  font-size: 34px;
  line-height: 1.35;
  color: #fac900;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 {
    background-image: -webkit-gradient(linear, left top, right top, from(#fac900), color-stop(#fff8d0), color-stop(#fac900), to(#fff8d0));
    background-image: linear-gradient(90deg, #fac900, #fff8d0, #fac900, #fff8d0);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media only screen and (min-width: 1500px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 {
    font-size: 24px;
  }
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 span {
  color: #fff;
  display: block;
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 span:last-child {
  font-weight: normal;
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-size: 80%;
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 span:first-child {
  display: inline-block;
  top: -13px;
  position: relative;
  font-size: 0.4em;
}
@media only screen and (max-width: 767px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h2 span:first-child {
    top: -8px;
  }
}
html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h3 {
  color: #FFFFFF;
  font-family: "Caveat", sans-serif, Helvetica, Arial;
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock h3 {
    font-size: 52px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767px) {
  html body header #ipBlock-header .ipWidget-Container #hero .row.clearfix .column .ipBlock button.btn {
    font-size: 14px !important;
  }
}
html body header #ipBlock-header .ipWidget-Container #menu > .row {
  max-width: 100%;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column {
  padding: 0;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav {
  background: transparent;
  border: none;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav.navbar-fixed-top {
  background: #003087;
  padding: 0;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid {
  max-width: 100%;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-header .navbar-brand {
  padding-left: 0px;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse {
  padding: 0;
}
@media only screen and (max-width: 991px) {
  html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse {
    background: #003087;
    padding: 15px;
  }
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse ul li.register a {
  color: #FFFFFF !important;
  padding: 15px 20px;
  background: #DCB751;
  border-radius: 5px;
  margin: 15px 0;
  font-weight: bold;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse ul li.register a:hover {
  color: #DCB751 !important;
  background: #FFFFFF;
}
@media only screen and (max-width: 991px) {
  html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse ul li.register a {
    display: inline-block;
    margin: 15px 15px;
  }
}
@media only screen and (min-width: 1200px) {
  html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse ul li.register {
    margin-left: 20px;
  }
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .container-fluid .navbar-collapse ul li:hover {
  background: transparent;
}
html body header #ipBlock-header .ipWidget-Container #menu > .row > .column .ipBlock nav .navbar-toggle {
  color: #DCB751;
  padding: 9px 10px 6px;
}
html body header #ipBlock-header .ipWidget-MenuWidget .navbar-collapse .navbar-nav {
  padding: 0px;
  margin-right: 0 !important;
}
@media only screen and (max-width: 991px) {
  html body header #ipBlock-header .ipWidget-MenuWidget .navbar-collapse .navbar-nav {
    margin: 0;
  }
}
html body header #ipBlock-header .ipWidget-MenuWidget .navbar-collapse .navbar-nav li a {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-size: 20px;
  color: #FFFFFF !important;
}
@media only screen and (max-width: 991px) {
  html body header #ipBlock-header .ipWidget-MenuWidget .navbar-collapse .navbar-nav li a {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
html body header #ipBlock-header .ipWidget-MenuWidget .navbar-collapse .navbar-nav li a:hover {
  color: #DCB751;
  background: transparent;
}
html body main .row.clearfix {
  padding-left: 25px;
  padding-right: 25px;
}
@media only screen and (max-width: 767px) {
  html body main .row.clearfix {
    padding-left: 5px;
    padding-right: 5px;
  }
}
html body main .section-heading {
  padding: 40px 30px 20px 30px;
}
html body main .section-heading.first-section {
  padding: 0px 30px 20px 30px;
}
@media only screen and (min-width: 1200px) {
  html body main .section-heading {
    padding: 80px 30px 20px 30px;
  }
}
html body main .section-heading h1 {
  font-family: "EuclidCircularA-Bold";
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #DCB751 !important;
}
@media only screen and (min-width: 1200px) {
  html body main .section-heading h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 767px) {
  html body main .section-heading h1 {
    margin-bottom: 20px;
  }
}
html body main .section-heading h2 {
  font-family: "EuclidCircularA-Bold";
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #003087 !important;
}
@media only screen and (min-width: 1200px) {
  html body main .section-heading h2 {
    font-size: 27px;
  }
}
@media only screen and (max-width: 767px) {
  html body main .section-heading h2 {
    margin-bottom: 20px;
  }
}
html body main .section-heading h1 + p {
  margin-top: 40px;
}
html body main .section-heading h4 {
  font-family: "Caveat", sans-serif, Helvetica, Arial;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  color: #DCB751 !important;
}
html body main .section-heading h4 span {
  background: #FFF;
  padding: 0 15px;
}
html body main .section-heading h4:before, html body main .section-heading h4:after {
  border-top: 1px solid;
  border-top-color: inherit;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
}
html body main .section-heading p .fa,
html body main .section-heading p .far,
html body main .section-heading p .fas {
  font-size: 40px;
}
html body main .bg-section .section-heading {
  padding: 50px 30px 50px 30px;
}
html body main .section-content {
  margin: 20px 0px 20px 0px;
}
@media only screen and (min-width: 1200px) {
  html body main .section-content {
    margin: 100px 0px 50px 0px;
  }
}
@media only screen and (max-width: 767px) {
  html body main .section-content .sec-col-img {
    padding-bottom: 30px;
  }
}
html body main .section-content p {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  font-weight: 400;
}
html body main .section-content p .fa,
html body main .section-content p .far,
html body main .section-content p .fas {
  font-size: 40px;
}
html body main .section-content .center {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  html body main #welcome-section > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 991px) {
  html body main #welcome-section > .row div[class*=col]:not(:first-child) {
    margin-bottom: 20px;
  }
}
html body main #counter-section {
  position: relative;
  margin: 0;
}
html body main #counter-section .counter {
  font-size: 60px;
  font-family: "EuclidCircularA-Bold";
  color: #FFFFFF;
  font-weight: 600;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 991px) {
  html body main #counter-section .counter {
    font-size: 30px;
  }
}
html body main #counter-section .counter-label {
  font-size: 25px;
  font-family: "EuclidCircularA-Bold";
  color: #FFFFFF;
  font-weight: 600;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  html body main #counter-section .counter-label {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  html body main #counter-section .counter-label {
    font-size: 18px;
  }
}
html body main #counter-section:after {
  content: "";
  position: absolute;
  background: radial-gradient(ellipse, rgba(15, 14, 22, 0.2), #100e17);
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
html body main #counter-section .wrapper {
  position: relative;
  height: 12em;
}
@media only screen and (max-width: 479px) {
  html body main #counter-section .wrapper {
    height: 48em;
  }
}
html body main #counter-section .wrapper .countdown-container {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
html body main #counter-section .wrapper .countdown-container .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve3d;
          transform-style: preserve3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  height: 10rem;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 479px) {
  html body main #counter-section .wrapper .countdown-container .countdown {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
html body main #counter-section .wrapper .countdown-container .countdown .number, html body main #counter-section .wrapper .countdown-container .countdown .separator {
  display: block;
  color: #FFFFFF;
  height: 10rem;
  font-size: 60px;
  position: relative;
  line-height: 10rem;
  text-align: center;
  width: 100%;
  font-family: "EuclidCircularA-Bold";
}
@media only screen and (max-width: 479px) {
  html body main #counter-section .wrapper .countdown-container .countdown .number, html body main #counter-section .wrapper .countdown-container .countdown .separator {
    width: 100% !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
html body main #counter-section .wrapper .countdown-container .countdown .number .new, html body main #counter-section .wrapper .countdown-container .countdown .number .old, html body main #counter-section .wrapper .countdown-container .countdown .number .current, html body main #counter-section .wrapper .countdown-container .countdown .separator .new, html body main #counter-section .wrapper .countdown-container .countdown .separator .old, html body main #counter-section .wrapper .countdown-container .countdown .separator .current {
  color: #FFFFFF;
  position: absolute;
  border-radius: 1rem;
  height: 10rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-shadow: 0px 2px #ffffff;
}
html body main #counter-section .wrapper .countdown-container .countdown .number .new, html body main #counter-section .wrapper .countdown-container .countdown .separator .new {
  -webkit-animation: show-new 0.4s cubic-bezier(0, 0.9, 0.5, 1.2) forwards;
          animation: show-new 0.4s cubic-bezier(0, 0.9, 0.5, 1.2) forwards;
}
html body main #counter-section .wrapper .countdown-container .countdown .number .old, html body main #counter-section .wrapper .countdown-container .countdown .separator .old {
  -webkit-animation: hide-old 2s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
          animation: hide-old 2s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
}
html body main #counter-section .wrapper .countdown-container .countdown .number#js-days::after, html body main #counter-section .wrapper .countdown-container .countdown .number#js-hours::after, html body main #counter-section .wrapper .countdown-container .countdown .number#js-minutes::after, html body main #counter-section .wrapper .countdown-container .countdown .number#js-seconds::after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-days::after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-hours::after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-minutes::after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-seconds::after {
  content: "Days";
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -45px;
  font-size: 25px;
  font-family: "EuclidCircularA-Bold";
}
html body main #counter-section .wrapper .countdown-container .countdown .number#js-hours:after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-hours:after {
  content: "Hours";
}
html body main #counter-section .wrapper .countdown-container .countdown .number#js-minutes:after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-minutes:after {
  content: "Minutes";
}
html body main #counter-section .wrapper .countdown-container .countdown .number#js-seconds:after, html body main #counter-section .wrapper .countdown-container .countdown .separator#js-seconds:after {
  content: "Seconds";
}
@media only screen and (max-width: 767px) {
  html body main #counter-section .wrapper .countdown-container .countdown .separator {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-bottom: -30px;
  }
}
html body main #speaker-section h1 {
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  html body main #speaker-section h1 {
    margin-bottom: 20px;
  }
}
html body main #speaker-section .ipWidget-Speaker {
  margin-top: 35px;
}
html body main #agenda-section h1 {
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  html body main #agenda-section h1 {
    margin-bottom: 20px;
  }
}
html body main #agenda-section .ipWidget-Agenda {
  margin-bottom: 40px;
}
html body main #agenda-section .ipWidget-Agenda .etouches-widget {
  padding: 10px;
  border: 8px;
  border-style: double;
}
@media only screen and (min-width: 1200px) {
  html body main #agenda-section .ipWidget-Agenda .etouches-widget {
    padding: 40px;
    border: 8px;
    border-style: double;
  }
}
html body main #agenda-section .agenda-section > div:nth-child(3) {
  border-top: 1px solid #cccccc;
}
html body main #agenda-section .agenda-section .agenda-header h1, html body main #agenda-section .agenda-section .agenda-header h2, html body main #agenda-section .agenda-section .agenda-header h3 {
  font-family: "EuclidCircularA-Bold";
}
html body main #agenda-section .agenda-section .session-group .session-time {
  font-family: "EuclidCircularA-Bold";
}
html body main #agenda-section .agenda-section .session-group .session-time span {
  font-family: "EuclidCircularA-Bold";
}
html body main #agenda-section .agenda-section .session-group .session-title a h4 {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
}
html body main #agenda-section .agenda-section .session-group .session-description {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
}
html body main #agenda-section .agenda-section .session-group .session-description .speaker-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
html body main #agenda-section .agenda-section .session-group .session-description .speaker-box .speaker {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin-bottom: 10px;
}
html body main #agenda-section .agenda-section .session-group .session-description .speaker-box .speaker .speaker-details {
  padding: 15px;
  background: #eeeeee;
}
html body main #agenda-section .agenda-section .session-group .session-description .speaker-box .speaker .speaker-details h4 {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
  margin: 0px;
}
html body main #agenda-section .agenda-section .session-group .session-description .speaker-box .speaker .speaker-details p {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
}
html body main #agenda-section .cal-time-zone {
  max-width: 1050px;
  padding: 0;
}
html body main #agenda-section .cal-time-zone > div {
  padding: 0 10px;
}
html body main #agenda-section .cal-time-zone > div > div {
  background: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #cccccc;
          box-shadow: 0px 0px 20px 0px #cccccc;
}
html body main #agenda-section .cal-time-zone > div > div p {
  font-size: 14px;
}
html body main .pricing-section,
html body main #pricing-section,
html body main #tickets-section,
html body main .tickets-section {
  background: #636468;
  padding: 80px 15px;
}
html body main .pricing-section .section-heading,
html body main #pricing-section .section-heading,
html body main #tickets-section .section-heading,
html body main .tickets-section .section-heading {
  padding: 0 30px 30px 30px;
}
html body main .pricing-section .section-heading .column,
html body main #pricing-section .section-heading .column,
html body main #tickets-section .section-heading .column,
html body main .tickets-section .section-heading .column {
  padding: 20px 0px;
}
html body main .pricing-section .section-heading .column .ipBlock,
html body main #pricing-section .section-heading .column .ipBlock,
html body main #tickets-section .section-heading .column .ipBlock,
html body main .tickets-section .section-heading .column .ipBlock {
  border: none !important;
}
html body main .pricing-section .row:not(.section-heading) .column,
html body main #pricing-section .row:not(.section-heading) .column,
html body main #tickets-section .row:not(.section-heading) .column,
html body main .tickets-section .row:not(.section-heading) .column {
  padding: 20px 20px;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock {
  border: 1px solid #636468;
  border-radius: 25px;
  padding: 30px 0;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock h2,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock h2,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock h2,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock h2 {
  font-size: 40px;
  padding: 15px 0;
  margin: 0;
  font-weight: bold;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock h3,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock h3,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock h3,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 100%;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock h4,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock h4,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock h4,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock h4 {
  padding: 0 0 15px;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock hr,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock hr,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock hr,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock hr {
  border-top: 1px solid #636468;
  margin-bottom: 30px;
  margin-top: 30px;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock ul,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock ul,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock ul,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock ul {
  list-style-type: none;
  margin: auto;
  padding: 0 20px;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock ul li,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock ul li,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock ul li,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock ul li {
  color: #636468;
  padding-bottom: 10px;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock ul li:last-child,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock ul li:last-child,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock ul li:last-child,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock ul li:last-child {
  padding-bottom: 0;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget {
  padding: 15px;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row {
  margin: 0;
  padding: 15px 0 0 0;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button {
  margin: 0;
}
html body main .pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button.btn,
html body main #pricing-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button.btn,
html body main #tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button.btn,
html body main .tickets-section .row:not(.section-heading) .column .ipBlock .ipWidget-Buttons .row button.btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
html body main .pricing-section .row:not(.section-heading) .column.active,
html body main #pricing-section .row:not(.section-heading) .column.active,
html body main #tickets-section .row:not(.section-heading) .column.active,
html body main .tickets-section .row:not(.section-heading) .column.active {
  padding: 0 20px 0;
}
html body main .pricing-section .row:not(.section-heading) .column.active .ipBlock,
html body main #pricing-section .row:not(.section-heading) .column.active .ipBlock,
html body main #tickets-section .row:not(.section-heading) .column.active .ipBlock,
html body main .tickets-section .row:not(.section-heading) .column.active .ipBlock {
  padding: 60px 0;
}
html body main #app-section h1 {
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  html body main #app-section h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  html body main #app-section .app-buttons .ipBlock {
    padding-top: 30px;
  }
}
html body main #app-section .app-buttons img {
  max-width: 100% !important;
  height: auto !important;
}
@media only screen and (max-width: 767px) {
  html body main #app-section #mobile-image img {
    margin: auto;
    display: block;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  html body main #app-section #app-store-btns {
    margin: 40px 0px;
  }
}
@media only screen and (max-width: 767px) {
  html body main #app-section #app-store-btns img {
    margin: auto;
    display: block;
  }
}
html body main #sponsor-section h1 {
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  html body main #sponsor-section h1 {
    margin-bottom: 20px;
  }
}
html body main #sponsor-section #sponsor-logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body main #sponsor-section #sponsor-logo-row img {
  width: 80%;
  display: block;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
html body main #testimonials-section h1 {
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  html body main #testimonials-section h1 {
    margin-bottom: 20px;
  }
}
html body main #testimonials-section .testimonial-box {
  margin-top: 10px;
  padding: 0px 20px 20px 20px;
  display: inline-block;
  margin: 0px 10px;
}
@media only screen and (max-width: 767px) {
  html body main #testimonials-section .testimonial-box {
    margin-bottom: 40px;
  }
}
html body main #testimonials-section .testimonial-box article {
  position: relative;
  margin: 0 0 13px;
  padding: 40px 30px;
  text-align: center;
  background-color: #f3f5f6;
}
html body main #testimonials-section .testimonial-box article:before {
  position: absolute;
  bottom: -30px;
  left: 48px;
  width: 0;
  height: 0;
  content: "";
}
html body main #testimonials-section .testimonial-box article:after {
  position: absolute;
  bottom: -30px;
  left: 48px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
}
html body main #testimonials-section .testimonial-box article:after {
  margin: 0 0 4px 3px;
  border-width: 0 26px 26px 0;
  border-color: transparent #f3f5f6 transparent transparent;
}
html body main #testimonials-section .testimonial-box .person-info {
  position: relative;
  padding: 17px 0 0 93px;
  min-height: 70px;
  text-align: left;
  line-height: 20px;
}
html body main #testimonials-section .testimonial-box .person-info .person-img img {
  margin-top: 20px;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
html body main #testimonials-section .testimonial-box .person-info .person-name strong {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
}
html body main #map-section {
  margin-top: 0px;
}
html body main #map-section .row {
  max-width: 100%;
  width: 100%;
}
html body main #map-section .row .column {
  width: 100%;
  padding: 0px;
}
html body main #map-section .row .column p {
  line-height: 0px;
}
html body main #map-section .row .column p iframe {
  width: 100%;
}
html body main #faq-section {
  /* Accordion styles */
}
html body main #faq-section input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
html body main #faq-section .tabs {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin: 40px 0px;
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial;
}
html body main #faq-section .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
html body main #faq-section .tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #003087;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
  /* Icon */
}
html body main #faq-section .tab-label:hover {
  background: #001e54;
}
html body main #faq-section .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
html body main #faq-section .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #003087;
  background: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
html body main #faq-section .tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #003087;
  cursor: pointer;
}
html body main #faq-section .tab-close:hover {
  background: #001e54;
}
html body main #faq-section input:checked + .tab-label {
  background: #001e54;
}
html body main #faq-section input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
html body main #faq-section input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
html body main .static-speakers img {
  border: 2px solid #DCB751;
  border-radius: 50%;
  width: 70% !important;
  margin-top: 30px !important;
}
@media only screen and (min-width: 992px) {
  html body main .static-speakers img {
    width: 50% !important;
  }
}
html body main .custom-speakers {
  margin: 50px 0px 0px 0px;
}
html body main .custom-speakers .row .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body main .custom-speakers .row .col-xs-12 .speaker {
  margin-bottom: 55px;
}
@media only screen and (max-width: 767px) {
  html body main .custom-speakers .row .col-xs-12 .speaker {
    padding: 0px;
  }
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box {
  padding: 20px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  display: table;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 100%;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .image-wrap {
  padding-left: 0px;
  padding-right: 0px;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .image-wrap img {
  border-radius: 50%;
  width: 115px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 767px) {
  html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .image-wrap img {
    width: 80px;
  }
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 767px) {
  html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap {
    padding-left: 20px;
  }
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap .speaker-name {
  margin-top: 0px;
  font-family: "EuclidCircularA-Bold";
  font-weight: 600;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap .speaker-title {
  font-family: "EuclidCircularA-Bold";
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap .speaker-bio {
  display: none;
  font-family: "EuclidCircularA-Bold";
  font-size: 14px;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap .show-more-info {
  position: absolute;
  right: 0;
  top: 0;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .content-wrap .show-more-info:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
  font-size: 20px;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .bio-cta {
  display: block;
  position: absolute;
  width: 130px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  font-weight: 600;
  background: #ffffff;
  text-align: center;
  margin: 0 auto;
  top: 93px;
  border: 1.5px solid #414141;
  display: none;
  -webkit-transition: all 0.2 ease-in-out;
  transition: all 0.2 ease-in-out;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box .bio-cta p {
  margin: 0px;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box:hover {
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box:hover .image-wrap img {
  width: 80%;
}
html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box:hover .bio-cta {
  display: block;
}
@media only screen and (max-width: 767px) {
  html body main .custom-speakers .row .col-xs-12 .speaker .speaker-box:hover .bio-cta {
    display: none;
  }
}
html body main .custom-speakers .row .col-xs-12 .speaker.show-description .speaker-box .content-wrap .show-more-info:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
html body main .custom-speakers .row .col-xs-12 .speaker.show-description .speaker-box:hover .bio-cta {
  display: none;
}
html body .gallery_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .gallery_container .gallery_item {
  -webkit-box-shadow: 0 0 10px #eee;
          box-shadow: 0 0 10px #eee;
  border-bottom: 4px solid #DCB751;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
html body .gallery_container .gallery_item .slider_image {
  width: auto;
  max-width: 100%;
}
html body .accordion-section {
  margin: 0 auto;
}
html body .accordion-section .col-md-9 {
  padding: 0 10px;
}
html body .accordion-section .column:not(.section-heading) > .ipBlock {
  border: 1px solid #003087;
  padding: 0 !important;
  margin-bottom: 10px;
}
html body .accordion-section .column:not(.section-heading) > .ipBlock ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 0 0 30px;
}
html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div {
  cursor: pointer;
  padding: 10px 15px !important;
  background-color: #f9f9fa;
  border-radius: 5px 5px 0 0;
  margin: 0;
}
html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div:after {
  font-family: "Font Awesome 5 Free", "FontAwesome", "fontAwesome";
  height: 100%;
  position: absolute;
  top: 25%;
  display: block;
  right: 15px;
}
html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div h1, html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div h2, html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div h3, html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div h4, html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div h5, html body .accordion-section .column:not(.section-heading) .ipBlock > .ipWidget:first-child div * {
  font-size: 22px !important;
  margin: 0.5em 0;
}
html body .accordion-section .column .ipBlock > .ipWidget:nth-child(2) > div {
  border-top: 1px solid #003087;
  padding: 15px !important;
}
html body .accordion-section .column .ipBlock > .ipWidget:first-child ~ .ipWidget {
  display: none;
}
html body .ipHasAdminNavbar.ipHasAdminPanel .accordion-section .column .ipBlock > .ipWidget:first-child div:after {
  content: "";
}
html body footer #footer-section {
  padding: 40px 0px;
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section {
    padding: 20px 0px;
  }
}
html body footer #footer-section .ipWidget ul {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
html body footer #footer-section .footer-link-list {
  width: 100%;
}
@media (max-width: 767px) {
  html body footer #footer-section .footer-link-list {
    text-align: center;
  }
}
html body footer #footer-section .footer-link-list .ipWidget ul {
  list-style-type: none !important;
  padding: 0px;
  margin: 0;
}
html body footer #footer-section .footer-link-list .ipWidget ul li a {
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .footer-link-list .ipWidget ul li {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .footer-link-list .ipWidget ul {
    margin-bottom: 30px;
  }
}
html body footer #footer-section .footer-link-list .foot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .footer-link-list .foot-wrap .foot-left {
    max-width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .footer-link-list .foot-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
html body footer #footer-section .footer-link-list .foot-wrap img {
  margin-bottom: 12px;
  margin-left: auto;
  display: table;
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .footer-link-list .foot-wrap img {
    margin: 0 auto 10px;
  }
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .footer-link-list .foot-wrap p {
    text-align: left !important;
    font-size: 14px;
  }
}
html body footer #footer-section .copyright-text P {
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .copyright-text {
    margin-bottom: 30px;
  }
}
html body footer #footer-section .social-icons p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body footer #footer-section .social-icons p i.fab {
  color: #FFFFFF;
  padding: 0px 15px;
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  html body footer #footer-section .social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .column.col-xs-12.col-md-4.col-sm-4.footer-link-list {
    text-align: center;
    padding-bottom: 15px;
  }
}

.map-section {
  padding: 0;
}

.ipHasAdminPanel .map-section {
  background: url(https://ps-eventscloud-com.s3.amazonaws.com/_internal-projects/website-designs/dubai-design/images/google-map.png) no-repeat center center;
}
.ipHasAdminPanel .map-section .ipBlock {
  min-height: 255px;
}

#map {
  max-height: 450px;
}

.btn-secondary,
.btn-primary {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
  text-transform: uppercase;
}

ul,
li {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
}

html .ipWidget ul {
  padding: 0;
  margin: 0 0 1em 1.2em;
}

.flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
}
@inclu de bp(lt-s) {
  .flex-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.flex-div > div {
  margin: auto;
  text-align: center;
}

select {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
}
select option {
  font-family: "EuclidCircularA-Bold", sans-serif, Helvetica, Arial !important;
}

/*COUNTER ANIMATION*/
@-webkit-keyframes hide-countdown {
  to {
    height: 0;
    overflow: hidden;
  }
}
@keyframes hide-countdown {
  to {
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes show-new {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
            transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes show-new {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
            transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes hide-old {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
            transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
  }
}
@keyframes hide-old {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
            transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
  }
}
/*# sourceMappingURL=master-website.css.map */