@font-face {
  font-family: 'MarkOT-Light';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Light") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MarkOT-Reg';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Reg") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MarkOT-Book';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Book") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MarkOT-Medium';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Medium") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MarkOT-Bold';
  src: url("https://au-admin.eventscloud.com/docs/100007765/MarkOT-Bold") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PlacardNext-WideLight';
  src: url("https://au-admin.eventscloud.com/docs/100007765/PlacardNext-WideLight") format("woff");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #18249C;
  color: inherit;
  text-shadow: none; }

::selection {
  background: #18249C;
  color: inherit;
  text-shadow: none; }

.speaker-widget .flex-item {
  margin: 20px !important;
  padding: 20px !important;
  border: 1px solid #f2f2f4 !important;
  border-radius: 0;
  background-color: transparent;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 40px); }
  @media only screen and (max-width: 991px) {
    .speaker-widget .flex-item {
      width: calc(33.33% - 30px);
      margin: 15px !important; } }
  @media only screen and (max-width: 479px) {
    .speaker-widget .flex-item {
      width: calc(100% - 40px) !important; } }

.speaker-item {
  margin: 0 !important;
  width: 100%; }
  .speaker-item .speaker-img-placeholder {
    border: none !important;
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
    @media only screen and (max-width: 991px) {
      .speaker-item .speaker-img-placeholder {
        margin: 0 auto !important; } }
  @media only screen and (min-width: 992px) {
    .speaker-item .item-content {
      padding-left: 10px; } }
  @media only screen and (max-width: 767px) {
    .speaker-item .item-content {
      text-align: center !important; } }
  .speaker-item .item-content .speaker-name {
    display: block;
    color: #222222 !important;
    font-family: "MarkOT-Book", "MarkOT-Reg", Arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: uppercase !important; }
    @media only screen and (max-width: 991px) {
      .speaker-item .item-content .speaker-name {
        font-size: 16px !important; } }
  .speaker-item .item-content .speaker-title {
    display: block;
    font-family: "MarkOT-Reg", Arial, sans-serif !important;
    color: #222222 !important;
    font-size: 14px !important;
    font-weight: normal;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px; }
  .speaker-item .item-content .comp-name {
    display: block;
    font-family: "MarkOT-Reg", Arial, sans-serif !important;
    color: #222222 !important;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px; }
  .speaker-item .item-content .more-btn {
    display: inline-block;
    background-color: #ED0C06 !important;
    color: #FFFFFF !important;
    border-color: #ED0C06 !important;
    border-radius: 0;
    border-width: 2px;
    font-family: "MarkOT-Reg", Arial, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px; }
    .speaker-item .item-content .more-btn:hover {
      background-color: #bb0905 !important;
      border-color: #bb0905 !important; }

#myModal.modal .modal-dialog .modal-content *:not(.glyphicon) {
  font-family: "MarkOT-Reg", Arial, sans-serif !important; }

#myModal.modal .modal-dialog .modal-content .modal-header {
  background: #000; }
  #myModal.modal .modal-dialog .modal-content .modal-header .modal-title {
    color: #FFFFFF; }
  #myModal.modal .modal-dialog .modal-content .modal-header .close-modal {
    background: #ED0C06;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #FFFFFF; }
    #myModal.modal .modal-dialog .modal-content .modal-header .close-modal:hover {
      color: #ED0C06;
      background: #FFFFFF; }

#myModal.modal .modal-dialog .modal-content .modal-body .speaker-item {
  border: 0; }

#myModal.modal .modal-dialog .modal-content .modal-body .speaker-name {
  color: #000;
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase; }

#myModal.modal .modal-dialog .modal-content .modal-body .speaker-title,
#myModal.modal .modal-dialog .modal-content .modal-body .comp-name {
  font-size: 18px;
  margin: 0 0 5px;
  color: #ED0C06 !important; }

#myModal.modal .modal-dialog .modal-content .modal-body .comp-name {
  font-size: 16px; }

#myModal.modal .modal-dialog .modal-content .modal-body .speaker-bio * {
  line-height: 1.5; }
/*# sourceMappingURL=speakers-reset.css.map */