/* $EREG
============= */


/* $LAYOUT
============= */

html {
	background-position: center $header-height-mobile !important;
	background-color: $white !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-attachment: fixed !important;

	@include bp(s) {
		background-size: cover !important;
	}

	@include bp(m) {
		background-position: center $header-height !important;
	}

	&:before {
		@extend %hero-after;
	}

	body {
		padding-top: $header-height-mobile;

		@include bp(m) {
			padding-top: $header-height;
		}

		&:before {
			background: transparent !important;
		}
	}

	body:not(.ereg) {
		padding: 0 !important; 
		margin: 0 !important;

		> table {
			padding: 10px !important;
			// Work around to fill popups with full white background
			position: fixed;
			overflow-y: auto;
		}
	}
}

#outer_table {
	width: 100% !important;

	#inner_content {
		max-width: 1020px;
		display: block;
		margin: 0px auto 0 !important;
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
		padding: 60px;

		@include bp(lt-m) {
			padding: 20px !important;
		}

		@include bp(s) {
			margin-top: 80px !important;
			margin-bottom: 80px !important;
		}

		> table {
			max-width: 960px;
		    margin: 0 auto;
		}
	}
} 

// FIX - Wierd system min width
@media (min-width: 801px) {
	html,
	#outer_table {
	    min-width: auto !important;
	}
}

//TYPOGRAPY RESET
body,
#inner_content {
	td.questionLabel,
	td.questionInput,
	label,
	.header, 
	.headercell, 
	.maincell, 
	.maincellover, 
	.off, 
	.on, 
	.red, 
	.redLabel, 
	.selectbox, 
	.standard, 
	a.footer:link, 
	a.footer:visited, 
	a.menu:link, 
	a.menu:visited, 
	a.menu_standard:link, 
	a.menu_standard:visited, 
	a.redLabel:link, 
	a.redLabel:visited, 
	div, 
	font, 
	input, 
	p, 
	select, 
	td, 
	textarea
	 {
		font-size: 16px !important;
		font-weight: normal; 
		font-family: $font-primary !important;
		text-transform: none; 
	}
}



/* $GENERAL
============= */

/* $HEADER */
#outer_table .branding-hdr {
	background-color: $white !important;
	padding: 0px !important;
	/* height: $header-height-mobile;
	position: fixed; 
	top: 0;
	left: 0;  */
	width: 100%;
	z-index: 5; 
	box-shadow: inset 0 -1px 0 #e7e7e8;

	@include bp(m) {
		/* height: $header-height; */
	}

	.logo-img-container {
		text-align: left !important;
		padding: 0 !important;
	}

	img {
    	/* max-height: 30px; */

    	@include bp(m) {
    		/* max-height: 45px; */
    	}
    } 

    h1 {
    	max-width: 100%;
        width: 100%;
        margin: 0 auto !important;
        display: block;
        text-align: left !important;
        position: relative;
        /* top: 50%;
        transform: translateY(-50%); */

		@include bp(lt-m) {
    		margin-top: 25px !important;
    	}
    }

    .baseline {
    	@include bp(lt-m) {
    		display: none;
    	}

    	p {
    		font-family: $font-title !important;
    		font-size: 17px !important; 
    	}
    }
}


.logo-img-container {
	@include bp(lt-reg) {
		padding: 20px;
	}
}

#outer_table tr.nav-related-vars-container {
	width: 100%;
	left: 0;
	z-index: 1;
	background: $black;
	/* position: fixed; 
	top: $header-height-mobile;  */

	@include bp(m) {
		/* top: $header-height; */
	}

	.new-desktop-nav {
		padding: 0 !important;

		#r-breadcrumbs {
			margin-left: auto;
			margin-right: auto;
			border: 0;
			max-width: 1170px;
			background: transparent;

			ul.crumbs li {
				padding-top: 0;
				border: 0;
				position: relative;

				&.on {
					background: transparent !important;
					box-shadow: none;
					color: $primary;

					a {
						color: $white !important;
					}

					&:before {
						@include bp(m) {
							width: 100%;
						}
					}
				}

				@include bp(800px) {
					&:not(:first-of-type) a:before {
					    margin-right: 20px;
					    content: $arrow-right;
					    font-family: $icon-font;
					    font-weight: 900;
					    color: $white;
					    display: inline-block;
					}
				}

				a,
				&.previous-step a {
					border: 0 !important;
					color: $white !important;
					font-size: 16px !important;
				    font-family: $font-title !important;
				    padding: 12px 10px;
				    line-height: 24px;

				    &:hover, 
				    &:focus {
				    	text-decoration: none !important;
				    }
				}
			}
		}
	}
}

/* $LANGUAGE SELECTOR */
#outer_table {

	td.reg-header-cont-cont,
	.reg-header-container {
	    background-color: transparent !important;
	}

	.reg-header-container {
		position: relative;
		max-width: 1170px;
		margin: 0 auto;
		display: block;
		padding: 0 20px;
	}

	.reg-header-header {
		padding: 0;
		@extend %h1;

		@include bp(lt-reg) {
			padding: 20px !important;
		}
	}

	td.language-selector-container {
	    display: block;
	    background-color: $white;
	    height: 38px;
	    top: -48px;
	    right: 20px;
	    width: 100%;
	    display: block;
	    z-index: 9;
	    text-align: left ;
	    padding: 0 !important;

	    @include bp(m) {
	    	top: -60px;
	    }

	    .language-wrapper {
	        span {
	        	&:after {
	        		font-size: 18px;
	        		font-family: $icon-font;
	        		color: $black !important;
	        		content: "\f107";
	        		position: absolute !important;
	        		right: 0;
	        		top: 50%;
	        		transform: translateY(-50%);
	        		pointer-events: none; 
	        		padding-top: 1px;
	        	}
			}
	    }

		select {   
		    box-sizing: border-box;
		    border-radius: 0 !important;
		    -webkit-appearance: none !important;
		    padding: 6px 20px 6px 12px !important;
		    height: 38px;
		    margin: 0 !important;
		    font-size: 16px !important;
		    font-weight: normal;
		    width: auto !important;
		    background: $white;
			border-width: 0 !important;
			border-radius: 0;
			border-color: #ccc;
			-webkit-appearance: none;
			box-shadow: none;
			margin: 0 !important;
			color: $black !important;
			min-width: 0;
			text-transform: capitalize;

			@include bp(m) {
				font-size: 12px !important;
			}

			&::-ms-expand {
			    display: none;
			}
		}

		select::-ms-expand {
		    display: none;
		}
	}
}

/* $PAGE STYLES
============= */

body.index {
	#inner_content {
		ul, 
		ol {
			padding: 40px;
			margin-left: -20px;
			margin-right: -20px;

			@include bp(s) {
				margin-left: 0;
				margin-right: 0;
			}

			li {
				line-height: 23px;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}

		ol {
			@include bp(lt-s) {
				padding: 40px 20px;
			}
		}

		ul {
			background: $grey;
			position: relative;
			z-index: 0;
			margin-bottom: 40px;
			
			@include bp(s) {
				column-count: 2;
				column-gap: 60px;
			}
		}

		ol {
			background: $black; 

			@include bp(s) {
				width: 65%; 
			}

			li {
				list-style: none;
				// font-weight: bold;
				font-size: 20px;
				color: $white !important; 

				span {
					font-size: 38px;
					font-weight: bold;
				}
			}
		}

		input.button {
			display: inline !important;

			&[value="New Registration"] {
				margin-top: 40px;
			}
		}
	}
}

// Attendee Info Tabs
#outer_table {
	ul.r-mobile.pagebreaks li {
		@media (min-width: 801px) {
			border: none; 
	
			a {
				text-decoration: none;
				background-color: $grey !important;
				transition: all .15s ease-in-out;
				border-radius: 0;
				border-right: 1px solid $white;
			}

			&.selected a,
			a:hover {
				background-color: $secondary !important;
				color: $black !important;
			}
		}
	}
}


/* $FORM SYTLES
============= */

.questionLabel {
	text-transform: inherit !important;
	padding: 0;
}

#outer_table table.r-standard > tbody tr {
	@include bp(lt-m) {
		padding: 0 !important;
	}
}

form {
	margin: 60px auto !important;
	
	@include bp(lt-m) {
		padding: 0 !important;
	}
}

.ereg {

	select {
	    padding-right: 25px !important;
	    border-radius: 0 !important;
	}
	
	input, textarea {
		border-radius: 0 !important;
	}

	input[type="text"] {
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	    line-height: 1 !important;
	}

	input[type="text"],
	select:not([class^=picker]) {
	    width: 100%;
 		max-width: 350px !important;

	    @media (max-width: 800px) {
			min-width: 100%;
	    }
	}

	textarea {
		padding: 10px;
	}

	input.button.r-button {
		transition: all 0.5s;
		@extend %btn;
	}
}

a[href*="printrecord"] {
	text-decoration: none !important;

	input {
		transition: all 0.5s;
	}
}

html td.questionInput {
 	select:not([class^=picker]), 
 	input, 
 	textarea {
	 	border-color: $form-border;
 	}
}

.red,
.redLabel {
	color: $error !important;
}

table[data-questiontype="3"].questionLabelLeft {
 	position: relative;

 	.questionLabel {
 		width: 90% !important;
 		text-align: left;

 		@include bp(m) {
 			width: 95% !important;
 		}
 	}

 	.questionInput {
 		@include bp(lt-m) {
 			position: absolute;
 			right: 3px;
 			top: 8px;
 			width: 30px !important;

 			.checkbox-container {
 			 	margin: 0 !important;
 			}
 		}
 	}
 }

.ereg .picker__box {
    padding: 1em;
}

.travel-section-container {
	td[width="175"] {
		display: none;
	}

	b {
		font-size: 22px;
		margin-bottom: 20px;
		display: block;
	}
}

/* $TABLE STYLES */
.needs-table-color,
tr.needs-table-color,
.needs-tablerowcolor1,
.needs-tablerowcolor2,
tr.needs-table-color .header {
    background: $white !important;
}

tr.needs-table-color .header {
    border-bottom: 4px solid $primary;
    padding: 15px !important;
    text-align: left;

    b {
    	font-size: 22px;
    }
}

.r-table,
.reg-record-display,
.agenda-day-container {
	> tbody > tr.needs-table-color ~ tr > td {
   		border-bottom: 1px solid $light-grey;
   		vertical-align: baseline;
	}

	td.questionInput, 
	td.questionLabel {
	    height: auto !important;

	    input[type="checkbox"] {
	    	margin-top: 4px !important;
	    }
	}
}

.agenda-day-container + .agenda-day-container {
	margin-top: 24px;
}

.r-table,
.reg-record-display {
    border-bottom: 0 !important;
    margin-top: 24px;

    @media (max-width: 800px) {
    	td {
    		display: block !important;
    		width: 100% !important;
    	}
    }
}

/* $REGRECORD */
.record {
	.r-table td {
		padding: 12px;
	}
	// center headers in tables on reg record page otherwise the odd number of cells per table misaligns them
	tr.needs-table-color .header {
		text-align: center;
	}

	.r-table,
	.reg-record-display {
	    border-bottom: 0 !important;
	    margin-top: 24px;

	    @media (max-width: 800px) {
	    	tr, 
	    	td {
	    		display: block !important;
	    		width: 100% !important;
	    		font-size: 16px !important;
	    	}

	    	tr {
	    		border-bottom: 1px solid #dadada !important;
	    		padding: 12px 0 !important;
	    	}
	    }

	}

	.btn-lobby {
	    display: inline-block;
	}
}


/* $FOOTER
============= */

#inner_content {
	.footer-content-container {
		padding: 0 !important;
	}

	footer {
		background-color: $black;
		padding: 40px 20px;
	    margin: 60px -20px -20px;
	    position: relative;
	    z-index: 1;

	    @include bp(s) {
	    	padding: 60px 40px;
	    }

	    @include bp(m) {
	    	margin-left: -40px;
	    	margin-right: -40px;
	    }

	    // &:before {
	    // 	content: "";
	    // 	width: 100%;
	    // 	height: 150px;
	    // 	position: absolute;
	    // 	background: $primary;
	    // 	z-index: -1;
	    // 	top: -110px;
	    // 	left: 0;
	    // 	transform-origin: right bottom;
	    // 	transform: skewY(-4deg);
	    // }

	    * {
	    	color: $white !important;
	    }

	    p {
	    	color: white;
	    	font-weight: 400;
	    	font-size: 14px !important;
	    	margin: 0;
	    }
	}
}

#outer_table .linkSnippetVersion {
	background-color: $white; 
	padding: 13px 0 15px !important;
    border-top: 1px solid $grey !important;

    > table {
    	max-width: 1170px;
    	margin: 0 auto;
		padding: 0 20px !important;
    }
}

.poweredBy {
  	padding: 0 !important; 
}

.topBar img {
    float: left;
}

.topBar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #ffffff;
    padding: 0px 40px;
}

.topBar-inner {
	max-width: 1020px;
	width: 100%;
	display: block;
	margin: auto;
}

.logo-img-container img {
    width: 100%;
}

table#attendee_information > tbody > tr > td:nth-child(1), 
table#attendee_selections > tbody > tr > td:nth-child(1) {
    text-align: left;
}

.newreg form#form td:empty {
    display: none;
}

input:hover, input:focus, input:active {
    outline: none !important;
}

.topBarInner {
    max-width: 1020px !important;
    width: 100% !important;
    display: block;
    position: relative;
    margin: auto;
}

.topBar .topBarInner img {
	width: 110px; 
	padding: 24px 0px;
}

@media screen and (min-width: 768px) {

	.newreg form#form > .questionLabelAbove {
		width: 48% !important;
		float: left;
	}

	.topBar .topBarInner img {
		width: 110px; 
		padding: 30px 0px;
	}

}

.newreg td#inner_content > table > tbody > tr > td[width="175"] {
    max-width: 300px !important;
    width: 100%;
}

.newreg td#inner_content > table > tbody > tr > td[width="175"] + td {
    width: 100% !important;
	margin-left: 40px;
}

td#inner_content > table > tbody > tr {
    display: flex;
    flex-flow: row;
}

.leftSide {
    padding: 40px;
    background: #f2f2f2;
}

#inner_content .leftSide h3 {
    margin: 5px 5px !important;
    font-size: 20px !important;
}

.leftSide p {
    margin: 5px 0px;
}

.questionContainer.questionLabelRight > tbody > tr > td:nth-child(1) {
    width: 20px !important;
}

.questionContainer.questionLabelAbove > tbody > tr:nth-child(2) > td > input[type="text"],
.questionContainer.questionLabelAbove > tbody > tr:nth-child(2) > td > select {
	width: 100% !important;
}

.questionContainer.questionLabelAbove > tbody > tr:nth-child(2) > td > select {
	height: 42px;
}

select#countrycodes_mphone {
    width: 82px !important;
}

input#mphone {
    width: 160px !important;
}