// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-reg: 801px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$red: #a8000b;
$amber: #e8a215;
$green: #008580;

$primary: #009EC9;
$darker-primary: #0095BD;

$secondary: #375778;

$darker-secondary: #254669;
$link-blue: #1175b5;

$black: #232323;
$white: #ffffff;

$grey: #ECECEC;
$dark-grey: #BFC0BA;
$light-grey: #f2f2f2;


$form-border: rgba($black,0.5);
$hero-gradient: linear-gradient(-45deg,rgba(244,244,244,1) 0,rgba(244,244,244,1) 100%);
$links: $primary;
$custom-link: $link-blue;


$success: $green;
$error: $red;

// fonts
$font-stack: 'Roboto',sans-serif;
$font-primary: "Roboto","sans-serif";
$font-title: 'Roboto', $font-primary;
$icon-font: FontAwesome;

// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';

$header-height: 80px;
$header-height-mobile: 60px; 