@import "fonts";
@import "variables";
@import "mixins"; 

::selection {
	background: $secondary !important;
	color: inherit;
	text-shadow: none;
}

 .sponsor-widget {
 	padding: 0;

 	.sponsor-item-container {
		@include bp(xs) {
			width: 50%; 
		}

		@include bp(s) {
			width: 25%;
		}
 	}

 	div.sponsor-item {
 		.sponsor-img-wrap {
 			div.sponsor-img-wrap-inner-div {
				border: 1px solid $light-grey;
				box-shadow: none;

				img {
					max-width: 100%;
				}
 			}
 		}

 		.item-content {
 			h3.sponsor-name {
 				color: $black; 
 				font-family: $font-primary; 
 				font-weight: 300;
 				margin: 0;
 				font-size: 20px;
 			}

 			a.more-link {
 				font-family: $font-primary;
 				color: $black; 
 				font-size: 18px;
 				font-weight: 600;
 				margin: 10px 0 20px;
			    display: inline-block;
			    position: relative;
			    padding-left: 25px;
			    // text-decoration: none;
			    // transition: all .2s ease-out;

			    &:before {
			    	font-family: $icon-font;
			    	content: '\f054';
			    	color: $primary; 
			    	margin-right: 10px;
			    	position: absolute;
			    	left: 0;
			    	top: 0;
			    }

			    // &:hover {
			    // 	transform: translateX(20px);
			    // }
 			}
 		}
 	}
 }
