.btn-secondary {
    font-family: $font-headings;
}

p {
    font-family: $font-primary;
}

.img-full img {
    width: 100%;
    display: block;
    
    @include bp(lt-s) {
        margin-bottom: 40px;   
    }
}