// FONTS EU
@font-face {
    font-family: 'OpenSans-Light';
    src: url('https://au-admin.eventscloud.com/docs/100007765/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('https://au-admin.eventscloud.com/docs/100007765/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('https://au-admin.eventscloud.com/docs/100007765/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

// fonts
$font-stack: 'OpenSans-Regular', sans-serif, Helvetica, Arial;
$font-primary: 'OpenSans-Regular', sans-serif, Helvetica, Arial;
$font-bold: "OpenSans-Bold", sans-serif, Helvetica, Arial;
$font-headings: 'OpenSans-Bold', sans-serif, Helvetica, Arial;
$font-cursive: 'Caveat', sans-serif, Helvetica, Arial;
$font-menu: $font-primary;
$icon-font: "Font Awesome 5 Free";