html {
    scroll-behavior: smooth;

    :focus {
        outline: none;
    }

    body {
        background: #ffffff;

        header {
            #ipBlock-header {
                .ipWidget-Container {
                    @include bp(lt-s) {
                        &:last-child {
                            position: absolute;
                            width: 100%;
                            top: 0;
                        }
                    }


                    #hero {
                        height: 70vh;

                        .row.clearfix {
                            display: flex;
                            flex-flow: row;
                            height: 100%;
                            justify-content: flex-start;
                            align-items: flex-start;
                            padding-bottom: 40px;
                            padding-top: 40px;

                            @include bp(lt-s) {
                                align-items: center;
                            }

                            .column {
                                width: 100%;
                                z-index: 10;

                                @include bp(l) {
                                    width: 70%;
                                    margin-top: 30px;
                                    margin: auto;
                                }

                                
                                .ipBlock {
                                    p {
                                        color: $white;
                                        font-family: $font-primary;
                                        text-transform: uppercase;
                                        font-size: 18px;
                                    }

                                    h1 {
                                        color: $white;
                                        font-family: $font-headings;
                                        font-weight: 600;
                                        font-size: 28px;
                                        margin-top: 0px;

                                        @include bp(l) {
                                            font-size: 45px;
                                        }

                                        span {
                                            font-size: 28px;
                                        }
                                    }

                                    h3 {
                                        color: $white;
                                        font-family: $font-cursive;
                                        font-weight: 400;

                                        @include bp(l) {
                                            font-size: 52px;
                                            font-weight: 400;
                                        }
                                    }

                                    .button {
                                        border-radius: 0px;
                                        padding: 18px 40px 18px 40px;
                                        margin-top: 30px;
                                    }
                                }
                            }
                        }
                    }

                    #menu {
                        .row {
                            .column {
                                .ipBlock {
                                    nav {

                                        border: none;

                                        .container-fluid {
                                            .navbar-header {
                                                .navbar-brand {
                                                    padding-left: 0px;
                                                }
                                            }

                                            .navbar-collapse {
                                                ul {
                                                    li {
                                                        &:last-child {
                                                            background: #ffffff;
                                                    
                                                            a {
                                                                color: #003781;

                                                                &:hover {
                                                                    color: #ffffff;
                                                                }
                                                            }

                                                            &:hover {
                                                                a {
                                                                    color: #ffffff;
                                                                }
                                                            }

                                                            @include bp(l) {
                                                                margin-left: 20px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }



                    // #navigation-bar {
                    //     padding: 0px 0px;
                    //     margin-top: -1px;
                    //     z-index: 1000;

                    //     @include bp(lt-s) {
                    //         padding: 0px;
                    //         margin-top: 0px;
                    //     }

                    //     .row {
                    //         @include bp(lt-s) {
                    //             display: flex;
                    //             flex-flow: row;
                    //         }

                    //         #nav-logo {
                    //             padding: 16px 12px;

                    //             @include bp(lt-s) {
                    //                 position: absolute;
                    //                 z-index: 10;
                    //                 width: 50%;
                    //                 padding: 16px 34px;
                    //             }
                    //         }

                    //         .navbar {
                    //             #primary-menu-collapse {
                    //                 z-index: 100;
                    //                 position: relative;

                    //                 .navbar-nav {
                    //                     li {
                    //                         @include bp(s) {
                    //                             padding: 10px 6px;
                    //                         }

                    //                         a {
                    //                             transition: all 0.4s ease;
                    //                             font-family: $font-headings;
                    //                             font-weight: 600;

                    //                             &:hover {
                    //                                 &:after {
                    //                                     @include bp(s) {
                    //                                         content: "";
                    //                                         background-color: inherit;
                    //                                         border-bottom: 4px solid;
                    //                                         border-bottom-color: inherit;
                    //                                         position: absolute;
                    //                                         height: 26.2px;
                    //                                         width: 100%;
                    //                                         left: 0px;
                    //                                     }
                    //                                 }
                    //                             }
                    //                         }



                    //                         &:last-child {
                    //                             background: #c70071;

                    //                             a {
                    //                                 &:hover {
                    //                                     color: $white;

                    //                                     &:after {
                    //                                         @include bp(s) {
                    //                                             border-bottom: 0px solid;
                    //                                         }
                    //                                     }
                    //                                 }
                    //                             }
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }

                    //     &.sticky {
                    //         position: fixed;
                    //         z-index: 1000;
                    //         top: 0;
                    //         width: 100%;
                    //     }
                    // }

                }

                .ipWidget-MenuWidget {
                    .navbar-collapse {
                        .navbar-nav {
                            padding: 0px;

                            li {
                                a {
                                    font-family: $font-primary;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }


        main {

            .row.clearfix {
                padding-left: 25px;
                padding-right: 25px;

                @include bp(lt-s) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            .section-heading {
                &.first-section {
                    padding: 0px 30px 20px 30px;
                }

                padding: 80px 30px 20px 30px;

                @include bp(l) {
                    padding: 50px 30px 20px 30px;
                }

                h1 {
                    font-family: $font-headings;
                    font-size: 40px;
                    margin-bottom: 20px;
                    margin-top: 0px;

                    @include bp(l) {
                        font-size: 60px;
                    }

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                h2 {
                    font-family: $font-headings;
                    font-size: 40px;
                    margin-bottom: 20px;
                    margin-top: 0px;

                    @include bp(l) {
                        font-size: 40px;
                    }

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                h1+p {
                    margin-top: 40px;
                }

                h4 {
                    font-family: $font-cursive;
                    font-weight: 400;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 15px;

                    span {
                        background: #FFF;
                        padding: 0 15px;
                    }

                    &:before,
                    &:after {
                        border-top: 1px solid;
                        border-top-color: inherit;
                        content: "";
                        margin: 0 auto;
                        position: absolute;
                        top: 12px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        width: 50%;
                    }

                }

                p {

                    .fa,
                    .far,
                    .fas {
                        font-size: 40px;
                    }
                }
            }

            .bg-section {
                .section-heading {
                    padding: 50px 30px 50px 30px;
                }
            }
            

            .section-content {
                margin: 20px 0px 20px 0px;

                @include bp(l) {
                    margin: 100px 0px 50px 0px;
                }

                .sec-col-img {
                    @include bp(lt-s) {
                        padding-bottom: 30px;
                    }
                }



                p {
                    font-family: $font-primary;
                    font-weight: 400;


                    .fa,
                    .far,
                    .fas {
                        font-size: 40px;
                    }

                }

                .center {
                    text-align: center;
                }
            }

            #welcom-section-content {
                &.section-content {
                    margin: 20px 0px 20px 0px;

                    @include bp(l) {
                        margin: 50px 0px 50px 0px;
                    }
                }
            }

            #counter-section {
                position: relative;
                margin: 80px 0px 50px 0px;

                .counter {
                    font-size: 60px;
                    font-family: $font-headings;
                    color: $white;
                    font-weight: 600;
                    position: relative;
                    z-index: 10;

                    @include bp(lt-m) {
                        font-size: 30px;
                    }
                }

                .counter-label {
                    font-size: 25px;
                    font-family: $font-headings;
                    color: $white;
                    font-weight: 600;
                    position: relative;
                    z-index: 10;

                    @include bp(lt-s) {
                        display: block;
                    }

                    @include bp(lt-m) {
                        font-size: 18px;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    background: radial-gradient(ellipse, rgba(15, 14, 22, 0.2), #100e17);
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            #speaker-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                .ipWidget-Speaker {
                    margin-top: 35px;
                }
            }

            #agenda-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                .ipWidget-Agenda {
                    margin-top: 35px;
                    margin-bottom: 40px;

                    .etouches-widget {
                        padding: 10px;
                        border: 8px;
                        border-style: double;

                        @include bp(l) {
                            padding: 40px;
                            border: 8px;
                            border-style: double;
                        }
                    }
                }

                .agenda-section {

                    > div {
                        &:nth-child(3) {
                            border-top: 1px solid #cccccc;
                        }
                    }
                    .agenda-header {
                        h1,h2,h3 {
                            font-family: $font-headings;
                        }
                    }

                    .session-group {
                        .session-time {
                            font-family: $font-headings;
                            span {
                                font-family: $font-headings;
                            }
                        }
                        .session-title {
                            a {
                                h4 {
                                    font-family: $font-primary;
                                }
                            }
                        }
                        .session-description {
                            font-family: $font-primary;
                            .speaker-box {
                                display: flex;
                                flex-flow: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-wrap: wrap;
                                margin-top: 20px;
                                .speaker {
                                    flex: 1 0 50%;
                                    margin-bottom: 10px;;
                                    .speaker-details {
                                        padding: 15px;
                                        background: #eeeeee;
                                        h4 {
                                            font-family: $font-primary;
                                            margin: 0px;
                                        }
                                        p {
                                            font-family: $font-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .pricing-section,
            #pricing-section,
            #tickets-section,
            .tickets-section {
                background: $grey;
                padding: 80px 15px;

                .section-heading {
                    padding: 0 30px 30px 30px;

                    .column {
                        padding: 20px 0px;

                        .ipBlock {
                            border: none !important;
                        }
                    }
                }

                .row:not(.section-heading) {
                    .column {
                        padding: 20px 20px;



                        .ipBlock {
                            border: 1px solid $grey;
                            border-radius: 25px;
                            padding: 30px 0;

                            h2 {
                                font-size: 40px;
                                padding: 15px 0;
                                margin: 0;
                                font-weight: bold;
                            }

                            h3 {
                                padding: 0;
                                margin: 0;
                                font-size: 24px;
                                line-height: 100%;
                            }

                            h4 {
                                padding: 0 0 15px;
                            }

                            hr {
                                border-top: 1px solid $grey;
                                margin-bottom: 30px;
                                margin-top: 30px;
                            }

                            ul {
                                list-style-type: none;
                                margin: auto;
                                padding: 0 20px;

                                li {
                                    color: $grey;
                                    padding-bottom: 10px;

                                    &:last-child {
                                        padding-bottom: 0;
                                    }
                                }
                            }

                            .ipWidget {
                                padding: 15px;
                            }





                            .ipWidget-Buttons {
                                .row {
                                    margin: 0;
                                    padding: 15px 0 0 0;

                                    button {
                                        margin: 0;

                                        &.btn {
                                            display: inline-block;
                                            vertical-align: middle;
                                            -webkit-transform: perspective(1px) translateZ(0);
                                            transform: perspective(1px) translateZ(0);
                                            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                                            position: relative;
                                            -webkit-transition-property: color;
                                            transition-property: color;
                                            -webkit-transition-duration: 0.3s;
                                            transition-duration: 0.3s;

                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            padding: 0 20px 0;

                            .ipBlock {
                                padding: 60px 0;
                            }
                        }
                    }
                }

            }

            #app-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;

                    }
                }

                .app-buttons {
                    .ipBlock {
                        @media (max-width: 767px) {
                            padding-top: 30px;
                        }
                    }

                    img {
                        max-width: 100% !important;
                        height: auto !important;
                    }
                }

                #mobile-image {
                    img {

                        @include bp(lt-s) {
                            margin: auto;
                            display: block;
                            margin-bottom: 40px;
                        }
                    }
                }

                #app-store-btns {

                    @include bp(lt-s) {
                        margin: 40px 0px;
                    }

                    img {

                        @include bp(lt-s) {
                            margin: auto;
                            display: block;
                        }
                    }
                }
            }

            #sponsor-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;

                    }
                }

                #sponsor-logo-row {

                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    img {
                        width: 80%;
                        display: block;
                        height: auto;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }

            #testimonials-section {
                h1 {
                    margin-top: 0px;

                    @include bp(lt-s) {
                        margin-bottom: 20px;

                    }
                }

                .testimonial-box {
                    margin-top: 10px;
                    padding: 0px 20px 20px 20px;
                    display: inline-block;
                    margin: 0px 10px;

                    @include bp(lt-s) {
                        margin-bottom: 40px;
                    }

                    article {
                        position: relative;
                        margin: 0 0 13px;
                        padding: 40px 30px;
                        text-align: center;
                        background-color: #f3f5f6;

                        &:before {
                            position: absolute;
                            bottom: -30px;
                            left: 48px;
                            width: 0;
                            height: 0;
                            content: "";
                        }

                        &:after {
                            position: absolute;
                            bottom: -30px;
                            left: 48px;
                            width: 0;
                            height: 0;
                            content: "";
                            border-style: solid;
                        }

                        &:after {
                            margin: 0 0 4px 3px;
                            border-width: 0 26px 26px 0;
                            border-color: transparent #f3f5f6 transparent transparent;
                        }
                    }

                    .person-info {
                        position: relative;
                        padding: 17px 0 0 93px;
                        min-height: 70px;
                        text-align: left;
                        line-height: 20px;

                        .person-img {
                            img {
                                margin-top: 20px;
                                margin-right: 15px;
                                width: 60px;
                                height: 60px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 50%;
                            }
                        }

                        .person-name {
                            strong {
                                display: inline-block;
                                width: 100%;
                                font-size: 13px;
                                text-transform: uppercase;
                                letter-spacing: 0.2em;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #333333;
                            }
                        }
                    }
                }
            }

            #map-section {
                margin-top: 0px;

                .row {
                    max-width: 100%;
                    width: 100%;

                    .column {
                        width: 100%;
                        padding: 0px;

                        p {
                            line-height: 0px;

                            iframe {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            #faq-section {


          
                 
                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }

                /* Accordion styles */
                .tabs {
                    border-radius: 8px;
                    overflow: hidden;
                    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
                    margin: 40px 0px;
                    font-family: $font-primary;
                }

                .tab {
                    width: 100%;
                    color: white;
                    overflow: hidden;

                    &-label {
                        display: flex;
                        justify-content: space-between;
                        padding: 1em;
                        background: $primary;
                        font-weight: bold;
                        cursor: pointer;
                        margin-bottom: 0;


                        /* Icon */
                        &:hover {
                            background: darken($primary, 10%);
                        }

                        &::after {
                            content: "\276F";
                            width: 1em;
                            height: 1em;
                            text-align: center;
                            transition: all .35s;
                        }
                    }

                    &-content {
                        max-height: 0;
                        padding: 0 1em;
                        color: $primary;
                        background: white;
                        transition: all .35s;
                    }

                    &-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;
                        background: $primary;
                        cursor: pointer;

                        &:hover {
                            background: darken($primary, 10%);
                        }
                    }
                }

                // :checked
                input:checked {
                    +.tab-label {
                        background: darken($primary, 10%);

                        &::after {
                            transform: rotate(90deg);
                        }
                    }

                    ~.tab-content {
                        max-height: 100vh;
                        padding: 1em;
                    }
                }

            }


            .custom-speakers {
                margin: 50px 0px 0px 0px;

                .row {
                    .col-xs-12 {
                        display: flex;
                        flex-flow: row;
                        flex-wrap: wrap;
                        align-items: center;

                        .speaker {
                            margin-bottom: 55px;

                            @include bp(lt-s) {
                                padding: 0px;
                            }

                            .speaker-box {
                                padding: 20px;
                                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
                                display: table;
                                transition: all 0.2s ease-in;
                                width: 100%;

                                .image-wrap {
                                    padding-left: 0px;
                                    padding-right: 0px;

                                    img {
                                        border-radius: 50%;
                                        width: 115px;
                                        transition: all 0.2s ease-in-out;
                                        position: absolute;
                                        margin: auto;
                                        left: 0;
                                        right: 0;

                                        @include bp(lt-s) {
                                            width: 80px;
                                        }
                                    }
                                }

                                .content-wrap {
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    @include bp(lt-s) {
                                        padding-left: 20px;
                                    }

                                    .speaker-name {
                                        margin-top: 0px;
                                        font-family: $font-headings;
                                        font-weight: 600;

                                    }

                                    .speaker-title {
                                        font-family: $font-headings;
                                        font-size: 14px;
                                        font-weight: 600;
                                        margin: 0px;
                                    }

                                    .speaker-bio {
                                        display: none;
                                        font-family: $font-headings;
                                        font-size: 14px;
                                    }

                                    .show-more-info {
                                        position: absolute;
                                        right: 0;
                                        top: 0;

                                        &:after {
                                            font-family: $icon-font;
                                            content: '\f107';
                                            transform: rotate(0deg);
                                            display: block;
                                            transition: all 0.1s ease-in-out;
                                            font-weight: 600;
                                            font-size: 20px;
                                        }
                                    }
                                }

                                .bio-cta {
                                    display: block;
                                    position: absolute;
                                    width: 130px;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    font-size: 12px;
                                    font-weight: 600;
                                    background: #ffffff;
                                    text-align: center;
                                    margin: 0 auto;
                                    top: 93px;
                                    border: 1.5px solid #414141;
                                    display: none;
                                    transition: all 0.2 ease-in-out;

                                    p {
                                        margin: 0px;
                                    }
                                }

                                &:hover {
                                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
                                    cursor: pointer;

                                    .image-wrap {
                                        img {
                                            width: 80%;
                                        }
                                    }

                                    .bio-cta {
                                        display: block;
                                    }
                                }

                                @include bp(lt-s) {
                                    &:hover {
                                        .bio-cta {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        .speaker.show-description {
                            .speaker-box {
                                .content-wrap {
                                    .show-more-info {
                                        &:after {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }

                                &:hover {
                                    .bio-cta {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        footer {
            padding: 40px 0px;

            #footer-section {
                padding: 0px;
                background: #414141;

                .ipWidget {
                    ul {
                        list-style-type: none !important;
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }

                .footer-links-list {
                    @media (max-width: 767px) {
                        text-align: center;
                    }

                    .ipWidget {
                        ul {
                            list-style-type: none !important;
                            padding: 0px;
                            margin: 0;

                            li {
                                a {
                                    color: $white;
                                }

                                @include bp(lt-s) {
                                    text-align: center;
                                }
                            }

                            @include bp(lt-s) {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }

                .copyright-text {
                    P {
                        color: $white
                    }

                    @include bp(lt-s) {
                        margin-bottom: 30px;
                    }
                }

                .social-icons {
                    p {
                        display: flex;
                        flex-flow: row;
                        justify-content: center;

                        i {
                            &.fab {
                                color: $white;
                                padding: 0px 15px;
                                font-size: 18px;
                            }
                        }
                    }

                    @include bp(lt-s) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.column.col-xs-12.col-md-4.col-sm-4.footer-link-list {
    @media (max-width: 767px) {
        text-align: center;
        padding-bottom: 15px;
    }
}

.map-section {
    padding: 0;
}


.ipHasAdminPanel {
    .map-section {
        background: url(https://ps-eventscloud-com.s3.amazonaws.com/_internal-projects/website-designs/dubai-design/images/google-map.png) no-repeat center center;

        // editor udpate
        .ipBlock {
            min-height: 255px;
        }
    }
}

#map {
    max-height: 450px;
}

.btn-secondary,
.btn-primary,
ul,
li {
    font-family: $font-primary !important;
}

.flex-div {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 40px;

    @inclu
    
    de bp(lt-s) {
        flex-flow: column;
    }
}

.flex-div > div {
    margin: auto;
    text-align: center;
}

select {
    font-family: $font-primary !important;
    option {
        font-family: $font-primary !important;
    }
}