// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
// $primary: #310b49; 
$primary: #ED0C06;
$secondary: #18249C;
$black: #000;
$white: #FFFFFF;
$grey: #222222;
$mid-grey: #9B9B9B;
$light-grey: #f2f2f4;
$links: #C70071;
$red: #B30000;
$nav-hover: $links;
$form-border: $light-grey;
$error: $red;

$font-stack: Arial, sans-serif;
$font-primary: 'MarkOT-Reg' , $font-stack;
$font-bold: 'MarkOT-Bold' , $font-primary;
$font-headings:  'MarkOT-Book' , $font-primary;
//$font-cursive: 'Caveat', sans-serif, Helvetica, Arial;
// $font-menu: $font-primary;
$icon-font: "fontAwesome";
$icon-font-1: 'Font Awesome 5 Free' !important;
// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';