body {
    &.website:not(.ipHasAdminPanel) {

        header {
            .hero-image {

                // Fix issues in backend
                // body.website:not(.ipHasAdminPanel) & {
                position: fixed;
                top: 80px;
                left: 0;
                width: 100%;
                // height: 350px;
                background-position: center center;
                z-index: -1;

                // @include bp(m) {
                //     height: 560px;
                // }

                // @include bp(lt-m) {
                //     top: $header-height-mobile;
                // }

                // &:before {
                //     content: '';
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     // background: $primary;
                //     opacity: 0.5;
                // }
            }

            // }
        }

        //Website Styling
    }

    &.ipHasAdminNavbar.ipHasAdminPanel {
        //Website Builder UI
    }

    // %radial-gradient {
    //     &:after {
    //         content: '';
    //         position: absolute;
    //         background: radial-gradient(ellipse, rgba($grey, 0.2), $black);
    //         bottom: 0;
    //         width: 100%;
    //         height: 100%;
    //         left: 0;
    //     }
    // }

    &.website {

        header {


            #hero {
                @extend %radial-gradient;
                display: flex;
                flex-flow: row;
                height: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .row.clearfix {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    &.banner-btn-wrap {
                        width: auto;

                        @include bp(lt-s) {
                            flex-direction: column;
                        }

                        & > div {
                            padding: 0;
                        }
                    }   
                    .column {
                        width: 100%;
                        z-index: 9;

                        @include bp(l) {
                            width: 65%;
                        }

                        .ipBlock {
                            .ipWidget-CKEditor {
                                p {
                                    color: $white !important;
                                    font-family: $font-primary !important;
                                    font-size: 16px !important;
                                    margin: 0 0 5px;
                                }

                                h1 {
                                    color: $white !important;
                                    font-family: $font-primary !important;
                                    font-weight: 900 !important;
                                    font-size: 50px !important;
                                    margin-top: 0px;

                                    @include bp(l) {
                                        font-size: 58px !important;
                                    }
                                    @include bp(lt-xs) {
                                        font-size: 36px !important;
                                    }
                                }

                                h3 {
                                    color: $white !important;
                                    font-family: $font-headings !important;
                                    font-weight: 400 !important;
                                    margin: 0 0 25px;

                                    @include bp(l) {
                                        font-size: 32px !important;
                                    }
                                    @include bp(lt-xs) {
                                        font-size: 20px !important;
                                    }
                                }
                            }

                            .btn {
                                margin-top: 30px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .ipWidget-MenuWidget {
                nav.menu-widget.navbar {
                    background: $white !important;
                    border: none !important;
                    z-index: 10;

                    &.navbar-fixed-top {
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    }

                    .container-fluid {
                        max-width: 1170px;
                    }

                    .collapse.navbar-collapse {
                        padding-left: 0px;
                        padding-right: 0px;
                    }

                    .navbar-brand {
                        padding: 0 !important;
                    }

                    .navbar-toggle {
                        background: darken($primary, 15%) !important;
                        color: $white !important;
                        border-color: darken($primary, 15%) !important;

                        &.collapsed {
                            background: $primary !important;
                            border-color: $primary !important;
                        }
                    }

                    ul.navbar-nav {
                        @include bp(lt-m) {
                            width: 100% !important;
                            text-align: center !important;
                            margin: 0 !important;
                            padding: 10px !important;
                        }

                        li {

                            @include bp(m) {
                                padding: 0 !important;
                            }

                            a {
                                transition: all 0.4s ease;
                                font-family: $font-headings;
                                font-weight: normal;
                                font-size: 16px !important;
                                color:$grey;

                                @include bp(lt-m) {
                                    padding: 10px !important;
                                }

                                &:hover {
                                    background: transparent !important;

                                    &:after {
                                        @include bp(m) {
                                            content: "";
                                            background-color: transparent;
                                            border-bottom: 3px solid $grey;
                                            position: absolute;
                                            height: 3px;
                                            width: 100%;
                                            left: 0px;
                                            bottom: 0;
                                        }
                                    }
                                }
                            }

                            &.active {
                                a {
                                    background: transparent !important;

                                    &:after {
                                        @include bp(s) {
                                            content: "";
                                            background-color: transparent;
                                            border-bottom: 3px solid $grey;
                                            position: absolute;
                                            height: 3px;
                                            width: 100%;
                                            left: 0px;
                                            bottom: 0;
                                        }
                                    }
                                }
                            }



                            &.register {
                                background: $primary;
                                &:hover {
                                    background: darken($primary, 15%);
                                }        
                                a {

                                    color:$white;                                
                                    &:hover {
                                        color: $white;

                                        &:after {
                                            @include bp(s) {
                                                border-bottom: 0px solid;
                                            }
                                        }
                                    }
                                }
                            }
                            &.virtual-login{
                                background: $secondary;
                                &:hover {
                                    background: darken($secondary, 15%);
                                }        
                                a {

                                    color:$white;                                
                                    &:hover {
                                        color: $white;

                                        &:after {
                                            @include bp(s) {
                                                border-bottom: 0px solid;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        main {
            position: relative;
            z-index: 1;
            background: $white;

            ._nestedContainer {
                padding: 50px 30px 30px 30px;

                &#faqs{
                    padding-bottom: 140px;
                }
                &.accordion-section{
                  //  padding-top: 0;
                }

                @include bp(l) {
                    padding: 80px 30px 80px 30px;
                }

                @include bp(lt-s) {
                    padding: 40px 5px 40px 5px;
                }
            }

            .column {
                @include bp(lt-s) {
                    padding: 10px 20px !important;
                }
            }


            .section-heading {
                padding: 30px;

                &:before {
                    //section icon
                    font-size: 45px;
                    font-weight: 900;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    font-family: $icon-font-1 ;
                    text-align: center;
                }

                .ipWidget-CKEditor {
                    text-align: center;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: $primary !important;
                }

                h1 {
                    font-family: $font-headings !important;
                    font-size: 40px;
                    margin-bottom: 20px;
                    margin-top: 0px;

                    @include bp(l) {
                        font-size: 60px;
                    }

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                h2 {
                    font-family: $font-headings !important;
                    font-size: 40px;
                    margin-bottom: 20px;
                    margin-top: 0px;

                    @include bp(l) {
                        font-size: 60px;
                    }

                    @include bp(lt-s) {
                        margin-bottom: 20px;
                    }
                }

                h1+p {
                    margin-top: 40px;
                }

                h4 {
                    font-family: $font-bold !important;
                    font-weight: 400;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 15px;

                    span {
                        background: $white;
                        padding: 0 15px;
                    }

                    &:before,
                    &:after {
                        border-top: 1px solid;
                        border-top-color: inherit;
                        content: "";
                        margin: 0 auto;
                        position: absolute;
                        top: 12px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        width: 50%;
                    }

                }

                p {

                    .fa,
                    .far,
                    .fas {
                        font-size: 40px;
                    }
                }
            }

            #welcome-section {
                .section-heading {
                    &:before {
                        //microphone
                        content: "\f130";
                        padding-bottom: 30px;
                    }
                }
            }

            #speakers-section {
                .section-heading {
                    &:before {
                        content: "\f0c0";
                        padding-bottom: 30px;
                    }
                }
            }

            #agenda-section{
                background-color: rgba(34, 34, 34, 0.05);
                padding-bottom: 0;
                .section-heading {
                    &:before {
                        content: "\f022";
                        padding-bottom: 30px;
                    }
                }
               
            }

            #agenda-sub{
                background-color: rgba(34, 34, 34, 0.05);
                padding-top: 0;
            }

            #tickets-section {
                .section-heading {
                    &:before {
                        content: "\f155";
                        padding-bottom: 30px;
                    }
                }
            }

            #app-section {
                .section-heading {
                    &:before {
                        content: "\f3cd";
                        padding-bottom: 30px;
                    }
                }

                .app-buttons {
                    img {
                        width: 100% !important;
                        height: auto !important;
                        max-width: 225px;

                        @include bp(lt-s) {
                            max-width: inherit;
                        }
                    }
                }
            }

            #gallery-section {
                .section-heading {
                    &:before {
                        content: "\f302";
                        padding-bottom: 30px;
                    }
                }
            }

            #testimonials-section {
                .section-heading {
                    &:before {
                        content: "\f086";
                        padding-bottom: 30px;
                    }
                }
            }

            #sponsors-section {
                .section-heading {
                    &:before {
                        content: "\f2b5";
                        padding-bottom: 30px;
                    }
                }
            }

            #faqs {
                    *{
                        color:#fff !important;
                    }            
                .col-sm-6 {
                    @include bp(lt-m) {
                        width: 100%;
                    }
                }
                .section-heading {
                    &:before {
                        content: "\f4ad";
                        padding-bottom: 30px;
                    }
                }
            }

            

            #counter-section {

                @extend %radial-gradient;

                .column {
                    padding: 10px;

                    .ipWidget-CKEditor {
                        text-align: center;
                        color: $white !important;
                        font-family: $font-headings !important;
                        font-weight: 600 !important;
                        position: relative;
                        z-index: 10;
                        font-size: 25px !important;

                        @include bp(lt-s) {
                            display: block;
                        }

                        @include bp(lt-m) {
                            font-size: 18px !important;
                        }


                        p {
                            color: $white !important;
                            font-family: $font-headings !important;
                            font-weight: 600 !important;
                            position: relative;
                            z-index: 10;
                            font-size: 25px !important;

                            @include bp(lt-s) {
                                font-size: 20px !important;
                            }
                        }




                        &:first-child>div {
                            font-size: 65px !important;
                            font-weight: 900 !important;
                            font-family: $font-headings !important;
                            display: inline-block !important;

                            @include bp(lt-m) {
                                font-size: 45px !important;
                            }
                        }
                    }
                }
            }

            .pricing-section,
            #pricing-section,
            #tickets-section,
            .tickets-section {
                background: $grey;
                padding: 80px 15px;

                h2 {
                    color: $white !important;
                }

                .section-heading {

                    h1,
                    h3,
                    h4,
                    h5,
                    h6,
                    p,
                    li {
                        color: $white !important;
                    }

                    &:before {
                        color: $white !important;
                    }

                }

                .column:not(.section-heading) {
                    padding: 20px 20px;

                    .ipBlock {
                        border: 1px solid lighten($grey, 5%);
                        border-radius: 25px;
                        padding: 30px 0;
                        box-shadow: 0px 0px 20px 10px rgba($black, 0.41);
                        -webkit-box-shadow: 0px 0px 20px 10px rgba($black, 0.41);
                        -moz-box-shadow: 0px 0px 20px 10px rgba($black, 0.41);
                        text-align: center;

                        .ipWidget.ipWidget-CKEditor {
                            div {
                                h2 {
                                    color: $white !important;
                                }
                            }
                        }

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p,
                        li {
                            color: $white !important;
                        }

                        h2 {
                            font-size: 60px;
                            padding: 15px 0;
                            margin: 0;
                            font-weight: bold;

                        }

                        h3 {
                            padding: 0;
                            margin: 0;
                            font-size: 24px;
                            line-height: 100%;
                        }

                        h4 {
                            padding: 0 0 15px;
                        }

                        hr {
                            border-top: 1px solid $grey;
                            margin-bottom: 30px;
                            margin-top: 30px;

                        }

                        ul {
                            list-style-type: none;
                            margin: auto;
                            padding: 0 20px;

                            li {
                                padding-bottom: 10px;

                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }
                        }

                        .ipWidget {
                            padding: 15px;
                        }

                        .ipWidget-Buttons {
                            .row {
                                margin: 0;
                                padding: 15px 0 0 0;

                                button {
                                    margin: 0;

                                    &.btn {
                                        display: inline-block;
                                        vertical-align: middle;
                                        -webkit-transform: perspective(1px) translateZ(0);
                                        transform: perspective(1px) translateZ(0);
                                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                                        position: relative;
                                        -webkit-transition-property: color;
                                        transition-property: color;
                                        -webkit-transition-duration: 0.3s;
                                        transition-duration: 0.3s;

                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        padding: 0 20px 0;

                        .ipBlock {
                            padding: 60px 0;
                        }
                    }
                }


            }

            .testimonials-section,
            #testimonials-section {
                .row:not(:first-child) {
                    .column {
                        .ipBlock {
                            overflow: hidden;
                            padding: 0 0 25px;
                        }

                        .ipWidget.ipWidget-CKEditor {
                            &:first-child {
                                background: lighten($primary, 37%) !important;
                                padding: 40px 30px;
                                text-align: center;
                                margin-bottom: 40px;
                                position: relative;

                                >div {
                                    &:after {
                                        margin: 0 0 4px 3px;
                                        border-width: 0 26px 26px 0;
                                        border-color: transparent lighten($primary, 37%) transparent transparent;
                                        position: absolute;
                                        bottom: -30px;
                                        left: 48px;
                                        width: 0;
                                        height: 0;
                                        content: " ";
                                        border-style: solid;
                                    }
                                }
                            }

                            &:last-child {
                                width: 67%;
                                float: left;

                                div {
                                    h4 {
                                        display: inline-block;
                                        width: 100%;
                                        font-size: 16px !important;
                                        text-transform: uppercase;
                                        letter-spacing: 0.1em;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        line-height: 120% !important;
                                        margin: 0 !important;
                                        padding-bottom: 5px !important;
                                    }

                                    p {
                                        font-size: 13px !important;
                                        line-height: 120% !important;
                                    }
                                }
                            }
                        }

                        .ipWidget-EImage {
                            float: left;
                            margin-top: 0;
                            margin-right: 15px;
                            width: 20% !important;
                            height: auto !important;
                            max-width: 60px;
                            top: 0;
                            left: 0;
                            border-radius: 50%;

                            img {
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }

            #map-section {
                padding: 0 !important;
                margin: 0 !important;

                .row {
                    max-width: unset !important;
                    width: 100%;

                    .column {
                        padding: 0 !important;

                        .ipWidget-CKEditor {
                            >div {
                                height: 450px;

                                @include bp(lt-m) {
                                    height: 250px;
                                }

                                iframe {
                                    @include bp(lt-m) {
                                        height: 250px;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }

        footer {
            padding: 40px 0px;
            background:$light-grey;

            #footer-section {
                padding: 0px;

                .col-xs-12{
                    @include bp(s) {
                        width: 33.33%;
                    }
                }

                .ipWidget {

                    color: $grey !important;

                    ul {
                        list-style-type: none !important;
                        padding: 0 !important;
                        margin: 0 !important;
                    }

                    a {
                        color: $grey !important;

                        &:hover{
                        color: $primary !important;
                        }
                    }
                }

                .footer-link-list {
                    @media (max-width: 767px) {
                        text-align: center;
                    }

                    .ipWidget {
                        ul {
                            list-style-type: none !important;
                            padding: 0px;
                            margin: 0;

                            li {
                                display: inline-block !important;

                                a {
                                    color: $grey !important;

                                    &:hover{
                                        color: $primary !important;
                                    }
                                }

                                @include bp(lt-s) {
                                    text-align: center;
                                }
                            }

                            @include bp(lt-s) {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }

                .copyright-text {
                    p {
                        color: $grey !important;
                        @include bp(lt-xs) {
                            text-align: center;
                            margin-top: 10px;
                        }    
                    }

                    @include bp(lt-s) {
                        margin-bottom: 15px;
                    }
                }

                .social-icons {
                    @include bp(lt-xs) {
                        padding-top: 15px;
                    }

                    p {
                        display: flex;
                        flex-flow: row;
                        justify-content: center;

                        i {
                            &.fab {
                                color: $grey;
                                padding: 0px 15px;
                                font-size: 25px;

                                &:hover{
                                        color: $primary !important;
                                }
                            }

                        }
                    }

                }
            }
        }

    }
}

.accordion-wrap{

    z-index: 2;
    top: -120px;

.accordion-section {

    max-width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    padding-top: 40px !important;
    padding-bottom: 25px !important;
        border-radius: 10px;

        @include bp(lt-m){
            width: calc(100% - 40px);
        }

    .column {
        border: 1px solid #eee;
        border-radius: 5px;
        margin-bottom: 15px;
        padding-bottom: 5px;

        &.active {
            border-color: rgba(24, 36, 156, 0.2);
        }

        > .ipBlock {
        padding: 12px 0;

        h3{
            font-size: 18px;
            margin: 5px 0 0;
            padding-right: 20px;
        }
    }
    }
    
    .column .ipBlock > .ipWidget:first-child div {
        cursor: pointer;
        
        &:after {
            content: "\f078";
            font-family: $icon-font-1;
            height: 100%;
            position: absolute;
            top: 5px;
                font-weight: 900;
                font-size: 16px;    
            display: block;
            right: 0;
        }
    }
    
    .column.selected .ipBlock > .ipWidget:first-child div:after {
        content: "\f068";
    }
    
    .column .ipBlock > .ipWidget:first-child {
        + .ipWidget {
            padding-top: 20px;
        }
        
        ~ .ipWidget {
            display: none;
        }
    }
    
}




// dont show in back end 
.ipHasAdminNavbar.ipHasAdminPanel .accordion-section .column .ipBlock > .ipWidget:first-child div:after {
    content: '';
}
}

