@import "fonts";
@import "variables";
@import "mixins";

::selection {
    background: $secondary;
    color: inherit;
    text-shadow: none;
}

.speaker-widget {
    .flex-item {
        margin: 20px !important;
        padding: 20px !important;
        border: 1px solid $light-grey !important;
        border-radius: 0;
        background-color: transparent;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        width:calc(33.33% - 40px);

        @include bp(lt-m) {
            width:calc(33.33% - 30px);
            margin: 15px !important;
        }

        @include bp(lt-xs) {
            width: calc(100% - 40px) !important;
        }
    }
}

.speaker-item {
    margin: 0 !important;
    width: 100%;

    .speaker-img-placeholder {
        border: none !important;
        filter: grayscale(1);

        @include bp(lt-m) {
            margin: 0 auto !important;
        }
    }

    .item-content {
    	 @include bp(m) {
    	 	padding-left: 10px;
    	 }
        @include bp(lt-s) {
            text-align: center !important;
        }

        .speaker-name {
            display: block;
            color: $grey !important;
            font-family: $font-headings !important;
            font-size: 18px !important;
            font-weight: bold !important;
            text-transform: uppercase !important;

            @include bp(lt-m) {
                font-size: 16px !important;
            }
        }

        .speaker-title {
            display: block;
            font-family: $font-primary !important;
            color: $grey !important;
            font-size: 14px !important;
            font-weight: normal;
            text-transform: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .comp-name {
            display: block;
            font-family: $font-primary !important;
            color: $grey !important;
            font-size: 12px !important;
            font-weight: bold;
            text-transform: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .more-btn {
            display: inline-block;
            background-color: $primary !important;
            color: $white !important;
            border-color: $primary !important;
            border-radius: 0;
            border-width: 2px;
            font-family: $font-primary !important;
            font-size: 12px;
            font-weight: bold;
            padding: 2px 10px;

            &:hover{
             background-color: darken($primary, 10%) !important;
             border-color: darken($primary, 10%) !important;
            }
        }
    }
}


#myModal.modal .modal-dialog {
    .modal-content {

        *:not(.glyphicon) {
            font-family: $font-primary !important;
        }

        .modal-header {
            background: $black;

            .modal-title {
                color: $white;
            }

            .close-modal {
                background: $primary;
                box-shadow: none;
                color: $white;

                &:hover {
                    color: $primary;
                    background: $white;
                }
            }
        }

        .modal-body {
            .speaker-item {
                border: 0;
            }

            .speaker-name {
                color: $black;
                font-size: 28px;
                margin-bottom: 5px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .speaker-title,
            .comp-name {
                font-size: 18px;
                margin: 0 0 5px;
                color: $primary !important;
            }

            .comp-name {
                font-size: 16px;
            }

            .speaker-bio {
                * {
                    line-height: 1.5;
                }
            }
        }
    }
}